In [1]:
print("hello world!!!")

hello world!!!

In [2]:
a = 5 # int
b = 3.14 # float
c = 'apple' # string
d = True # bool

In [3]:
print(a)

5

In [4]:
print(c)

apple

In [5]:
print(1234)

1234

In [6]:
print('a')

a

In [11]:
print(type(b))

<class 'float'>

In [7]:
# hello apple
# hello 5

In [14]:
# method-1
print("hello",c)
print("hello",a)
print()

# method-2
print("hello "+c)
print("hello "+str(a))
print()

# method-3
print("hello %s"%c)
print("hello %d"%a)
print()

# method-4
print("hello {}".format(c))
print("hello {}".format(a))

hello apple
hello 5

hello apple
hello 5

hello apple
hello 5

hello apple
hello 5

In [23]:
# I bought 2kgs of apple for 125.36Rs
f = 'apple'
w = 2
c = 125.36

print("I bought",w,"kgs of",f,"for",c,"rs")
print("I bought "+str(w)+"kgs of "+str(f)+" for "+str(c)+"rs")
print("I bought %dkgs of %s for %0.2fRs"%(w,f,c))
print("I bought {}kgs of {} for {}Rs".format(w,f,c))

I bought 2 kgs of apple for 125.36 rs
I bought 2kgs of apple for 125.36rs
I bought 2kgs of apple for 125.36Rs
I bought 2kgs of apple for 125.36Rs

+, -,*, /, %, //

In [28]:
print(5+2)
print(5-2)
print(5*2)
print(5/2)
print(5%2)
print(5//2)

print('a'+'a')
print('a'*3)

7
3
10
2.5
1
2
aa
aaa

<, >, <=,>=,==,!=

In [27]:
print(5>2)
print(5<2)
print(5>=2)
print(5<=2)
print(5==2)
print(5!=2)

True
False
True
False
False
True

and, or, not

In [33]:
a = 5
b = 7

print(a<10 and b <10)

True

In [32]:
a = 5
b = 17

print(a<10 and b <10)

False

In [34]:
a = 5
b = 17

print(a<10 or b <10)

True

In [35]:
a = 15
b = 17

print(a<10 or b <10)

False

In [38]:
a = 5

print(a!=5)

False

In [39]:
a = 5

print(a!=15)

True

In [6]:
a = input("Enter something: ")

Enter something: hello

In [7]:
print(a, type(a))

hello <class 'str'>

In [10]:
num = float(input('Enter any number: '))
if num % 2 == 0:
    print('even')
else:
    print('odd')

Enter any number: 10.2
odd

In [14]:
num = float(input('Enter any number: '))
if num % 4 == 0:
    print("Divisible by 4 and even")
elif num % 2 == 0:
    print('even')
else:
    print('odd')

Enter any number: 5
odd

In [15]:
i = 0
while i < 5:
    num = float(input('Enter any number: '))
    if num % 4 == 0:
        print("Divisible by 4 and even")
    elif num % 2 == 0:
        print('even')
    else:
        print('odd')
    
    i = i+1 # i+= 1

Enter any number: 25
odd
Enter any number: 36
Divisible by 4 and even
Enter any number: 14
even
Enter any number: 58
even
Enter any number: 69
odd

In [18]:
ans ='y'
while ans == 'y':
    num = float(input('Enter any number: '))
    if num % 4 == 0:
        print("Divisible by 4 and even")
    elif num % 2 == 0:
        print('even')
    else:
        print('odd')
    
    ans = input("Do you want to continue? y/n: ")
else:
    print("Execution is stopped")

Enter any number: 45
odd
Do you want to continue? y/n: y
Enter any number: 14
even
Do you want to continue? y/n: n
Execution is stopped

In [17]:
while True:
    num = float(input('Enter any number: '))
    if num % 4 == 0:
        print("Divisible by 4 and even")
    elif num % 2 == 0:
        print('even')
    else:
        print('odd')

Enter any number: 45
odd
Enter any number: 36
Divisible by 4 and even
Enter any number: 25
odd
Enter any number: 48
Divisible by 4 and even
Enter any number: 98
even
Enter any number: 78
even
Enter any number: g

ValueError: could not convert string to float: 'g'

In [20]:
while True:
    num = float(input('Enter any number: '))
    if num == 15:
        print("Stopping...")
        break
    elif num == 25:
        print("skipping....")
        continue

    if num % 4 == 0:
        print("Divisible by 4 and even")
    elif num % 2 == 0:
        print('even')
    else:
        print('odd')

Enter any number: 45
odd
Enter any number: 69
odd
Enter any number: 57
odd
Enter any number: 25
skipping....
Enter any number: 36
Divisible by 4 and even
Enter any number: 14
even
Enter any number: 12
Divisible by 4 and even
Enter any number: 15
Stopping...

In [ ]:
options print
get input  
if case to check -> input for correponding 
elif 
elif
elif depends on the number of optionss
else -> instruction

In [6]:
print('Welcome to Maths zone')
print('You can calculate the area of the following objects using this program')
print('1. circle\n2. rectangle\n3. square')
choice = input('Enter your choice: ')
if choice == 'circle' or choice == '1':
    r = float(input('Enter the radius of the circle: '))
    print(
        'Area of the circle is {}sq.cm for the circle with radius {}cm'.format(
            3.14 * r * r, r))
elif choice == 'rectangle' or choice == '2':
    l = float(input('Enter the length of the rectangle: '))
    b = float(input('Enter the breadth of the rectangle: '))
    print(
        'Area of the rectangle is {}sq.cm with the length {}cm and breadth {}cm'
        .format(l * b, l, b))
elif choice == 'square' or choice == '3':
    a = float(input('Enter the sides of the square: '))
    print('Area of the square is {}sq.cm with the sides {}cm'.format(a * a, a))
else:
    print("You have choosen an invalid option")

Welcome to Maths zone
You can calculate the area of the following objects using this program
1. circle
2. rectangle
3. square
Enter your choice: 3
Enter the sides of the square: 5
Area of the square is 25.0sq.cm with the sides 5.0cm

In [ ]:
rock beats scissor
scissor beats paper
paper beats rock

In [9]:
j = ["rock", "scissor", "paper"]
print("The available choices are {}".format(j))
user = input("Enter your choice :")
comp = input("Enter your choice :")
print("Your choice is ", user, "and computer choice is ", comp)
if user == comp:
    print("Game is tie")
elif user == "rock":
    if comp == "scissor":
        print("user won the game")
    else:
        print("Computer won the game")
elif user == "scissor":
    if comp == "paper":
        print("user won the game")
    else:
        print("computer won the game")
elif user == "paper":
    if comp == "rock":
        print("user won the game")
    else:
        print("computer won the game")
else:
    print("Have a nice day....!!!")

The available choices are ['rock', 'scissor', 'paper']
Enter your choice :rock
Enter your choice :rock
Your choice is  rock and computer choice is  rock
Game is tie

In [1]:
name = 'elephant'
sent = 'elephant is an animal'

In [3]:
name[3],name[-5]

('p', 'p')

In [4]:
name[3:]

'phant'

In [5]:
name[:3]

'ele'

In [6]:
name[2:6]

'epha'

In [7]:
name[2:6:2]

'eh'

In [8]:
name[::-1]

'tnahpele'

In [9]:
del name[3]

TypeError: 'str' object doesn't support item deletion

In [10]:
name[3] = 'f'

TypeError: 'str' object does not support item assignment

In [11]:
name.capitalize()

'Elephant'

In [12]:
name.upper()

'ELEPHANT'

In [13]:
name.lower()

'elephant'

In [14]:
name.swapcase()

'ELEPHANT'

In [15]:
sent.title()

'Elephant Is An Animal'

In [16]:
name.count('e')

2

In [17]:
name.index('p'),name.find('p')

(3, 3)

In [18]:
name.index('x')

ValueError: substring not found

In [19]:
name.find('x')

-1

In [20]:
name.center(25,'~')

'~~~~~~~~~elephant~~~~~~~~'

In [21]:
len(name)

8

In [23]:
sent.encode('utf-16').decode('utf-16')

'elephant is an animal'

In [24]:
name.endswith('nt')

True

In [25]:
name.endswith('nT')

False

In [26]:
name.startswith('e')

True

In [27]:
sent.partition('an')

('eleph', 'an', 't is an animal')

In [28]:
sent.rpartition('an')

('elephant is an ', 'an', 'imal')

In [29]:
sent.split()

['elephant', 'is', 'an', 'animal']

In [30]:
sent.split('an')

['eleph', 't is ', ' ', 'imal']

In [31]:
temp = sent.split('an')
"an".join(temp)

'elephant is an animal'

In [32]:
name.replace('p','y')

'eleyhant'

In [33]:
' elephant '.strip()

'elephant'

In [34]:
name.strip('nt')

'elepha'

In [35]:
name.zfill(12)

'0000elephant'

In [36]:
name.isalpha()

True

In [37]:
name.isprintable()

True

In [38]:
"\t\%".isprintable()

False

In [39]:
name.isspace()

False

In [40]:
" ".isspace()

True

In [43]:
string = str(input("enter your own string:")).lower()
if string.isalpha():
    if string == string[::-1]:
        print("This is a palindrome string")
    else:
        print("This is not a palindrome string")
else:
    print("Invalid type")

enter your own string:45gg54
Invalid type

In [44]:
L = [] # list()

In [46]:
l = ['apple','ball','cat',1,2,3,1.25,3.14]

In [47]:
l[6]

1.25

In [48]:
del l[6]

In [49]:
l

['apple', 'ball', 'cat', 1, 2, 3, 3.14]

In [50]:
l[6]

3.14

In [51]:
l[6] = 4.58

In [52]:
l

['apple', 'ball', 'cat', 1, 2, 3, 4.58]

In [54]:
L.append('pine apple')

In [55]:
L.append('papaya')

In [56]:
L

['pine apple', 'papaya']

In [57]:
l.insert(4,'kiwi')

In [58]:
l

['apple', 'ball', 'cat', 1, 'kiwi', 2, 3, 4.58]

In [59]:
l.pop()

4.58

In [60]:
l.remove(1)

In [61]:
l

['apple', 'ball', 'cat', 'kiwi', 2, 3]

In [62]:
f = l

In [63]:
f

['apple', 'ball', 'cat', 'kiwi', 2, 3]

In [64]:
l

['apple', 'ball', 'cat', 'kiwi', 2, 3]

In [65]:
f.pop()

3

In [66]:
f

['apple', 'ball', 'cat', 'kiwi', 2]

In [67]:
l

['apple', 'ball', 'cat', 'kiwi', 2]

In [68]:
g = l.copy()

In [69]:
g

['apple', 'ball', 'cat', 'kiwi', 2]

In [70]:
l

['apple', 'ball', 'cat', 'kiwi', 2]

In [71]:
g.pop()

2

In [72]:
g

['apple', 'ball', 'cat', 'kiwi']

In [73]:
l

['apple', 'ball', 'cat', 'kiwi', 2]

In [74]:
l[::-1]

[2, 'kiwi', 'cat', 'ball', 'apple']

In [75]:
l.reverse()

In [76]:
l

[2, 'kiwi', 'cat', 'ball', 'apple']

In [78]:
l.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [79]:
g.sort()

In [81]:
g.extend([1,2,3,4])

In [82]:
g

['apple', 'ball', 'cat', 'kiwi', 1, 2, 3, 4]

In [83]:
t = ('apple', 'ball', 'cat', 'kiwi', 1, 2, 3, 4)

In [84]:
t

('apple', 'ball', 'cat', 'kiwi', 1, 2, 3, 4)

In [85]:
del t[6]

TypeError: 'tuple' object doesn't support item deletion

In [86]:
d = {} #  dict()

In [87]:
d = {'a':'apple','b':'ball',2:23,3.14:g[:5]}

In [88]:
d

{'a': 'apple', 'b': 'ball', 2: 23, 3.14: ['apple', 'ball', 'cat', 'kiwi', 1]}

In [89]:
d['b']

'ball'

In [91]:
d[2] = 'cat'

In [92]:
d

{'a': 'apple',
 'b': 'ball',
 2: 'cat',
 3.14: ['apple', 'ball', 'cat', 'kiwi', 1]}

In [93]:
d['d'] = 'dog'

In [94]:
d

{'a': 'apple',
 'b': 'ball',
 2: 'cat',
 3.14: ['apple', 'ball', 'cat', 'kiwi', 1],
 'd': 'dog'}

In [95]:
g

['apple', 'ball', 'cat', 'kiwi', 1, 2, 3, 4]

In [96]:
dict.fromkeys(g)

{'apple': None,
 'ball': None,
 'cat': None,
 'kiwi': None,
 1: None,
 2: None,
 3: None,
 4: None}

In [97]:
d['x']

KeyError: 'x'

In [98]:
d.get('x')

In [99]:
d.keys()

dict_keys(['a', 'b', 2, 3.14, 'd'])

In [100]:
d.values()

dict_values(['apple', 'ball', 'cat', ['apple', 'ball', 'cat', 'kiwi', 1], 'dog'])

In [101]:
d.items()

dict_items([('a', 'apple'), ('b', 'ball'), (2, 'cat'), (3.14, ['apple', 'ball', 'cat', 'kiwi', 1]), ('d', 'dog')])

In [102]:
d.update({'e':name,'f':'fish'})

In [103]:
d

{'a': 'apple',
 'b': 'ball',
 2: 'cat',
 3.14: ['apple', 'ball', 'cat', 'kiwi', 1],
 'd': 'dog',
 'e': 'elephant',
 'f': 'fish'}

In [110]:
for _ in range(5):
    print("hi")

hi
hi
hi
hi
hi

In [112]:
for i in range(5):
    print(i)

0
1
2
3
4

In [113]:
for i in name:
    print(i)

e
l
e
p
h
a
n
t

In [115]:
for i in l:
    if str(i).isalpha():
        print(i)

kiwi
cat
ball
apple

In [116]:
for k in d.keys():
    print(k)

a
b
2
3.14
d
e
f

In [117]:
for v in d.values():
    print(v)

apple
ball
cat
['apple', 'ball', 'cat', 'kiwi', 1]
dog
elephant
fish

In [118]:
for k,v in d.items():
    print(k,'->',v)

a -> apple
b -> ball
2 -> cat
3.14 -> ['apple', 'ball', 'cat', 'kiwi', 1]
d -> dog
e -> elephant
f -> fish

In [119]:
l

[2, 'kiwi', 'cat', 'ball', 'apple']

In [120]:
g

['apple', 'ball', 'cat', 'kiwi', 1, 2, 3, 4]

In [121]:
for i,j in zip(l,g):
    print(i,j)

2 apple
kiwi ball
cat cat
ball kiwi
apple 1

In [1]:
def addition():
    a = int(input("A: "))
    b = int(input("B: "))
    print(a+b,a*b)

In [2]:
addition()

A: 52
B: 12
64 624

In [3]:
def addition():
    a = int(input("A: "))
    b = int(input("B: "))
    return a+b,a*b

In [4]:
s,m = addition()

A: 5
B: 1

In [6]:
s,m

(6, 5)

In [7]:
def addition(a,b):
    return a+b,a*b

In [8]:
a = int(input("A: "))
b = int(input("B: "))

A: 6
B: 4

In [10]:
addition(a,b)

(10, 24)

In [11]:
def addition(b,a=15):
    return a+b,a*b

In [13]:
addition(a,b)

(10, 24)

In [14]:
def addition(*args):
    print(args)
    return sum(args)

In [15]:
addition(1,2,3,4,5)

(1, 2, 3, 4, 5)

15

In [16]:
def addition(**kwargs):
    total = 0
    for k,v in kwargs.items():
        total += v
    return total

In [17]:
addition(a=6,b=7,c=8,d=2)

23

In [34]:
def primeCheck(i):
    flag = False
    for j in range(2, i):
        if i % j == 0:
            break
    else:
        flag = True
        return i

In [23]:
#Program to print prime numbers
initial=10
end=20
for i in range(initial,end):
    if primeCheck(i):
        print(i)

11
13
17
19

In [24]:
f = lambda a,b : a+b

In [25]:
f(5,2)

7

In [26]:
g = lambda s: s.upper()

In [27]:
g('apple')

'APPLE'

In [28]:
temp = []
for i in range(initial, end):
    if i % 2 == 0:
        temp.append(i)

In [29]:
temp

[10, 12, 14, 16, 18]

In [30]:
[i for i in range(initial,end) if i % 2 == 0]

[10, 12, 14, 16, 18]

In [35]:
list(map(primeCheck,list(range(initial,end))))

[None, 11, None, 13, None, None, None, 17, None, 19]

In [36]:
list(filter(None,list(map(primeCheck,list(range(initial,end))))))

[11, 13, 17, 19]

In [39]:
def evenCheck(i):
    if i % 2 == 0:
        return i

In [40]:
list(map(evenCheck,list(range(initial,end))))

[10, None, 12, None, 14, None, 16, None, 18, None]

In [41]:
list(filter(None,list(map(evenCheck,list(range(initial,end))))))

[10, 12, 14, 16, 18]

In [43]:
print(k)
print("hello")

NameError: name 'k' is not defined

In [44]:
try:
    print(k)
except:
    print("There is an error")
print("hello")

There is an error
hello

In [47]:
try:
    print(k=3)
except Exception as e:
    print("There is an error:",str(e))
print("hello")

There is an error: 'k' is an invalid keyword argument for this function
hello

In [50]:
try:
    print(k=4)
except NameError as e:
    print("Name error:",e)
except TypeError as e:
    print("Type error:",e)
print("hello")

Type error: 'k' is an invalid keyword argument for this function
hello

In [51]:
try:
    print(k=4)
except (NameError,TypeError) as e:
    print("Error:",e)
print("hello")

Error: 'k' is an invalid keyword argument for this function
hello

In [ ]:
oops

file handling

visualization