Github link

        https://github.com/sharmasaravanan/Machine_learning
    
Suplements:
    
        https://drive.google.com/drive/folders/17dMizJX_2XY845HuCl3Gy54OMBrBJpv7?usp=sharing
        
        https://drive.google.com/drive/folders/1RkYqT1wuKGXB-AM_oUqc9CVU90Pg4hkP?usp=sharing

### 8-6-19

In [1]:
a = 8
b = 5
print(a+b)

13

####  Data types

In [2]:
i = 5 #int
f = 3.14 #float
s = 'apple' #string
b = True #bool

In [3]:
print(type(b))

<class 'bool'>

#### output

In [4]:
print(b) # printing variable
print(8956) #printing integer
print("hello world") #printing string

True
8956
hello world

In [5]:
print("hello., how are you?","i am doing good",sep="\n")

hello., how are you?
i am doing good

#### formatted output

In [6]:
# hello apple
# hello 5

print("--------Method 1-----------")
print("hello "+s)
print("hello "+str(i))

print("--------Method 2-----------")
print("hello",s)
print("hello",i)

print("--------Method 3-----------")
print("hello %s"%s)
print("hello %d"%i)

print("--------Method 4-----------")
print("hello {}".format(s))
print("hello {}".format(i))

--------Method 1-----------
hello apple
hello 5
--------Method 2-----------
hello apple
hello 5
--------Method 3-----------
hello apple
hello 5
--------Method 4-----------
hello apple
hello 5

In [7]:
# I saw a boy whose age is 15 and his name is John. He has a sister of 5years old.
a1 = 15
a2 = 5
name = "John"

In [8]:
print(" I saw a boy whose age is "+str(a1)+" and his name is "+name+". He has a sister of "+str(a2)+"years old.")
print(" I saw a boy whose age is",a1,"and his name is",name,". He has a sister of",a2,"years old.")
print(" I saw a boy whose age is %d and his name is %s. He has a sister of %dyears old."%(a1,name,a2))
print(" I saw a boy whose age is {} and his name is {}. He has a sister of {}years old".format(a1,name,a2))

 I saw a boy whose age is 15 and his name is John. He has a sister of 5years old.
 I saw a boy whose age is 15 and his name is John . He has a sister of 5 years old.
 I saw a boy whose age is 15 and his name is John. He has a sister of 5years old.
 I saw a boy whose age is 15 and his name is John. He has a sister of 5years old

In [9]:
print(" I saw a boy whose age is {1} and his name is {2}. He has a sister of {0}years old".format(a2,a1,name))

 I saw a boy whose age is 15 and his name is John. He has a sister of 5years old

In [11]:
print("hello",name,"\nhow are you?")

hello John
how are you?

In [ ]:
    *
  *    *
*   *    *

In [17]:
n = 4

ans = int(str(n)+str(n)+str(n))+int(str(n)+str(n))+n
print(ans)

492

In [19]:
int(str(n)*3)+int(str(n)*2)+n

492

In [20]:
n='5'
int(n+n+n)+int(n+n)+int(n)

615

In [22]:
char = '    *'

In [24]:
char+char

'    *    *'

In [25]:
print("  *  "," * * ","* * *",sep="\n")

  *
 * *
* * *

#### getting input

In [36]:
num = int(input("Enter the numerical value : "))
name = input("Enter your name : ")

Enter the numerical value : 6
Enter your name : papaya

In [37]:
type(num)

int

In [38]:
type(name)

str

In [39]:
print(num,name)

6 papaya

#### operators

1. Arithmetic operators:-
 
       +, -, *, /, %
2. Logical operators:-

        and, or, not
3. Conditional operators:-

        <, >, <=, >=, ==, !=
4. Misc operators:-

        not in, is, in

#### If-else

In [45]:
num = int(input("Enter the numerical value : "))
if num %2 == 0: 
    print("even")
else:
    print("odd")

Enter the numerical value : 78
even

#### If-elif-else

In [50]:
num = int(input("Enter the numerical value : "))
if num %4 == 0:
    print("Divisible by 4 and even")
elif num %2 == 0:
    print("Even")
else:
    print("Odd")

Enter the numerical value : j

ValueError: invalid literal for int() with base 10: 'j'

In [57]:
name = input("Enter any fruit name : ")
if name == "apple":
    print("color is red")
elif name == "papaya" or name == 'orange':
    print("color is orange")
elif name == "banana" or name == "lemon":
    print("color is yellow")
elif name == "grapes":
    print("color is green or violet")
else:
    print("Invalid fruit name")

Enter any fruit name : 5
Invalid fruit name

Weekly task

1. Rock, paper and scissor game
        rock beats scissor
        paper beats rock
        scissor beats paper
        
2. Two dice game
        if 7 or 11 is a sum value
        if sum is even number 
        if 1 and 5 in both dice

### 15-06-19

#### While loop

In [3]:
while True:
    num = int(input("Enter the numerical value : "))
    if num == 15:
        print("Shutting down")
        break
    elif num == 25:
        print("Skipping")
        continue
        
    if num %4 == 0:
        print("Divisible by 4 and even")
    elif num %2 == 0:
        print("Even")
    else:
        print("Odd")

Enter the numerical value : 96
Divisible by 4 and even
Enter the numerical value : 86
Even
Enter the numerical value : 25
Skipping
Enter the numerical value : 85
Odd
Enter the numerical value : 15
Shutting down

In [5]:
i = 0
while i < 4:
    num = int(input("Enter the numerical value : "))
    if num == 15:
        print("Shutting down")
        break
    elif num == 25:
        print("Skipping")
        continue
        
    if num %4 == 0:
        print("Divisible by 4 and even")
    elif num %2 == 0:
        print("Even")
    else:
        print("Odd")
    i += 1

Enter the numerical value : 85
Odd
Enter the numerical value : 25
Skipping
Enter the numerical value : 96
Divisible by 4 and even
Enter the numerical value : 45
Odd
Enter the numerical value : 68
Divisible by 4 and even

In [7]:
opt = 'y'
while opt == 'y':
    num = int(input("Enter the numerical value : "))
    if num == 15:
        print("Shutting down")
        break
    elif num == 25:
        print("Skipping")
        continue
        
    if num %4 == 0:
        print("Divisible by 4 and even")
    elif num %2 == 0:
        print("Even")
    else:
        print("Odd")
    
    opt = input("Do you want to continue ? y/n :-")

Enter the numerical value : 89
Odd
Do you want to continue ? y/nn

#### String operation

In [59]:
name  = " apple "
sent = "Elephant is a big mammal"

In [19]:
# slicing

name[2:4]

sent[2:16:3]

'ea  b'

In [20]:
sent[2:16]

'ephant is a bi'

In [22]:
name[0] = 'A'

TypeError: 'str' object does not support item assignment

In [85]:
# string function

name.capitalize()
name.casefold()
name.center(26,'*')
name.count('p')
name.encode("utf-16").decode('utf16')
name.endswith('lE')
name.startswith('ap')
"i\tam\tsharma".expandtabs(1)
name.find('p')
name.index('p')
"".isspace()
name.lower()
name.upper()
sent.title()
name.swapcase()
name.replace('p',"W")
name.lstrip()
name.rstrip()
name.strip('e')
sent.split()

['Elephant', 'is', 'a', 'big', 'mammal']

In [75]:
sentSplit = sent.split()

In [81]:
" ".join(sentSplit)

'Elephant is a big mammal'

In [82]:
name[::-1]

' elppa '

1. palindrome or not
2. "Bright Ink for Better Visibillity ." -> ". Visibillity Better for Ink Bright"

In [83]:
temp = "Bright Ink for Better Visibillity ."

In [84]:
" ".join(temp.split()[::-1])

'. Visibillity Better for Ink Bright'

#### List

In [86]:
l = []

In [88]:
L = [1,'a','apple',2,'b','ball',3,'c','cat']

In [89]:
L

[1, 'a', 'apple', 2, 'b', 'ball', 3, 'c', 'cat']

In [91]:
L[5]

'ball'

In [92]:
len(L)

9

In [94]:
L[6] = 5

In [95]:
L

[1, 'a', 'apple', 2, 'b', 'ball', 5, 'c', 'cat']

In [109]:
# List Function

L.append('dog')

In [103]:
L.insert(3,'fish')

In [104]:
L

[1, 'a', 'apple', 'fish', 2, 'b', 'ball', 5, 'c', 'cat', 'dog']

In [105]:
L.pop()

'dog'

In [111]:
L.remove('dog')

In [112]:
L

[1, 'a', 'apple', 'fish', 2, 'b', 'ball', 5, 'c', 'dog']

In [113]:
L.index('fish')

3

In [115]:
L[3]

'fish'

In [116]:
L.reverse()

In [125]:
L.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [119]:
l.extend(["water","rain","zinc"])

In [120]:
l

['Apple', 'Ball', 'water', 'rain', 'zinc']

In [121]:
l.sort()

In [123]:
l.sort(reverse=True)

In [124]:
l

['zinc', 'water', 'rain', 'Ball', 'Apple']

In [126]:
f = l.copy()

In [127]:
f

['zinc', 'water', 'rain', 'Ball', 'Apple']

In [129]:
l.clear()

In [130]:
l

[]

In [131]:
f

['zinc', 'water', 'rain', 'Ball', 'Apple']

#### Tuple

In [132]:
t = ('zinc', 'water', 'rain', 'Ball', 'Apple')

In [133]:
t

('zinc', 'water', 'rain', 'Ball', 'Apple')

In [134]:
f

['zinc', 'water', 'rain', 'Ball', 'Apple']

In [137]:
f[0] = "xyz"

In [138]:
t[0] = "xyz"

TypeError: 'tuple' object does not support item assignment

In [139]:
L[6]

'fish'

In [140]:
del L[6]

In [141]:
L

['dog', 'c', 5, 'ball', 'b', 2, 'apple', 'a', 1]

In [142]:
L[6]

'apple'

In [143]:
t[4]

'Apple'

In [144]:
del t[4]

TypeError: 'tuple' object doesn't support item deletion

#### For loop

In [146]:
for i in range(5):
    print(i)
    print("hi")

0
hi
1
hi
2
hi
3
hi
4
hi

In [151]:
for i in range(21,31,2):
    print(i)

21
23
25
27
29

In [154]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [156]:
for i in L:
    print(i)

5
ball
b
2

In [157]:
for i in range(len(L)):
    print(i)

0
1
2
3
4
5
6
7
8

In [158]:
f

['xyz', 'water', 'rain', 'Ball', 'Apple']

In [159]:
for i,j in zip(L,f):
    print(i,j)

dog xyz
c water
5 rain
ball Ball
b Apple

In [160]:
for idx,value in enumerate(L):
    print(idx,value)

0 dog
1 c
2 5
3 ball
4 b
5 2
6 apple
7 a
8 1

In [162]:
l1 = [1,2,2,3,4,3]
l2 = [1,1,2,3,5,5,3]
for i in l1:
    for j in l2:
        if i==j:

[1, 2, 3, 4]
[1, 2, 3, 5]

In [164]:
l3 = []
for i in l1:
    if i in l2 and i not in l3:
        l3.append(i)

In [165]:
l3

[1, 2, 3]

In [166]:
set(l1)&set(l2)

{1, 2, 3}

### 22-06-19

In [1]:
import random

In [5]:
num = random.randint(0,10)
print(num)

2

#### Dictionary

In [6]:
D = dict()

In [23]:
d = {'a':1,"b":3.14,"c":"apple",'d':[1,2,3,4,5],'z':'zack','e':('apple','mango'),'f':{1:'ball',2:'cat'},3:True,'a':18}

In [24]:
d

{'a': 18,
 'b': 3.14,
 'c': 'apple',
 'd': [1, 2, 3, 4, 5],
 'z': 'zack',
 'e': ('apple', 'mango'),
 'f': {1: 'ball', 2: 'cat'},
 3: True}

In [25]:
d['c']

'apple'

In [26]:
d['b'] = 6.358

In [27]:
d

{'a': 18,
 'b': 6.358,
 'c': 'apple',
 'd': [1, 2, 3, 4, 5],
 'z': 'zack',
 'e': ('apple', 'mango'),
 'f': {1: 'ball', 2: 'cat'},
 3: True}

In [28]:
d["papaya"] = "fruit"

In [29]:
d

{'a': 18,
 'b': 6.358,
 'c': 'apple',
 'd': [1, 2, 3, 4, 5],
 'z': 'zack',
 'e': ('apple', 'mango'),
 'f': {1: 'ball', 2: 'cat'},
 3: True,
 'papaya': 'fruit'}

In [30]:
del d[3]

In [31]:
d

{'a': 18,
 'b': 6.358,
 'c': 'apple',
 'd': [1, 2, 3, 4, 5],
 'z': 'zack',
 'e': ('apple', 'mango'),
 'f': {1: 'ball', 2: 'cat'},
 'papaya': 'fruit'}

In [32]:
D

{}

In [33]:
l = ['apple',"mango","papaya","pine apple"]

In [34]:
listDict = {}
for i in l:
    listDict[i] = None

In [35]:
listDict

{'apple': None, 'mango': None, 'papaya': None, 'pine apple': None}

In [36]:
dict((c,None) for c in l)

{'apple': None, 'mango': None, 'papaya': None, 'pine apple': None}

In [38]:
[(c,None) for c in l]

[('apple', None), ('mango', None), ('papaya', None), ('pine apple', None)]

In [40]:
listDict.clear()

In [41]:
listDict

{}

In [45]:
d.get('i','Vegetables')

'Vegetables'

In [46]:
d['i']

KeyError: 'i'

In [47]:
d.get('f','Vegetables')

{1: 'ball', 2: 'cat'}

In [49]:
j = d.get('i')

In [51]:
print(j)

None

In [53]:
list(d.items())

[('a', 18),
 ('b', 6.358),
 ('c', 'apple'),
 ('d', [1, 2, 3, 4, 5]),
 ('z', 'zack'),
 ('e', ('apple', 'mango')),
 ('f', {1: 'ball', 2: 'cat'}),
 ('papaya', 'fruit')]

In [55]:
for i in d.items():
    print(i)

('a', 18)
('b', 6.358)
('c', 'apple')
('d', [1, 2, 3, 4, 5])
('z', 'zack')
('e', ('apple', 'mango'))
('f', {1: 'ball', 2: 'cat'})
('papaya', 'fruit')

In [56]:
for k,v in d.items():
    print(k,v)

a 18
b 6.358
c apple
d [1, 2, 3, 4, 5]
z zack
e ('apple', 'mango')
f {1: 'ball', 2: 'cat'}
papaya fruit

In [57]:
d.keys()

dict_keys(['a', 'b', 'c', 'd', 'z', 'e', 'f', 'papaya'])

In [58]:
d.values()

dict_values([18, 6.358, 'apple', [1, 2, 3, 4, 5], 'zack', ('apple', 'mango'), {1: 'ball', 2: 'cat'}, 'fruit'])

In [60]:
d.pop('papaya')

'fruit'

In [61]:
d

{'a': 18,
 'b': 6.358,
 'c': 'apple',
 'd': [1, 2, 3, 4, 5],
 'z': 'zack',
 'e': ('apple', 'mango'),
 'f': {1: 'ball', 2: 'cat'}}

In [62]:
d.popitem()

('f', {1: 'ball', 2: 'cat'})

In [63]:
d

{'a': 18,
 'b': 6.358,
 'c': 'apple',
 'd': [1, 2, 3, 4, 5],
 'z': 'zack',
 'e': ('apple', 'mango')}

In [67]:
D.update({4: 'ball', 3: 'cat'})

In [68]:
D

{1: 'ball', 2: 'cat', 4: 'ball', 3: 'cat'}

In [73]:
D.setdefault('j',"fish")

'fish'

In [74]:
D

{1: 'ball', 2: 'cat', 4: 'ball', 3: 'cat', 'i': None, 'j': 'fish'}

In [75]:
D.update(d)

In [76]:
D

{1: 'ball',
 2: 'cat',
 4: 'ball',
 3: 'cat',
 'i': None,
 'j': 'fish',
 'a': 18,
 'b': 6.358,
 'c': 'apple',
 'd': [1, 2, 3, 4, 5],
 'z': 'zack',
 'e': ('apple', 'mango')}

In [77]:
l

['apple', 'mango', 'papaya', 'pine apple']

In [78]:
emptyDict = {}
for i in range(0,4):
    emptyDict[i] = l[i]

In [79]:
emptyDict

{0: 'apple', 1: 'mango', 2: 'papaya', 3: 'pine apple'}

In [82]:
newDict = dict(d)

In [83]:
newDict

{'a': 18,
 'b': 6.358,
 'c': 'apple',
 'd': [1, 2, 3, 4, 5],
 'z': 'zack',
 'e': ('apple', 'mango')}

In [89]:
d

{'a': 18,
 'b': 6.358,
 'c': 'apple',
 'd': [1, 2, 3, 4, 5],
 'z': 'zack',
 'e': ('apple', 'mango')}

In [ ]:
functions
oops
file handling

visualization

In [1]:
studentsMark = {}
studentTotal = {}

for cnt in range(5):
    name = input("Enter your name : ")
    marks = []
    total = 0
    for i in range(1,6):
        mark = int(input("Enter the mark for subject%d : "%i)) 
        total += mark
        marks.append(mark)
    studentsMark[name] = marks
    studentTotal[name] = sum(marks)

Enter your name : a
Enter the mark for subject145
Enter the mark for subject285
Enter the mark for subject363
Enter the mark for subject445
Enter the mark for subject512
250 250
Enter your name : b
Enter the mark for subject145
Enter the mark for subject263
Enter the mark for subject385
Enter the mark for subject478
Enter the mark for subject589
360 360
Enter your name : c
Enter the mark for subject196
Enter the mark for subject293
Enter the mark for subject395
Enter the mark for subject494
Enter the mark for subject599
477 477
Enter your name : d
Enter the mark for subject112
Enter the mark for subject245
Enter the mark for subject352
Enter the mark for subject436
Enter the mark for subject545
190 190
Enter your name : e
Enter the mark for subject174
Enter the mark for subject296
Enter the mark for subject385
Enter the mark for subject441
Enter the mark for subject552
348 348

In [2]:
studentTotal

{'a': 250, 'b': 360, 'c': 477, 'd': 190, 'e': 348}

In [3]:
studentsMark

{'a': [45, 85, 63, 45, 12],
 'b': [45, 63, 85, 78, 89],
 'c': [96, 93, 95, 94, 99],
 'd': [12, 45, 52, 36, 45],
 'e': [74, 96, 85, 41, 52]}

### 29-06-19

#### libraries

##### To install library

1. Open command prompt
2. type the following command in cmd
    
        pip install <library name>
   e.g:-
   
           pip install numpy

#####  Importing libraries

In [5]:
# method 1 -> raw format

import random

random.randint(0,5)

3

In [7]:
# method 2 -> assigning short word

import math as m

m.factorial(5)

120

In [11]:
# method 3 -> importing what we need

from random import randint,randrange

randint(10,25)

25

In [13]:
# method 4 -> when we aren't aware of what we need

from math import *

sin(90)

0.8939966636005579

#### Modules

In [14]:
import moduleTest

In [15]:
moduleTest.chuma()

hello world

In [1]:
from moduleTest import chuma

ModuleNotFoundError: No module named 'moduleTest'

In [17]:
chuma()

hello world

In [22]:
from .SDG import moduleTest

ModuleNotFoundError: No module named '__main__.SDG'; '__main__' is not a package

In [ ]:
if __name__ == '__main__':

In [23]:
set('apple')

{'a', 'e', 'l', 'p'}

#### Error handling

In [24]:
print(a)
print("hello")

NameError: name 'a' is not defined

In [25]:
try:
    print(a)
except:
    print("There is some error")
print("hello")

There is some error
hello

In [28]:
try:
    print(a)
except Exception as e:
    print(e)
    print("There is some error")
print("hello")

name 'a' is not defined
There is some error
hello

In [29]:
print(a=5)

TypeError: 'a' is an invalid keyword argument for this function

In [55]:
a = '4'
try:
    print(a=5)
except (NameError,TypeError):
    print("There is name error")
except:
    print("syntax error")
print("hello")

There is name error
hello

In [47]:
try:
    print(g)
except:
    pass
finally:
    print("hey")

hey

In [48]:
try:
    print(g)
except:
    pass
print("hey")

hey

In [49]:
num = int(input("Enter the number : "))

Enter the number : 8

In [54]:
try:
    if num <= 10:
        raise ValueError()
except ValueError as e:
    print(e)
    print("THis is value error")

THis is value error

In [ ]:
functions
oops

file handling
visualize

In [2]:
from housePrediction import customModule

Hello word

In [3]:
customModule.test()

Enter the number : 45
675

In [4]:
l = [2,3,2,1,4,3,2,1,4]

In [5]:
from collections import Counter

In [7]:
count = Counter(l)

In [10]:
count.most_common()

[(2, 3), (3, 2), (1, 2), (4, 2)]

In [11]:
import random
print ("Welcome to the game of HANGMAN!!!")
f=open("sowpods.txt",'r+')
lin=f.readlines()
words=[]
for i in lin:
    words.append(i.strip())
count=0

Welcome to the game of HANGMAN!!!

In [13]:
picked = random.choice(words)
print (picked)
print ("The starting letter of word is ",picked[0])

LIGHTNINGS
The starting letter of word is  L

In [14]:
ori=list(picked)
ans=list("_"*len(picked))
print (ans)

['_', '_', '_', '_', '_', '_', '_', '_', '_', '_']

In [15]:
guess="n"
if guess.upper()in ori:
    print('yes')
    num = []
    for i,x in enumerate(ori):
        print(i,x,sep=" => ")
        if x == guess.upper():
            print(i)
            num.append(i)
    print(num)

yes
0 => L
1 => I
2 => G
3 => H
4 => T
5 => N
5
6 => I
7 => N
7
8 => G
9 => S
[5, 7]

In [16]:
for x in num:
    ans[x]=guess.upper()
print (ans)

['_', '_', '_', '_', '_', 'N', '_', 'N', '_', '_']

### 2019-07-13

#### Functions

##### No arg and no return

In [45]:
def add():
    a = int(input("A : "))
    b = int(input("B : "))
    print(a+b,a*b)

In [46]:
add()

A : 6
B : 5
11 30

##### arg and no return

In [48]:
def add(a,b):
    """ it does summation and multplication of two numbers"""
    print(a+b,a*b)

In [49]:
a = int(input("A : "))
b = int(input("B : "))
add(a,b)

A : 98
B : 63
161 6174

##### default arg and no return

In [53]:
def add1(a,b=10):
    'it does summation and multplication of two numbers'
    print(a+b,a*b)

In [54]:
a = int(input("A : "))
b = int(input("B : "))
add1(a,b)

A : 3
B : 2
5 6

##### arg and return

In [56]:
def add2(a,b):
    'it does summation and multplication of two numbers'
    return a+b,a*b

In [57]:
a = int(input("A : "))
b = int(input("B : "))
s = add2(a,b)

A : 4
B : 3

In [58]:
s

(7, 12)

In [59]:
s,m = add2(a,b)

In [60]:
s

7

In [61]:
m

12

##### undefined number of arguments

In [62]:
def multi(*argv):
    for arg in argv:
        print(arg)

In [63]:
multi('apple','mango','papaya')

apple
mango
papaya

In [81]:
def kwMulti(**kwargs):
    for k,v in kwargs.items():
        print(k,v,sep=" => ")

In [85]:
dic = {'fruit':'apple','vegetable':'potato'}
kwMulti(**dic)

fruit => apple
vegetable => potato

In [84]:
kwMulti(fruit='apple',vegetable = ' potato')

fruit => apple
vegetable =>  potato

#### Inbuit functions

In [ ]:
map, lambda, filter, reduce

In [90]:
addition = lambda a,b:(a*b,a+b)

In [91]:
addition(3,5)

(15, 8)

In [1]:
l = [0, 1, 2, 3, 4, 5, 6, 7, 8]

In [2]:
import time

In [3]:
def test(i):
    return i*2

In [4]:
start = time.time()
print(list(map(test,l)))
print(time.time()-start)

[0, 2, 4, 6, 8, 10, 12, 14, 16]
0.0002732276916503906

In [5]:
start = time.time()
print([test(i) for i in l])
print(time.time()-start)

[0, 2, 4, 6, 8, 10, 12, 14, 16]
0.0005414485931396484

In [6]:
start = time.time()
temp = []
for i in l:
    temp.append(test(i))
print(temp)
print(time.time()-start)

[0, 2, 4, 6, 8, 10, 12, 14, 16]
0.00025081634521484375

In [8]:
list(map(str,l))

['0', '1', '2', '3', '4', '5', '6', '7', '8']

#### Task

In [9]:
inputStatement = "green-red-yellow-black-white"

In [13]:
temp = inputStatement.split('-')
temp.sort(reverse=True)

In [12]:
inputStatement

'green-red-yellow-black-white'

In [14]:
temp

['yellow', 'white', 'red', 'green', 'black']

In [15]:
'-'.join(temp)

'yellow-white-red-green-black'

In [16]:
sent = "The food is VERY Good"

In [19]:
sum(list(map(str.islower,sent)))

11

In [20]:
sum(list(map(str.isupper,sent)))

6

#### Function overloading

In [22]:
def add(a,b,c= None):
    if c:
        print(a+b+c)
    else:
        print(a+b)

In [23]:
add(5,6)

11

In [24]:
add(5,6,7)

18

### OOP

In [30]:
class A:
    def display(self,name):
        print("Entered name is %s" % name)

    def show(self,name, age):
        print("Name is %s" % name)
        print("age is %d" % age)

In [31]:
a = A()

In [33]:
name = 'papaya'

In [32]:
a.display('apple')

Entered name is apple

In [34]:
a.show('apple',2)

Name is apple
age is 2

In [35]:
class B:
    def display(self,name):
        self.name = name
        print("Entered name is %s" % self.name)

    def show(self,age):
        print("Name is %s" % self.name)
        print("age is %d" % age)

In [36]:
b = B()

In [37]:
b.display('apple')

Entered name is apple

In [38]:
b.show(5)

Name is apple
age is 5

In [45]:
class C:
    def __init__(self, name, quantity):
        self.name = name
        self.quantity = quantity

    def display(self):
        print("You bought %s item" % self.name)

    def calculation(self, price):
        self.price = price
        print("Your bill amount for the item %s is %f" %
              (self.name, self.quantity * self.price))

In [46]:
c = C('pine apple',2.340)

In [47]:
c.display()

You bought pine apple item

In [48]:
c.calculation(65)

Your bill amount for the item pine apple is 152.100000

In [55]:
class D:
    def __init__(self, item, quantity):
        self.item = item
        self.quantity = quantity

    def display(self):
        print("You bought %s item" % self.item)

    def calculation(self, price):
        self.price = price
        print("Your bill amount for the item %s is %f" %
              (self.item, self.quantity * self.price))

In [56]:
item

NameError: name 'item' is not defined

In [57]:
d = D('mango',1.5)

In [58]:
d.display()

You bought mango item

In [59]:
d.calculation(25)

Your bill amount for the item mango is 37.500000

In [61]:
class parent:
    def __init__(self, name, number):
        self.name = name
        self.number = number

    def contact(self):
        print('Name : %s \nNumber : %d' % (self.name, self.number))

In [84]:
class child(parent):
    def __init__(self,name,number,address):
        self.name = name
        self.number = number
        self.address = address
    def display(self):
        parent.contact(self)
        print("Address : %s"%self.address)

In [85]:
child = child('abc',984654622,'tansi nagar,Velachery')

In [86]:
child.address

'tansi nagar,Velachery'

In [87]:
child.contact()

Name : abc
Number : 984654622

In [88]:
child.display()

Name : abc
Number : 984654622
Address : tansi nagar,Velachery

In [89]:
class P:
    def method(self):
        print("I am from parent class")

In [96]:
class Ch(P):
    def method(self):
        print("I am from child class")

In [97]:
ch = Ch()

In [98]:
ch.method()

I am from child class

In [100]:
from housePrediction.customModule import D

In [102]:
fruit = D('orange',5)

In [103]:
fruit.calculation(36)

Your bill amount for the item orange is 180.000000