## 12-01-2019

In [1]:
print("hello world")

hello world

In [3]:
a = 5
b = 10
print(a+b)

15

In [3]:
a = 5#int
f = 3.14#float
s = 'apple'#string
b = True#bool

In [6]:
print(type(s))
print(type(b))

<class 'str'>
<class 'bool'>

In [8]:
print(f)

3.14

In [9]:
print(4)

4

## 19-01-2019

In [1]:
print("hello")

hello

In [2]:
print(12345678945612)

12345678945612

In [10]:
#welcome apple
#welcome 5

#method-1
print("welcome",s)
print("welcome",a)
print(" ")
#methode-2
print("welcome "+s)
print("welcome "+str(a))
print(" ")
#methode-3
print("welcome %s"%s)
print("welcome %d"%a)
print(" ")
#methode-4
print("welcome {}".format(s))
print("welcome {}".format(a))

welcome apple
welcome 5

welcome apple
welcome 5

welcome apple
welcome 5

welcome apple
welcome 5

In [12]:
#I bought a book of 500 pages which costs 150rs.

print("Method-1:-")
print("\tI bought a book of",500,"pages which costs",150,"rs.")
print("Method-2:-")
print("\tI bought a book of "+str(500)+" pages which costs "+str(150)+"rs.")
print("Method-3:-")
print("\tI bought a book of %d pages which costs %drs."%(500,150))
print("Method-4:-")
print("\tI bought a book of {} pages which costs {}rs.".format(500,150))

Method-1:-
	I bought a book of 500 pages which costs 150 rs.
Method-2:-
	I bought a book of 500 pages which costs 150rs.
Method-3:-
	I bought a book of 500 pages which costs 150rs.
Method-4:-
	I bought a book of 500 pages which costs 150rs.

In [ ]:
        *
    *        *
*       *       *

n = 4
(444+44+4)
ans = 492 

n*111 n*11 n*1

In [19]:
n=4
ans = int(str(n)+str(n)+str(n))+int(str(n)+str(n))+n
print(ans)

ans1 = int(str(n)*3)+int(str(n)*2)+n
print(ans1)

492
492

#operator overloading
+ -> addition arithmetic operation (int + int)
5 + 3
+ -> string concatenation (string + string)
"welcome" + "apple"

* -> multiplication arithmetic operation (int * int)
2 * 3
* -> string duplications (string* int)
"apple"*3

In [20]:
"apple"*3

'appleappleapple'

In [ ]:
operators:
    arithmetic:-
        + - * / %
    conditional:-
        < > <= >= == !=
    logical:-
        and or not
    misc:-
        is , is in , not in ,in

In [36]:

n = float(input("Enter the value :"))

Enter the value :3.14

In [37]:
type(n)

float

In [38]:
n+4

7.140000000000001

## 20-01-19

In [3]:
num = int(input("Enter the number :"))
if num%2 == 0:
    print("Even")
else:
    print("Odd")

Enter the number :7
Odd

In [5]:
num = int(input("Enter the number :"))
if num%4 == 0:
    print("Divisible by 4 and Even")
elif num%2==0:
    print("Even")
else:
    print("Odd")

Enter the number :10
Even

In [10]:
i = 1
name = input("Enter your name :")
while i<= len(name):
    num = int(input("Enter the number :"))
    if num%4 == 0:
        print("Divisible by 4 and Even")
    elif num%2==0:
        print("Even")
    else:
        print("Odd")
    i += 1

Enter your name :apple
Enter the number :8
Divisible by 4 and Even
Enter the number :7
Odd
Enter the number :6
Even
Enter the number :5
Odd
Enter the number :4
Divisible by 4 and Even

In [13]:
while True:
    num = int(input("Enter the number :"))
    
    if num == 10:
        print("bye...")
        break
    elif num == 15:
        print("continue")
        continue
        
    if num%4 == 0:
        print("Divisible by 4 and Even")
    elif num%2==0:
        print("Even")
    else:
        print("Odd")

Enter the number :25
Odd
Enter the number :36
Divisible by 4 and Even
Enter the number :15
continue
Enter the number :14
Even
Enter the number :10
bye...

1. rock beats scissor
2. scissor beats paper
3. paper beats rock

In [15]:
name = "jupyter"

In [16]:
len(name)

7

In [17]:
name[4]

't'

In [18]:
name[-3]

't'

In [19]:
name[2:]

'pyter'

In [20]:
name[:4]

'jupy'

In [21]:
name[2:5]

'pyt'

In [22]:
name[::-1]

'retypuj'

In [23]:
name[2:6:2]

'pt'

In [24]:
name[2:6]

'pyte'

In [25]:
name.capitalize()

'Jupyter'

In [47]:
"ApPlE".casefold()
name.center(15," ")
name.count('j')
name.encode("utf-8").decode("utf-8")
name.endswith("eR")
name.startswith("ju")
name.find("t")
name.index("y")
name.lower()
name.upper()
name.swapcase()

'JUPYTER'

In [52]:
name = "jupyter"

In [51]:
name.strip()

'jupyter'

In [53]:
name.replace('p','G')

'juGyter'

In [55]:
"apple is a fruit".title()

'Apple Is A Fruit'

In [56]:
name.zfill(15)

'00000000jupyter'

In [59]:
nam = "apple is a fruit"

In [63]:
g = nam.split('i')

In [64]:
g

['apple ', 's a fru', 't']

In [65]:
'i'.join(g)

'apple is a fruit'

## 26-01-19

In [1]:
l = []
L = list()

In [4]:
l = [4,5,6,9,'f','s','t','u',"dog","python","machine learning"]

In [5]:
l

[4, 5, 6, 9, 'f', 's', 't', 'u', 'dog', 'python', 'machine learning']

In [6]:
len(l)

11

In [7]:
l[2:7]

[6, 9, 'f', 's', 't']

In [8]:
l[2:9:3]

[6, 's', 'dog']

In [9]:
l.append("apple")

In [10]:
l

[4, 5, 6, 9, 'f', 's', 't', 'u', 'dog', 'python', 'machine learning', 'apple']

In [11]:
l.index('dog')

8

In [12]:
l[8]

'dog'

In [13]:
l.insert(8,"mango")

In [14]:
l

[4,
 5,
 6,
 9,
 'f',
 's',
 't',
 'u',
 'mango',
 'dog',
 'python',
 'machine learning',
 'apple']

In [15]:
del l[9]

In [16]:
l

[4,
 5,
 6,
 9,
 'f',
 's',
 't',
 'u',
 'mango',
 'python',
 'machine learning',
 'apple']

In [17]:
l.remove('t')

In [18]:
l

[4, 5, 6, 9, 'f', 's', 'u', 'mango', 'python', 'machine learning', 'apple']

In [19]:
l.pop()

'apple'

In [20]:
l

[4, 5, 6, 9, 'f', 's', 'u', 'mango', 'python', 'machine learning']

In [21]:
l.count(5)

1

In [23]:
L.append("fruit")

In [24]:
L

['fruit']

In [25]:
L.clear()

In [26]:
L

[]

In [27]:
f = l.copy()

In [28]:
f

[4, 5, 6, 9, 'f', 's', 'u', 'mango', 'python', 'machine learning']

In [29]:
g = l

In [30]:
g

[4, 5, 6, 9, 'f', 's', 'u', 'mango', 'python', 'machine learning']

In [31]:
l

[4, 5, 6, 9, 'f', 's', 'u', 'mango', 'python', 'machine learning']

In [32]:
l[::-1]

['machine learning', 'python', 'mango', 'u', 's', 'f', 9, 6, 5, 4]

In [33]:
l.reverse()

In [35]:
l.append('s')

In [36]:
l

['machine learning', 'python', 'mango', 'u', 's', 'f', 9, 6, 5, 4, 's']

In [37]:
l.count('s')

2

In [40]:
g = [9, 2, 5, 4]

In [43]:
g.sort(reverse=True)

In [44]:
g

[9, 5, 4, 2]

In [45]:
l

['f', 'machine learning', 'mango', 'python', 's', 'u', 9, 6, 5, 4, 's']

In [46]:
g+l

[9,
 5,
 4,
 2,
 'f',
 'machine learning',
 'mango',
 'python',
 's',
 'u',
 9,
 6,
 5,
 4,
 's']

In [47]:
g.extend(l)

In [48]:
g

[9,
 5,
 4,
 2,
 'f',
 'machine learning',
 'mango',
 'python',
 's',
 'u',
 9,
 6,
 5,
 4,
 's']

In [50]:
l[4]='x'

In [51]:
l

['f', 'machine learning', 'mango', 'python', 'x', 'u', 9, 6, 5, 4, 's']

In [52]:
t = ('f', 'machine learning', 'mango', 'python', 'x', 'u', 9, 6, 5, 4, 's')

In [53]:
t

('f', 'machine learning', 'mango', 'python', 'x', 'u', 9, 6, 5, 4, 's')

In [54]:
t[2:6]

('mango', 'python', 'x', 'u')

In [56]:
t[2]="pine apple"

TypeError: 'tuple' object does not support item assignment

In [57]:
del t[2]

TypeError: 'tuple' object doesn't support item deletion

In [65]:
for i in range(len(l)):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [74]:
for value in enumerate(l[2:6]):
    print(value)

(0, 'mango')
(1, 'python')
(2, 'x')
(3, 'u')

In [73]:
a = [1,2,3,4,5]
b = [9,8,7,6,5,78]
for j in zip(a,b):
    print(j)

(1, 9)
(2, 8)
(3, 7)
(4, 6)
(5, 5)

In [75]:
w = "apple"
list(w)

['a', 'p', 'p', 'l', 'e']

In [78]:
"".join(['1','0','0','0','1'])

'10001'

In [91]:
vowels = ['a','e','i','o','u']
answer = []
words = ["apple","ball","cat"]
for index,word in enumerate(words):
    temp = list(word)
    for idx,char in enumerate(list(word)):
        if char in vowels:
            temp[idx]="1"
        else:
            temp[idx]="0"
    words[index]=("".join(temp))

In [92]:
answer

[]

In [93]:
words

['10001', '0100', '010']

## 27-01-19

In [94]:
D = {}
d = dict()

In [98]:
d = {'a':'apple',"b":'ball',"c":5,2:'dog','b':"bat"}

In [96]:
d["c"]

5

In [97]:
d[2]

'dog'

In [99]:
d

{'a': 'apple', 'b': 'bat', 'c': 5, 2: 'dog'}

In [100]:
d['e']="elephant"

In [101]:
d

{'a': 'apple', 'b': 'bat', 'c': 5, 2: 'dog', 'e': 'elephant'}

In [103]:
d['c'] = "cat"

In [104]:
d

{'a': 'apple', 'b': 'bat', 'c': 'cat', 2: 'dog', 'e': 'elephant'}

In [105]:
d.keys()

dict_keys(['a', 'b', 'c', 2, 'e'])

In [106]:
d.values()

dict_values(['apple', 'bat', 'cat', 'dog', 'elephant'])

In [107]:
d.items()

dict_items([('a', 'apple'), ('b', 'bat'), ('c', 'cat'), (2, 'dog'), ('e', 'elephant')])

In [108]:
d['l'] = [1,2,3,4,5]

In [109]:
d

{'a': 'apple',
 'b': 'bat',
 'c': 'cat',
 2: 'dog',
 'e': 'elephant',
 'l': [1, 2, 3, 4, 5]}

In [111]:
d.pop(2)

'dog'

In [112]:
d

{'a': 'apple', 'b': 'bat', 'c': 'cat', 'e': 'elephant', 'l': [1, 2, 3, 4, 5]}

In [113]:
d.popitem()

('l', [1, 2, 3, 4, 5])

In [114]:
d.update({'d':"dog","f":'fish'})

In [115]:
d

{'a': 'apple',
 'b': 'bat',
 'c': 'cat',
 'e': 'elephant',
 'd': 'dog',
 'f': 'fish'}

In [118]:
for k,v in d.items():
    print(k,v)

a apple
b bat
c cat
e elephant
d dog
f fish

In [ ]:
add
   name 
    DOB  -> John's DOB has been added

search
    name -> "The DOB of the person JOhn is 01-01-00"

In [ ]:
library
error handling
functions
oops
file handling
visualisation