## 12-01-2019

In [1]:
print("hello world")

hello world

In [3]:
a = 5
b = 10
print(a+b)

15

In [3]:
a = 5#int
f = 3.14#float
s = 'apple'#string
b = True#bool

In [6]:
print(type(s))
print(type(b))

<class 'str'>
<class 'bool'>

In [8]:
print(f)

3.14

In [9]:
print(4)

4

## 19-01-2019

In [1]:
print("hello")

hello

In [2]:
print(12345678945612)

12345678945612

In [10]:
#welcome apple
#welcome 5

#method-1
print("welcome",s)
print("welcome",a)
print(" ")
#methode-2
print("welcome "+s)
print("welcome "+str(a))
print(" ")
#methode-3
print("welcome %s"%s)
print("welcome %d"%a)
print(" ")
#methode-4
print("welcome {}".format(s))
print("welcome {}".format(a))

welcome apple
welcome 5

welcome apple
welcome 5

welcome apple
welcome 5

welcome apple
welcome 5

In [12]:
#I bought a book of 500 pages which costs 150rs.

print("Method-1:-")
print("\tI bought a book of",500,"pages which costs",150,"rs.")
print("Method-2:-")
print("\tI bought a book of "+str(500)+" pages which costs "+str(150)+"rs.")
print("Method-3:-")
print("\tI bought a book of %d pages which costs %drs."%(500,150))
print("Method-4:-")
print("\tI bought a book of {} pages which costs {}rs.".format(500,150))

Method-1:-
	I bought a book of 500 pages which costs 150 rs.
Method-2:-
	I bought a book of 500 pages which costs 150rs.
Method-3:-
	I bought a book of 500 pages which costs 150rs.
Method-4:-
	I bought a book of 500 pages which costs 150rs.

In [ ]:
        *
    *        *
*       *       *

n = 4
(444+44+4)
ans = 492 

n*111 n*11 n*1

In [19]:
n=4
ans = int(str(n)+str(n)+str(n))+int(str(n)+str(n))+n
print(ans)

ans1 = int(str(n)*3)+int(str(n)*2)+n
print(ans1)

492
492

#operator overloading
+ -> addition arithmetic operation (int + int)
5 + 3
+ -> string concatenation (string + string)
"welcome" + "apple"

* -> multiplication arithmetic operation (int * int)
2 * 3
* -> string duplications (string* int)
"apple"*3

In [20]:
"apple"*3

'appleappleapple'

In [ ]:
operators:
    arithmetic:-
        + - * / %
    conditional:-
        < > <= >= == !=
    logical:-
        and or not
    misc:-
        is , is in , not in ,in

In [36]:

n = float(input("Enter the value :"))

Enter the value :3.14

In [37]:
type(n)

float

In [38]:
n+4

7.140000000000001

## 20-01-19

In [3]:
num = int(input("Enter the number :"))
if num%2 == 0:
    print("Even")
else:
    print("Odd")

Enter the number :7
Odd

In [5]:
num = int(input("Enter the number :"))
if num%4 == 0:
    print("Divisible by 4 and Even")
elif num%2==0:
    print("Even")
else:
    print("Odd")

Enter the number :10
Even

In [10]:
i = 1
name = input("Enter your name :")
while i<= len(name):
    num = int(input("Enter the number :"))
    if num%4 == 0:
        print("Divisible by 4 and Even")
    elif num%2==0:
        print("Even")
    else:
        print("Odd")
    i += 1

Enter your name :apple
Enter the number :8
Divisible by 4 and Even
Enter the number :7
Odd
Enter the number :6
Even
Enter the number :5
Odd
Enter the number :4
Divisible by 4 and Even

In [13]:
while True:
    num = int(input("Enter the number :"))
    
    if num == 10:
        print("bye...")
        break
    elif num == 15:
        print("continue")
        continue
        
    if num%4 == 0:
        print("Divisible by 4 and Even")
    elif num%2==0:
        print("Even")
    else:
        print("Odd")

Enter the number :25
Odd
Enter the number :36
Divisible by 4 and Even
Enter the number :15
continue
Enter the number :14
Even
Enter the number :10
bye...

1. rock beats scissor
2. scissor beats paper
3. paper beats rock

In [15]:
name = "jupyter"

In [16]:
len(name)

7

In [17]:
name[4]

't'

In [18]:
name[-3]

't'

In [19]:
name[2:]

'pyter'

In [20]:
name[:4]

'jupy'

In [21]:
name[2:5]

'pyt'

In [22]:
name[::-1]

'retypuj'

In [23]:
name[2:6:2]

'pt'

In [24]:
name[2:6]

'pyte'

In [25]:
name.capitalize()

'Jupyter'

In [47]:
"ApPlE".casefold()
name.center(15," ")
name.count('j')
name.encode("utf-8").decode("utf-8")
name.endswith("eR")
name.startswith("ju")
name.find("t")
name.index("y")
name.lower()
name.upper()
name.swapcase()

'JUPYTER'

In [52]:
name = "jupyter"

In [51]:
name.strip()

'jupyter'

In [53]:
name.replace('p','G')

'juGyter'

In [55]:
"apple is a fruit".title()

'Apple Is A Fruit'

In [56]:
name.zfill(15)

'00000000jupyter'

In [59]:
nam = "apple is a fruit"

In [63]:
g = nam.split('i')

In [64]:
g

['apple ', 's a fru', 't']

In [65]:
'i'.join(g)

'apple is a fruit'

## 26-01-19

In [1]:
l = []
L = list()

In [4]:
l = [4,5,6,9,'f','s','t','u',"dog","python","machine learning"]

In [5]:
l

[4, 5, 6, 9, 'f', 's', 't', 'u', 'dog', 'python', 'machine learning']

In [6]:
len(l)

11

In [7]:
l[2:7]

[6, 9, 'f', 's', 't']

In [8]:
l[2:9:3]

[6, 's', 'dog']

In [9]:
l.append("apple")

In [10]:
l

[4, 5, 6, 9, 'f', 's', 't', 'u', 'dog', 'python', 'machine learning', 'apple']

In [11]:
l.index('dog')

8

In [12]:
l[8]

'dog'

In [13]:
l.insert(8,"mango")

In [14]:
l

[4,
 5,
 6,
 9,
 'f',
 's',
 't',
 'u',
 'mango',
 'dog',
 'python',
 'machine learning',
 'apple']

In [15]:
del l[9]

In [16]:
l

[4,
 5,
 6,
 9,
 'f',
 's',
 't',
 'u',
 'mango',
 'python',
 'machine learning',
 'apple']

In [17]:
l.remove('t')

In [18]:
l

[4, 5, 6, 9, 'f', 's', 'u', 'mango', 'python', 'machine learning', 'apple']

In [19]:
l.pop()

'apple'

In [20]:
l

[4, 5, 6, 9, 'f', 's', 'u', 'mango', 'python', 'machine learning']

In [21]:
l.count(5)

1

In [23]:
L.append("fruit")

In [24]:
L

['fruit']

In [25]:
L.clear()

In [26]:
L

[]

In [27]:
f = l.copy()

In [28]:
f

[4, 5, 6, 9, 'f', 's', 'u', 'mango', 'python', 'machine learning']

In [29]:
g = l

In [30]:
g

[4, 5, 6, 9, 'f', 's', 'u', 'mango', 'python', 'machine learning']

In [31]:
l

[4, 5, 6, 9, 'f', 's', 'u', 'mango', 'python', 'machine learning']

In [32]:
l[::-1]

['machine learning', 'python', 'mango', 'u', 's', 'f', 9, 6, 5, 4]

In [33]:
l.reverse()

In [35]:
l.append('s')

In [36]:
l

['machine learning', 'python', 'mango', 'u', 's', 'f', 9, 6, 5, 4, 's']

In [37]:
l.count('s')

2

In [40]:
g = [9, 2, 5, 4]

In [43]:
g.sort(reverse=True)

In [44]:
g

[9, 5, 4, 2]

In [45]:
l

['f', 'machine learning', 'mango', 'python', 's', 'u', 9, 6, 5, 4, 's']

In [46]:
g+l

[9,
 5,
 4,
 2,
 'f',
 'machine learning',
 'mango',
 'python',
 's',
 'u',
 9,
 6,
 5,
 4,
 's']

In [47]:
g.extend(l)

In [48]:
g

[9,
 5,
 4,
 2,
 'f',
 'machine learning',
 'mango',
 'python',
 's',
 'u',
 9,
 6,
 5,
 4,
 's']

In [50]:
l[4]='x'

In [51]:
l

['f', 'machine learning', 'mango', 'python', 'x', 'u', 9, 6, 5, 4, 's']

In [52]:
t = ('f', 'machine learning', 'mango', 'python', 'x', 'u', 9, 6, 5, 4, 's')

In [53]:
t

('f', 'machine learning', 'mango', 'python', 'x', 'u', 9, 6, 5, 4, 's')

In [54]:
t[2:6]

('mango', 'python', 'x', 'u')

In [56]:
t[2]="pine apple"

TypeError: 'tuple' object does not support item assignment

In [57]:
del t[2]

TypeError: 'tuple' object doesn't support item deletion

In [65]:
for i in range(len(l)):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [74]:
for value in enumerate(l[2:6]):
    print(value)

(0, 'mango')
(1, 'python')
(2, 'x')
(3, 'u')

In [73]:
a = [1,2,3,4,5]
b = [9,8,7,6,5,78]
for j in zip(a,b):
    print(j)

(1, 9)
(2, 8)
(3, 7)
(4, 6)
(5, 5)

In [75]:
w = "apple"
list(w)

['a', 'p', 'p', 'l', 'e']

In [78]:
"".join(['1','0','0','0','1'])

'10001'

In [91]:
vowels = ['a','e','i','o','u']
answer = []
words = ["apple","ball","cat"]
for index,word in enumerate(words):
    temp = list(word)
    for idx,char in enumerate(list(word)):
        if char in vowels:
            temp[idx]="1"
        else:
            temp[idx]="0"
    words[index]=("".join(temp))

In [92]:
answer

[]

In [93]:
words

['10001', '0100', '010']

## 27-01-19

In [94]:
D = {}
d = dict()

In [98]:
d = {'a':'apple',"b":'ball',"c":5,2:'dog','b':"bat"}

In [96]:
d["c"]

5

In [97]:
d[2]

'dog'

In [99]:
d

{'a': 'apple', 'b': 'bat', 'c': 5, 2: 'dog'}

In [100]:
d['e']="elephant"

In [101]:
d

{'a': 'apple', 'b': 'bat', 'c': 5, 2: 'dog', 'e': 'elephant'}

In [103]:
d['c'] = "cat"

In [104]:
d

{'a': 'apple', 'b': 'bat', 'c': 'cat', 2: 'dog', 'e': 'elephant'}

In [105]:
d.keys()

dict_keys(['a', 'b', 'c', 2, 'e'])

In [106]:
d.values()

dict_values(['apple', 'bat', 'cat', 'dog', 'elephant'])

In [107]:
d.items()

dict_items([('a', 'apple'), ('b', 'bat'), ('c', 'cat'), (2, 'dog'), ('e', 'elephant')])

In [108]:
d['l'] = [1,2,3,4,5]

In [109]:
d

{'a': 'apple',
 'b': 'bat',
 'c': 'cat',
 2: 'dog',
 'e': 'elephant',
 'l': [1, 2, 3, 4, 5]}

In [111]:
d.pop(2)

'dog'

In [112]:
d

{'a': 'apple', 'b': 'bat', 'c': 'cat', 'e': 'elephant', 'l': [1, 2, 3, 4, 5]}

In [113]:
d.popitem()

('l', [1, 2, 3, 4, 5])

In [114]:
d.update({'d':"dog","f":'fish'})

In [115]:
d

{'a': 'apple',
 'b': 'bat',
 'c': 'cat',
 'e': 'elephant',
 'd': 'dog',
 'f': 'fish'}

In [118]:
for k,v in d.items():
    print(k,v)

a apple
b bat
c cat
e elephant
d dog
f fish

In [ ]:
add
   name 
    DOB  -> John's DOB has been added

search
    name -> "The DOB of the person JOhn is 01-01-00"

In [ ]:
oops
file handling
visualisation

## 9-02-2019

In [2]:
import math

In [3]:
math.factorial(5)

120

In [4]:
import math as m

In [8]:
print(m.factorial(5))

120

In [6]:
from math import *

In [7]:
factorial(5)

120

In [9]:
from random import randint,randrange

In [19]:
randint(0,100)

46

In [18]:
randrange(0,10)

5

In [ ]:
0-100

high
low
bingo

output;- number

In [20]:
from userlib import testing

In [22]:
testing()

I'm from external user defined lib

In [24]:
print(g)
print("hello")

NameError: name 'g' is not defined

In [27]:
try:
    print(g)
except Exception as e:
    print("Error :",e)
print("hello")

Error : name 'g' is not defined
hello

In [32]:
try:
    print(g)
except (NameError,TypeError):
    print(factorial(6))

720

In [33]:
try:
    print(g)
except:
    pass 
print("hello")

hello

In [37]:
num = int(input("Enter any number:-"))
if num < 10:
    raise ValueError("A value should be greater than 10")

Enter any number:-5

ValueError: A value should be greater than 10

In [ ]:
All types of errors

https://docs.python.org/3/library/exceptions.html#bltin-exceptions

## 17-02-2019

In [1]:
def show():
    name = input("Enter any fruit name :")
    print(name)

In [2]:
show()

Enter any fruit name :apple
apple

In [3]:
def operation(a,b):
    """
    arithmetic operation
    """
    print(a*b,a+b)

In [6]:
c = int(input("Enter the value for a:"))
d = int(input("Enter the value for b:"))

Enter the value for a:8
Enter the value for b:4

In [7]:
operation(c,d)

32 12

In [12]:
def arithmetic(a,b):
    """
    largest number check
    """
    if a >= b:
        return 1
    else:
        return 0

In [14]:
arithmetic(c,d)

1

In [23]:
def operation(a,b=2):
    """
    arithmetic operation
    """
    return a*b,a+b

In [27]:
m,s = operation(c,d)

In [28]:
m

32

In [29]:
s

12

In [22]:
ans[0]

32

In [30]:
def operation(a,b,c=None):
    """
    arithmetic operation
    """
    if c:
        print(a*b*c,a+b+c)
    else:
        print(a*b,a+b)

In [32]:
operation(10,2,8)

160 20

In [ ]:
lambda , map,filter

In [37]:
lam = lambda a,b: a+b

In [38]:
lam(10,2)

12

In [43]:
l = ['apple','ball','cat',None]

In [41]:
for i in l:
    print(i.upper())

APPLE
BALL
CAT

In [42]:
list(map(str.upper,l))

['APPLE', 'BALL', 'CAT']

In [44]:
list(filter(None,l))

['apple', 'ball', 'cat']

In [45]:
a = 10
b = 20

In [46]:
[11,13,17,19]

[11, 13, 17, 19]

In [47]:
d = {"kumar":[10,20,30],"raghu":[45,85,90]}

In [48]:
d

{'kumar': [10, 20, 30], 'raghu': [45, 85, 90]}

In [49]:
{"raghu":220,"kumar":60}

{'raghu': 220, 'kumar': 60}

In [50]:
print("Raghu -> 220 -> 1")

Raghu -> 220 -> 1

In [56]:
print("|"+"   "+"|"+"   "+"|"+"   "+"|") 
print(" ---"+" ---"+" ---")

|   |   |   |
 --- --- ---

## 23-02-2019

In [1]:
def add():
    d = 5
    a = int(input())
    b = int(input())
    print(a+b+d)
def sub(a,c):
    print(a-c)

In [2]:
add(9,4)

13

In [3]:
sub(9,5)

4

In [ ]:
inheritance
polymorphism
method overloading
method overriding
data abstraction (hiding)
data encapsulation(binding)

In [4]:
len("apple")

5

In [5]:
len(["apple","ball"])

2

In [7]:
print(4)

4

In [ ]:
class A:  #method-1
class A(): #method-2
class A(object):#method-3

In [109]:
# class example
class A:
    def adds(self):
        d = 5
        a = int(input())
        b = int(input())
        print(a+b+d)
    def sub(self,a,c):
        print(a-c)

In [19]:
a = A()

In [20]:
a.adds()

10
4
19

In [21]:
a.sub(8,2)

6

In [108]:
#significance of self
class B:
    def __init__(self,a,b,c):
        self.a = a
        self.b = b
        self.c = c
    def add(self):
        print(self.a+self.b+self.c)
    def mul(self):
        print(self.a*self.c)

In [32]:
a = 5
b = 3
c = 2

In [33]:
b = B(11,12,13)

In [34]:
b.a

11

In [35]:
b.b

12

In [36]:
b.add()

36

In [37]:
b.mul()

143

In [107]:
# constructor
class C:
    def __init__(self,name):
        self.name = name
    def display(self,price):
        self.price = price
        print("name is %s"%self.name)
    def comb(self):
        print("The cost of %s is %d/kg"%(self.name,self.price))

In [43]:
c = C('apple')

In [44]:
c.display(120)

name is apple

In [45]:
c.comb()

The cost of apple is 120/kg

In [106]:
#inheritance
class parent:
    cost = 115
    def show(self,):
        print("You bought %s fruit"%self.fruit)
    def calculate(self,):
        self.total = self.quan * parent.cost
        print("you have to pay %0.2f"%self.total)

In [97]:
class child(parent):
    def __init__(self,fruit,quan):
        self.fruit = fruit
        self.quan = quan
    def display(self):
        parent.show(self)
        parent.calculate(self)

In [87]:
child = child("pine apple",0.750)

In [88]:
child.fruit

'pine apple'

In [89]:
child.quan

0.75

In [90]:
child.display()

You bought pine apple fruit
you have to pay 86.25

In [91]:
child.calculate()

you have to pay 86.25

In [110]:
child.cost

115

In [105]:
# methode overriding
class P:
    def method(self,):
        print("this is from parent class")
class C(P):
    def method(self):
        print("this is from child class")

In [102]:
ch = C()

In [103]:
ch.method()

this is from parent class

In [ ]:
5 students -> 5 subjects mark and name -> getdetails method/class
output for this stage is :- details  ={'kumar':[45,12,10,45,75],"vignesh":[85,96,63,42,14]}
claculate total marks 
sort 

final ouput

vignesh -> 350
kumar -> 200

## 24-02-2019

In [ ]:
txt, csv,tsv,json,excel -> pandas

### txt file

In [7]:
outFile = open("laser.txt","a")

In [8]:
outFile.write("I am fine\n")
outFile.write("it's my pleasure\n")
outFile.close()

In [26]:
inFile = open("laser.txt","r+")

In [27]:
inFile.writable()

True

In [17]:
inFile.read()

"hello how are you\nhey thanks\nI am fine\nit's my pleasure\n"

In [25]:
inFile.readlines()

['hello how are you\n', 'hey thanks\n', 'I am fine\n', "it's my pleasure\n"]

### csv,tsv,excel file

In [28]:
import pandas as pd

In [37]:
csvFile = pd.read_csv("fruits_vege.csv",index_col=0)

In [38]:
csvFile

    fruit vegetable    fruits 2 vegetable 2
a   apple     onion       apple       onion
b   mango    potato       mango      potato
c  orange     beans  pine apple      carrot

In [39]:
type(csvFile)

pandas.core.frame.DataFrame

In [42]:
tsvFile = pd.read_csv('fruits_vege.tsv',index_col=0,sep="\t")

In [43]:
tsvFile

    fruit vegetable    fruits 2 vegetable 2
a   apple     onion       apple       onion
b   mango    potato       mango      potato
c  orange     beans  pine apple      carrot

In [44]:
excelFile = pd.read_excel("Course Syllabus.xlsx")

In [48]:
excelFile.head(3)

                   Syllabus Duration
0   Introduction to Python   40 mins
1      Environment creation  20 mins
2  variables and expression  45 mins

In [50]:
pd.read_excel("Course Syllabus.xlsx",sheet_name="Machine Learning").head()

                              Syllabus  Duration
0   1.Introduction to Machine learning   60 mins
1  1.a  Introduction to Data Operation  150 mins
2                     Basic Operations       NaN
3                   Moving Data Around       NaN
4                    Computing on Data       NaN

In [51]:
excel = pd.ExcelFile("Course Syllabus.xlsx")

In [61]:
excelFile = pd.read_excel(excel,sheet_name='Deep Learning')

In [62]:
excelFile

                                 Syllabus    Duration
0   1. Introduction to Deep Learning (DL)     90 mins
1     2. Neural Network (NN) introduction    240 mins
2                   Neurons and the Brain         NaN
3                   Non-linear Hypothesis         NaN
4                              perceptron         NaN
5                   Multilayer perceptron         NaN
6               Training a neural network         NaN
7                  Backpropagation primer         NaN
8                Gradients & optimization         NaN
9             3. Deep Learning for images    180 mins
10                       CNN architecture         NaN
11   Overview of modern CNN architectures         NaN
12                       pre-trained CNNs         NaN
13                      Alexnet/Googlenet         NaN
14                            OpenCV + NN         NaN
15              3. Deep Learning for Text    150 mins
16                                    RNN         NaN
17                                   LSTM         NaN
18                                    GRU         NaN
19      4.preprocessing Techniques for DL    120 mins
20                         5.Tools for DL    150 mins
21                             6.Practise    180 mins
22                                    NaN         NaN
23                                  Total  18.5 hours

In [54]:
excel.sheet_names

['Basic Python',
 'Advanced Python',
 'Datascience with Python',
 'Machine Learning',
 'Deep Learning']

In [59]:
excelFile.dropna(inplace=True)

In [68]:
excelFile.fillna(50)

                                 Syllabus    Duration
0   1. Introduction to Deep Learning (DL)     90 mins
1     2. Neural Network (NN) introduction    240 mins
2                   Neurons and the Brain          50
3                   Non-linear Hypothesis          50
4                              perceptron          50
5                   Multilayer perceptron          50
6               Training a neural network          50
7                  Backpropagation primer          50
8                Gradients & optimization          50
9             3. Deep Learning for images    180 mins
10                       CNN architecture          50
11   Overview of modern CNN architectures          50
12                       pre-trained CNNs          50
13                      Alexnet/Googlenet          50
14                            OpenCV + NN          50
15              3. Deep Learning for Text    150 mins
16                                    RNN          50
17                                   LSTM          50
18                                    GRU          50
19      4.preprocessing Techniques for DL    120 mins
20                         5.Tools for DL    150 mins
21                             6.Practise    180 mins
22                                     50          50
23                                  Total  18.5 hours

In [71]:
excelFile.drop(index=22)

                                 Syllabus    Duration
0   1. Introduction to Deep Learning (DL)     90 mins
1     2. Neural Network (NN) introduction    240 mins
2                   Neurons and the Brain         NaN
3                   Non-linear Hypothesis         NaN
4                              perceptron         NaN
5                   Multilayer perceptron         NaN
6               Training a neural network         NaN
7                  Backpropagation primer         NaN
8                Gradients & optimization         NaN
9             3. Deep Learning for images    180 mins
10                       CNN architecture         NaN
11   Overview of modern CNN architectures         NaN
12                       pre-trained CNNs         NaN
13                      Alexnet/Googlenet         NaN
14                            OpenCV + NN         NaN
15              3. Deep Learning for Text    150 mins
16                                    RNN         NaN
17                                   LSTM         NaN
18                                    GRU         NaN
19      4.preprocessing Techniques for DL    120 mins
20                         5.Tools for DL    150 mins
21                             6.Practise    180 mins
23                                  Total  18.5 hours

In [72]:
print("hello")

hello

In [74]:
excelFile.describe()

                     Syllabus  Duration
count                      23         8
unique                     23         6
top     Multilayer perceptron  150 mins
freq                        1         2

In [75]:
train = pd.read_csv("train.csv")

In [76]:
train.head()

            class  petal_length  petal_width  sepal_length  sepal_width
0  Iris-virginica           5.5          1.8           6.4          3.1
1  Iris-virginica           5.9          2.3           6.8          3.2
2  Iris-virginica           5.4          2.3           6.2          3.4
3  Iris-virginica           4.8          1.8           6.0          3.0
4  Iris-virginica           5.1          2.3           6.9          3.1

In [77]:
train.describe()

       petal_length  petal_width  sepal_length  sepal_width
count    105.000000   105.000000    105.000000   105.000000
mean       3.748571     1.196190      5.830476     3.057143
std        1.753519     0.765723      0.800015     0.449969
min        1.000000     0.100000      4.400000     2.000000
25%        1.500000     0.300000      5.100000     2.800000
50%        4.400000     1.300000      5.700000     3.000000
75%        5.100000     1.800000      6.400000     3.400000
max        6.900000     2.500000      7.700000     4.400000

In [78]:
train.head()

            class  petal_length  petal_width  sepal_length  sepal_width
0  Iris-virginica           5.5          1.8           6.4          3.1
1  Iris-virginica           5.9          2.3           6.8          3.2
2  Iris-virginica           5.4          2.3           6.2          3.4
3  Iris-virginica           4.8          1.8           6.0          3.0
4  Iris-virginica           5.1          2.3           6.9          3.1

In [83]:
train[["petal_length","sepal_width"]].head()

   petal_length  sepal_width
0           5.5          3.1
1           5.9          3.2
2           5.4          3.4
3           4.8          3.0
4           5.1          3.1

In [84]:
data = {}

In [85]:
data["fruits"] = ["apple","orange","papaya","pine apple"]
data["colours"] = ["red","orange","orange","green"]

In [86]:
data

{'fruits': ['apple', 'orange', 'papaya', 'pine apple'],
 'colours': ['red', 'orange', 'orange', 'green']}

In [87]:
df = pd.DataFrame(data)

In [90]:
df.to_csv("laser.tsv",sep="\t")

In [101]:
df.to_dict(orient="dict")

{'fruits': {0: 'apple', 1: 'orange', 2: 'papaya', 3: 'pine apple'},
 'colours': {0: 'red', 1: 'orange', 2: 'orange', 3: 'green'}}

In [103]:
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],'data1': range(7)})
df2 = pd.DataFrame({'key': ['a', 'b', 'd'],'data2': range(3)})

In [104]:
df1

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6

In [105]:
df2

  key  data2
0   a      0
1   b      1
2   d      2

In [107]:
merge = pd.merge(df1, df2)

In [113]:
merge

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

In [114]:
merge.drop_duplicates(subset='key',keep='last')

  key  data1  data2
2   b      6      1
5   a      5      0

In [115]:
train.head()

            class  petal_length  petal_width  sepal_length  sepal_width
0  Iris-virginica           5.5          1.8           6.4          3.1
1  Iris-virginica           5.9          2.3           6.8          3.2
2  Iris-virginica           5.4          2.3           6.2          3.4
3  Iris-virginica           4.8          1.8           6.0          3.0
4  Iris-virginica           5.1          2.3           6.9          3.1

In [121]:
train.groupby('class').count()

                 petal_length  petal_width  sepal_length  sepal_width
class
Iris-setosa                35           35            35           35
Iris-versicolor            35           35            35           35
Iris-virginica             35           35            35           35

In [119]:
train.groupby('class').mean()

                 petal_length  petal_width  sepal_length  sepal_width
class
Iris-setosa          1.477143     0.245714      5.028571     3.465714
Iris-versicolor      4.240000     1.322857      5.925714     2.771429
Iris-virginica       5.528571     2.020000      6.537143     2.934286

In [120]:
train.groupby('class').sum()

                 petal_length  petal_width  sepal_length  sepal_width
class
Iris-setosa              51.7          8.6         176.0        121.3
Iris-versicolor         148.4         46.3         207.4         97.0
Iris-virginica          193.5         70.7         228.8        102.7

### json

In [125]:
file = open("test.json",'r')
import json
json.load(file)

{'domainId': 'DOMAIN-100',
 'question': 'I want to book appointment',
 'language': 'EN_US',
 'type': 'TASK'}

In [127]:
file = open("test.json",'r')

file.read()

'{\n "domainId": "DOMAIN-100",\n "question" :"I want to book appointment" ,\n "language": "EN_US",\n "type":"TASK"\n}\n\n'