## 2019-08-24

### code source

https://github.com/sharmasaravanan/Machine_learning

### Python

In [2]:
a = 5
b = 10
print(a+b)

15

#### Data types

In [3]:
a = 5 # int 
b = 3.14 # float
c = "apple" # string
d = True # bool

In [4]:
print(type(d))

<class 'bool'>

In [5]:
print(c)

apple

In [6]:
print(456)

456

In [7]:
print('hello world')

hello world

#### Operators

##### Arithmetic operators

+ - * / %

##### Logical operators

and, or , not

##### Conditional Operators

< , >, <=, >=, ==, !=

##### Misc operators

is, in , not in

#### User input

In [11]:
name = input("Enter your name : ")

Enter your name : 85

In [12]:
print(name)

85

In [13]:
print(type(name))

<class 'str'>

In [14]:
int(name)

85

In [18]:
num = int(input("Enter any number : "))

Enter any number : l

ValueError: invalid literal for int() with base 10: 'l'

In [16]:
print(num)

12

In [19]:
n = 5

In [ ]:
615 (555+55+5)

In [17]:
print(type(num))

<class 'int'>

#### Task

In [31]:
n = 5
ans = int(str(n)+str(n)+str(n))+int(str(n)+str(n))+n
print(ans)

615

In [32]:
n = '5'
ans = int(n*3)+int(n*2)+int(n)
print(ans)

615

In [33]:
n = '5'
ans = int(n+n+n)+int(n+n)+int(n)
print(ans)

615

In [44]:
star = "* "

In [49]:
print("  "+star)
print(" "+star*2)
print(star*3)

  *
 * *
* * *

#### Print methods

hello apple 

hello 5

In [20]:
print("Method-1")
print("hello "+c)
print("hello "+str(a))
print("----"*5)

print("Method-2")
print("hello",c)
print("hello",a)
print("----"*5)

print("Method-3")
print("hello %s" %c)
print("hello %d" %a)
print("----"*5)

print("Method-4")
print("hello {}".format(c))
print("hello {}".format(a))
print("----"*5)

Method-1
hello apple
hello 5
--------------------
Method-2
hello apple
hello 5
--------------------
Method-3
hello apple
hello 5
--------------------
Method-4
hello apple
hello 5
--------------------

In [60]:
# i bought 2kgs of apple for 85.5rs

In [21]:
w = 2
f = 'apple'
p = 85.5

In [29]:
print("i bought "+str(w)+"kgs of "+f+" for "+str(p)+"rs")
print("i bought",w,"kgs of",f,"for",p,'rs')
print("i bought %dkgs of %s for %0.1frs"%(w,f,p))
print("i bought {}kgs of {} for {}rs".format(w*2,f,p*3))

i bought 2kgs of apple for 85.5rs
i bought 2 kgs of apple for 85.5 rs
i bought 2kgs of apple for 85.5rs
i bought 4kgs of apple for 256.5rs

#### If-else

In [31]:
num = int(input("Enter any number : "))
if num%2 == 0:
    print('Even')
else:
    print('Odd')

Enter any number : 74
Even

In [33]:
num = int(input("Enter any number : "))
if num%4 == 0:
    print("Divisible by 4 and even")
elif num%2 == 0:
    print('Even')
else:
    print('odd')

Enter any number : 20
Divisible by 4 and even
Even

In [34]:
if num >= 10 and num <= 50:
    print("yes!!")
print('hello')

yes!!
hello

In [ ]:
The area of the circle is 25sq.cm for the radius 3cm.

In [37]:
while True:
    num = int(input("Enter any number : "))
    
    if num == 25:
        print("stopping")
        break
    elif num == 15:
        print("skipping")
        continue
        
    if num%4 == 0:
        print("Divisible by 4 and even")
    elif num%2 == 0:
        print('Even')
    else:
        print('odd')

Enter any number : 74
Even
Enter any number : 63
odd
Enter any number : 41
odd
Enter any number : 15
skipping
Enter any number : 21
odd
Enter any number : 23
odd
Enter any number : 25
stopping

In [38]:
i = 1
while i <= 3:
    num = int(input("Enter any number : "))
    
    if num == 25:
        print("stopping")
        break
    elif num == 15:
        print("skipping")
        continue
        
    if num%4 == 0:
        print("Divisible by 4 and even")
    elif num%2 == 0:
        print('Even')
    else:
        print('odd')
    i += 1

Enter any number : 63
odd
Enter any number : 74
Even
Enter any number : 15
skipping
Enter any number : 96
Divisible by 4 and even

In [39]:
opt = 'y'
while opt == 'y':
    num = int(input("Enter any number : "))
    
    if num == 25:
        print("stopping")
        break
    elif num == 15:
        print("skipping")
        continue
        
    if num%4 == 0:
        print("Divisible by 4 and even")
    elif num%2 == 0:
        print('Even')
    else:
        print('odd')
    
    opt = input("Do you want to continue ? y/n")

Enter any number : 74
Even
Do you want to continue ? y/ny
Enter any number : 32
Divisible by 4 and even
Do you want to continue ? y/nh

In [ ]:
user1 == 'q' or user1 == 'quit'

In [8]:
import random as r

In [15]:
comp = r.randint(0,10)

In [16]:
comp

3

In [106]:
name = 'apple'
sent = "elephant is an animal"

In [41]:
name[0]

'a'

In [42]:
name[-5]

'a'

In [43]:
name[2:]

'ple'

In [45]:
name[:3]

'app'

In [26]:
name[1:4]

'ppl'

In [56]:
sent[0:15:2]

'eehn sa '

In [55]:
sent[0:15]

'elephant is an '

In [62]:
name[::-1]

'elppa'

In [30]:
name

'apple'

In [64]:
sent.capitalize()

'Elephant is an animal'

In [65]:
name.casefold()

'apple'

In [67]:
name.center(18,' ')

'      apple       '

In [68]:
name.count('p')

2

In [70]:
name.encode('utf-16').decode('utf-16')

'apple'

In [72]:
name.endswith('lE')

False

In [73]:
name.startswith('ap')

True

In [76]:
"i\tam\tsharma".expandtabs(12)

'i           am          sharma'

In [82]:
name.find("p")

1

In [79]:
name.index('z')

ValueError: substring not found

In [120]:
name.isprintable()

True

In [119]:
someInput = input("enter something :")
if someInput.isupper():
    print(someInput.lower())
else:
    print(someInput.upper())

enter something :Hooo
HOOO

In [83]:
sent.title()

'Elephant Is An Animal'

In [85]:
name.replace('p',"*")

'a**le'

In [102]:
name.lower()

' apple '

In [88]:
sent.zfill(15)

'elephant is an animal'

In [89]:
name = " apple "

In [90]:
name.lstrip()

'apple '

In [91]:
name.rstrip()

' apple'

In [95]:
name.strip().strip('le')

'app'

In [98]:
temp = sent.split('an')

In [99]:
temp

['eleph', 't is ', ' ', 'imal']

In [100]:
'an'.join(temp)

'elephant is an animal'

In [ ]:
rock beats scissor
scissor beats paper
paper beats rock

## 2019-09-21

### list

In [1]:
L = []

In [2]:
L

[]

In [3]:
L = list()

In [5]:
l = [2,4,6,1.3,3.5,5.7,'apple','mango','papaya']

In [6]:
l

[2, 4, 6, 1.3, 3.5, 5.7, 'apple', 'mango', 'papaya']

In [7]:
len(l)

9

In [10]:
l[2:8:3]

[6, 5.7]

In [12]:
l[2] = 58

In [13]:
l

[2, 4, 58, 1.3, 3.5, 5.7, 'apple', 'mango', 'papaya']

In [15]:
del l[3]

In [16]:
l[3]

3.5

In [17]:
l

[2, 4, 58, 3.5, 5.7, 'apple', 'mango', 'papaya']

In [18]:
l2 = [58,36,41,12]

In [19]:
l2

[58, 36, 41, 12]

In [21]:
l3 = l+l2

In [24]:
l3

[2, 4, 58, 3.5, 5.7, 'apple', 'mango', 'papaya', 58, 36, 41, 12]

In [25]:
l.append('orange')

In [26]:
l

[2, 4, 58, 3.5, 5.7, 'apple', 'mango', 'papaya', 'orange']

In [27]:
l.insert(3,78945)

In [28]:
l

[2, 4, 58, 78945, 3.5, 5.7, 'apple', 'mango', 'papaya', 'orange']

In [29]:
l.pop()

'orange'

In [30]:
l

[2, 4, 58, 78945, 3.5, 5.7, 'apple', 'mango', 'papaya']

In [31]:
l.remove(5.7)

In [32]:
l

[2, 4, 58, 78945, 3.5, 'apple', 'mango', 'papaya']

In [34]:
l2.clear()

In [35]:
l2

[]

In [36]:
l4 = l3.copy()

In [37]:
l.count(4)

1

In [38]:
l.index(4)

1

In [39]:
l[1]

4

In [40]:
l.extend(l2)

In [42]:
l.extend(l3)

In [43]:
l

[2,
 4,
 58,
 78945,
 3.5,
 'apple',
 'mango',
 'papaya',
 2,
 4,
 58,
 3.5,
 5.7,
 'apple',
 'mango',
 'papaya',
 58,
 36,
 41,
 12]

In [44]:
l.reverse()

In [46]:
l[::-1]

[2,
 4,
 58,
 78945,
 3.5,
 'apple',
 'mango',
 'papaya',
 2,
 4,
 58,
 3.5,
 5.7,
 'apple',
 'mango',
 'papaya',
 58,
 36,
 41,
 12]

In [47]:
l.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [48]:
l3

[2, 4, 58, 3.5, 5.7, 'apple', 'mango', 'papaya', 58, 36, 41, 12]

In [49]:
t = (2, 4, 58, 3.5, 5.7, 'apple', 'mango', 'papaya', 58, 36, 41, 12)

In [50]:
t

(2, 4, 58, 3.5, 5.7, 'apple', 'mango', 'papaya', 58, 36, 41, 12)

In [52]:
t[2] = 20

TypeError: 'tuple' object does not support item assignment

In [53]:
del t[2]

TypeError: 'tuple' object doesn't support item deletion

In [54]:
dt = {}

In [55]:
dt = dict()

In [56]:
d = {'a':23,"b":3.14,2:"apple",'d':[85,96,45],"e":{'fruit':"mango","vege":"carrot"}}

In [57]:
d

{'a': 23,
 'b': 3.14,
 2: 'apple',
 'd': [85, 96, 45],
 'e': {'fruit': 'mango', 'vege': 'carrot'}}

In [58]:
d['a']

23

In [60]:
d['b'] = 6.56

In [62]:
del d[2]

In [63]:
d

{'a': 23,
 'b': 6.56,
 'd': [85, 96, 45],
 'e': {'fruit': 'mango', 'vege': 'carrot'}}

In [65]:
d.fromkeys(['a',4,6])

{'a': None, 4: None, 6: None}

In [67]:
d['x']

KeyError: 'x'

In [69]:
d.get('x')

In [70]:
d.keys()

dict_keys(['a', 'b', 'd', 'e'])

In [71]:
d.values()

dict_values([23, 6.56, [85, 96, 45], {'fruit': 'mango', 'vege': 'carrot'}])

In [73]:
d.pop('b')

6.56

In [74]:
d

{'a': 23, 'd': [85, 96, 45], 'e': {'fruit': 'mango', 'vege': 'carrot'}}

In [ ]:
d.popitem()

In [75]:
d.update({2:45,'c':[788,990]})

In [76]:
d

{'a': 23,
 'd': [85, 96, 45],
 'e': {'fruit': 'mango', 'vege': 'carrot'},
 2: 45,
 'c': [788, 990]}

#### for loop

In [80]:
for i in range(21,31,2):
    print('hi',i)

hi 21
hi 23
hi 25
hi 27
hi 29

In [82]:
for i in range(len(l3)):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [83]:
for i in l3:
    print(i)

2
4
58
3.5
5.7
apple
mango
papaya
58
36
41
12

In [85]:
for i,ele in enumerate(l3[3:7]):
    print(i,ele)

0 3.5
1 5.7
2 apple
3 mango

In [86]:
l3

[2, 4, 58, 3.5, 5.7, 'apple', 'mango', 'papaya', 58, 36, 41, 12]

In [87]:
l

[12,
 36,
 41,
 58,
 'papaya',
 'mango',
 'apple',
 5.7,
 3.5,
 58,
 4,
 2,
 'papaya',
 'mango',
 'apple',
 3.5,
 78945,
 58,
 4,
 2]

In [88]:
for i,j in zip(l3,l):
    print(i,j)

2 12
4 36
58 41
3.5 58
5.7 papaya
apple mango
mango apple
papaya 5.7
58 3.5
36 58
41 4
12 2

In [89]:
for k in d.keys():
    print(k)

a
d
e
2
c

In [90]:
for v in d.values():
    print(v)

23
[85, 96, 45]
{'fruit': 'mango', 'vege': 'carrot'}
45
[788, 990]

In [92]:
for k in d.items():
    print(k)

('a', 23)
('d', [85, 96, 45])
('e', {'fruit': 'mango', 'vege': 'carrot'})
(2, 45)
('c', [788, 990])

In [ ]:
1. take two numerical lists of different length and find out common elements without duplicates 

a = [2,2,3,4,5,3,4,2]
b = [2,3,3,4,5,4]

2. create a new list with the elements less than 7 in the list a

In [93]:
a = [2,2,3,4,5,3,4,2]
b = [2,3,3,4,5,4]

In [95]:
c = []
for i in a:
    for j in b:
        if i==j and i not in c:
            c.append(i)

In [96]:
c

[2, 3, 4, 5]

In [97]:
c = []
for i in a:
    if i in b and i not in c:
            c.append(i)
c

[2, 3, 4, 5]

In [98]:
d = []
for i in a:
    if i <= 3:
        d.append(i)

In [99]:
d

[2, 2, 3, 3, 2]

In [100]:
[i for i in a if i<=3]

[2, 2, 3, 3, 2]

In [101]:
set(a)&set(b)

{2, 3, 4, 5}

In [102]:
import random as r

In [104]:
r.randint(100,999)

129

In [ ]:
cow => correct number and correct position
bull => correct number and wrong position

In [105]:
file handling
functions
oops
visualization

SyntaxError: invalid syntax (<ipython-input-105-e52f8f3d08a4>, line 1)

In [106]:
print(g)
print("hello")

NameError: name 'g' is not defined

In [107]:
try:
    print(g)
except:
    print("There is an error!!")
print('hello')

There is an error!!
hello

In [108]:
try:
    print(g)
except Exception as e:
    print(e)
    print("There is an error")
print("hello")

name 'g' is not defined
There is an error
hello

In [110]:
print(g=4)

TypeError: 'g' is an invalid keyword argument for this function

In [115]:
try:
    print(g=4)
except (NameError,TypeError) as e:
    print(e)
print('hello')

'g' is an invalid keyword argument for this function
hello

In [116]:
raise ValueError("Test value error")

ValueError: Test value error

In [117]:
try:
    print(g)
except:
    pass
print("hello")

hello

In [119]:
try:
    print(44)
except:
    print("error")
finally:
    print("hello")

44
hello

In [127]:
assert a == 5

In [126]:
a=5

In [ ]:
pip install <library name>

In [1]:
import random

In [3]:
random.randint(1,15)

12

In [4]:
import random as r

In [5]:
r.randint(1,15)

15

In [6]:
from math import factorial,log10,sin

In [7]:
factorial(5)

120

In [8]:
log10(2)

0.3010299956639812

In [9]:
from random import *

In [11]:
from Deep_Learning.customLib import addition

In [12]:
addition()

Enter your name : ss
ss

In [16]:
def displays(name):
    print("Name : ",name)

def show(name):
    price = input("enter price : ")
    print("Price : ",price)
    print('Name : ',name)

In [14]:
name = "pine apple"

In [15]:
displays(name)

Name :  pine apple

In [17]:
show(name)

enter price : 12
Price :  12
Name :  pine apple

In [18]:
class A:
    def display(self,name):
        self.name = name
        print("Name : ",self.name)
    
    def show(self):
        self.price = input("enter price : ")
        print("Price : ",self.price)
        print('Name : ',name)

In [19]:
a = A()

In [20]:
a.display("papaya")

Name :  papaya

In [21]:
a.show()

enter price : 34
Price :  34
Name :  pine apple

In [25]:
class B:
    def display(self,name):
        self.name = name
        print("Name : ",self.name)
    
    def show(self):
        self.price = input("enter price : ")
        print("Price : ",self.price)
        print('Name : ',self.name)

In [26]:
b = B()

In [28]:
b.display('kiwi')

Name :  kiwi

In [29]:
b.show()

enter price : 85
Price :  85
Name :  kiwi

In [30]:
class C:
    def __init__(self,name):
        self.name = name
        self.price = input("enter price : ")
        
    def display(self):
        print("Name : ",self.name)
    
    def show(self):
        self.display()
        print("Price : ",self.price)

In [31]:
c = C('apple')

enter price : 37

In [32]:
c.name

'apple'

In [33]:
c.price

'37'

In [34]:
c.show()

Name :  apple
Price :  37

In [35]:
class D:
    def __init__(self,name):
        self._name = name
        self._price = input("enter price : ")
        
    def display(self):
        print("Name : ",self._name)
    
    def show(self):
        self.display()
        print("Price : ",self._price)

In [36]:
d  = D('orange')

enter price : 78

In [37]:
d.show()

Name :  orange
Price :  78

In [38]:
class parent:
    def printDetails(self):
        print("Name : ",self.name)
        print("Company : ",self.company)
    
    def getDesignation(self):
        self.designation = input("enter designation : ")

In [42]:
class child(parent):
    def __init__(self, name , company):
        self.name = name
        self.company = company
    
    def displayAll(self):
        self.getDesignation()
        self.printDetails()
        print("Designation : ",self.designation)

In [43]:
child = child('aa','xyz')

In [44]:
child.displayAll()

enter designation : qwe
Name :  aa
Company :  xyz
Designation :  qwe

In [46]:
class p:
    def method(self):
        print("I am from P")

class c(p):
    def method(self):
        print("I am from C")

In [47]:
p = c()

In [48]:
p.method()

I am from C