### Variables

In [1]:
a = 5
b = 3.14
c = 'apple'
d = True

### datatype check

In [2]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

### type

In [3]:
print(str(a))
print(type(str(a)))

5
<class 'str'>

### print function

In [4]:
print(a)

5

In [5]:
print(1234)

1234

In [6]:
print("Hello world!!!")

Hello world!!!

In [7]:
# hello apple
# hello 5

In [14]:
# method-1
print("hello",c)
print("hello",a)
print()

# method-2
print("hello "+c)
print("hello "+str(a))
print()

# method-3
print("hello %s"%c)
print("hello %d"%a)
print()

# method-4
print("hello {}".format(c))
print(f"hello {a}")

hello apple
hello 5

hello apple
hello 5

hello apple
hello 5

hello apple
hello 5

### input function

In [17]:
name = input('Enter your name : ')

Enter your name : abc

In [25]:
num = float(input('Enter any number: '))

Enter any number: 25

In [23]:
print(type(name),type(num))

<class 'str'> <class 'float'>

### operators

In [28]:
# + - * / % // **

print(5+2)
print(5-2)
print(5*2)
print(5/2)
print(5%2)
print(5//2)
print(5**2)

7
3
10
2.5
1
2
25

In [29]:
# < > <= >= == !=

print(5 > 2)
print(5 >= 2)
print(5 < 2)
print(5 <= 2)
print(5 == 2)
print(5 != 2)

True
True
False
False
False
True

In [32]:
# and, or, not
a = 5
b = 7

print(a < 10 and b < 15)
print(a < 10 and b < 5)

print(a < 10 or b < 15)
print(a < 10 or b < 5)
print(a < 5 or b < 5)

True
False
True
True
False

In [33]:
a = None
print(not a)

True

In [34]:
a = 5
print(not a)

False

### task-1

In [39]:
n = '5'
print(int(n*3)+int(n*2)+int(n))
print(int(n+n+n)+int(n+n)+int(n))

615
615

### if case

In [64]:
num = float(input("Enter any number :"))

if num % 2 == 0: 
    print('even') 
else:
    print('odd')

Enter any number :40
even

In [54]:
x = True if a> 5 else False

In [55]:
x

False

In [46]:
num = float(input("Enter any number :"))

if num % 2 == 0:
    print('even')
    if num % 4 == 0:
        print("divisible by 4")
else:
    print('odd')

Enter any number :10
even

In [44]:
num = float(input("Enter any number :"))
if num % 4 == 0:
    print("Divisible by 4 and even")
elif num % 2 == 0:
    print('even')
else:
    print('odd')

Enter any number :5
odd

In [49]:
num = float(input("Enter any number :"))
if (num % 2 == 0)and (num % 4 == 0):
    print('Divisible by 4 and even')

Enter any number :10

### HW task

Write a python for rock paper scissor game using the following rules

    rock beats scissor
    scissor beats paper
    paper beats rock

### while loop

In [61]:
i = 0
while i < 3 :
    num = float(input("Enter any number :"))
    if num % 4 == 0:
        print("Divisible by 4 and even")
    elif num % 2 == 0:
        print('even')
    else:
        print('odd')
    
    i += 1 # i = i+1
else:
    print("It's done")

Enter any number :32
Divisible by 4 and even
Enter any number :14
even
Enter any number :18
even
It's done

In [63]:
user = 'y'
while user == 'y' :
    num = float(input("Enter any number :"))
    if num % 4 == 0:
        print("Divisible by 4 and even")
    elif num % 2 == 0:
        print('even')
    else:
        print('odd')
    
    user = input('Do you want to continue? y/n: ')
else:
    print("It's done")

Enter any number :48
Divisible by 4 and even
Do you want to continue? y/n: n
It's done

In [60]:
while True:
    num = float(input("Enter any number :"))
    
    if num == 25:
        print("Stopping....")
        break
    elif num == 15:
        print("Skipping....")
        continue
    
    if num % 4 == 0:
        print("Divisible by 4 and even")
    elif num % 2 == 0:
        print('even')
    else:
        print('odd')
print('hello')

Enter any number :20
Divisible by 4 and even
Enter any number :14
even
Enter any number :15
Skipping....
Enter any number :18
even
Enter any number :25
Stopping....
hello

### Rock Paper Scissor Game - solution

In [ ]:
## Rock Paper Scissor Game

readytoplay = input("Press Y/N to Start/Stop:")
while readytoplay == 'Y' :
    player1 = input("Enter choice for Player 1(rock,paper,scissor):") 
    player2 = input("Enter choice for Player 2(rock,paper,scissor):")
    if ((player1.upper() == 'SCISSOR') and (player2.upper() == 'PAPER')) or ((player1.upper() == 'PAPER') and (player2.upper() == 'SCISSOR'))  :
        print("scissor beats paper")
    elif ((player1.upper() == 'SCISSOR') and (player2.upper() == 'ROCK')) or ((player1.upper() == 'ROCK') and (player2.upper() == 'SCISSOR'))  :
         print("rock beats scissor")
    elif ((player1.upper() == 'PAPER') and (player2.upper() == 'ROCK')) or ((player1.upper() == 'ROCK') and (player2.upper() == 'PAPER'))  :
         print("paper beats rock")
    else:
        print("wrong input")
    readytoplay = input("Do you want to continue Y/N:")
else:
    print("Game Over")

In [ ]:
print("Rock Paper Scissors Game: ")
option = 'y'
p1 = input("Enter Player 1 Name: ")
p2 = input("Enter Player 2 Name: ")
print()
print("Welcome to Game Center - " + p1 + " & " + p2)
while True:
    if option == 'y':
        p1s = input("Enter {}'s option: Rock/Paper/Scissor  : ".format(p1))
        if p1s not in ["Rock","Paper","Scissor"]:
            print()
            print("{}'s - is not a valid option".format(p1s))
            continue 
        p2s = input("Enter " + p2 + " option: Rock/Paper/Scissor  : ")
        if p2s not in ["Rock","Paper","Scissor"]:
            print()
            print("{} - is not a valid option".format(p2s))
            continue 
        print()
        if (p1s == p2s):
            print("It is a tie!!")
        elif ((p1s== "Rock" and p2s == "Paper") or 
            (p1s== "Paper" and p2s == "Scissor") or 
            (p1s== "Scissor" and p2s == "Rock")):
                print("Option: " + p2s + "- Player "+ p2 + " is winner!!")
        else: 
            print("Option: " + p1s + "- Player "+ p1 + " is winner!!")
        option = input ("Do you want to continue: y/n ")    
    else:
        print()
        print("Exiting Game..Bye!!!")
        break

### string

In [65]:
name = 'elephant'
sent = 'elephant is an animal'

In [66]:
name[3],name[-5]

('p', 'p')

In [67]:
name[3:]

'phant'

In [68]:
name[:3]

'ele'

In [69]:
name[2:6]

'epha'

In [70]:
name[2:6:2]

'eh'

In [71]:
name[::-1]

'tnahpele'

In [72]:
name[-3:]

'ant'

In [73]:
name.capitalize()

'Elephant'

In [74]:
sent.title()

'Elephant Is An Animal'

In [75]:
name.upper()

'ELEPHANT'

In [76]:
name.lower()

'elephant'

In [77]:
"naME".swapcase()

'NAme'

In [78]:
len(name)

8

In [79]:
name.center(25,'~')

'~~~~~~~~~elephant~~~~~~~~'

In [80]:
name.zfill(15)

'0000000elephant'

In [81]:
name.count('e')

2

In [83]:
name.encode('utf-16').decode('utf-16')

'elephant'

In [85]:
name.endswith('nT')

False

In [86]:
name.startswith("el")

True

In [87]:
name.index('e'),name.find('e')

(0, 0)

In [88]:
name.index('x')

ValueError: substring not found

In [89]:
name.find('x')

-1

In [91]:
'name is the\tdummy\ttext'.expandtabs(2)

'name is the dummy text'

In [92]:
name.replace('l','Y')

'eYephant'

In [93]:
sent.split()

['elephant', 'is', 'an', 'animal']

In [94]:
sent.split('an')

['eleph', 't is ', ' ', 'imal']

In [95]:
temp = sent.split('an')
'an'.join(temp)

'elephant is an animal'

In [96]:
sent.partition('an')

('eleph', 'an', 't is an animal')

In [97]:
sent.rpartition('an')

('elephant is an ', 'an', 'imal')

In [98]:
' elephant '.lstrip()

'elephant '

In [99]:
' elephant '.rstrip()

' elephant'

In [100]:
' elephant '.strip()

'elephant'

In [101]:
name.strip("nt")

'elepha'

In [103]:
name.isalnum()
name.isalpha()

True

In [104]:
name.isprintable()

True

In [105]:
"\t\%".isprintable()

False

In [106]:
" ".isspace()

True

### list

In [107]:
L = [] # list()

In [108]:
l = ['apple','mango','orange',1,2,3]

In [110]:
l[5] = 34

In [111]:
l

['apple', 'mango', 'orange', 1, 2, 34]

In [112]:
del l[5]

In [113]:
l

['apple', 'mango', 'orange', 1, 2]

In [114]:
l[7] = 42

IndexError: list assignment index out of range

In [116]:
l.append('kiwi')

In [117]:
l

['apple', 'mango', 'orange', 1, 2, 'kiwi']

In [118]:
l.insert(3,'papaya')

In [119]:
l

['apple', 'mango', 'orange', 'papaya', 1, 2, 'kiwi']

In [120]:
l.remove(2)

In [123]:
l

['apple', 'mango', 'orange', 'papaya', 1, 'kiwi', 1]

In [124]:
l.remove(1)

In [125]:
l

['apple', 'mango', 'orange', 'papaya', 'kiwi', 1]

In [126]:
l.pop()

1

In [127]:
l

['apple', 'mango', 'orange', 'papaya', 'kiwi']

In [128]:
l.clear()

In [129]:
l

[]

In [130]:
l = ['apple', 'mango', 'orange', 'papaya', 'kiwi']

In [131]:
g = l

In [133]:
g.append(23)

In [134]:
g

['apple', 'mango', 'orange', 'papaya', 'kiwi', 23]

In [135]:
l

['apple', 'mango', 'orange', 'papaya', 'kiwi', 23]

In [136]:
f = l.copy()

In [139]:
f.pop()

23

In [140]:
f

['apple', 'mango', 'orange', 'papaya', 'kiwi']

In [141]:
l

['apple', 'mango', 'orange', 'papaya', 'kiwi', 23]

In [142]:
l[::-1]

[23, 'kiwi', 'papaya', 'orange', 'mango', 'apple']

In [144]:
l.reverse()

In [145]:
l

[23, 'kiwi', 'papaya', 'orange', 'mango', 'apple']

In [146]:
l.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [149]:
f.sort(reverse=True)

In [150]:
f

['papaya', 'orange', 'mango', 'kiwi', 'apple']

In [151]:
f.extend([23,45,67])

In [152]:
f

['papaya', 'orange', 'mango', 'kiwi', 'apple', 23, 45, 67]

### tuple

In [153]:
t = ('papaya', 'orange', 'mango', 'kiwi', 'apple', 23, 45, 67)

In [154]:
t

('papaya', 'orange', 'mango', 'kiwi', 'apple', 23, 45, 67)

In [156]:
t[4] = 'hnjkhjlhjl'

TypeError: 'tuple' object does not support item assignment

In [157]:
t = list(t)

['papaya', 'orange', 'mango', 'kiwi', 'apple', 23, 45, 67]

In [158]:
t

('papaya', 'orange', 'mango', 'kiwi', 'apple', 23, 45, 67)

In [160]:
import random
random.randint(0,10)

6

### dictionary

In [162]:
D = dict() # {}

In [163]:
d = {'a':'apple','b':'ball',2:345,3.14:'dog','l':l}

In [164]:
d

{'a': 'apple',
 'b': 'ball',
 2: 345,
 3.14: 'dog',
 'l': [23, 'kiwi', 'papaya', 'orange', 'mango', 'apple']}

In [165]:
d['a']

'apple'

In [167]:
d[2] = 458

In [ ]:
del d[3.14]

In [168]:
d

{'a': 'apple',
 'b': 'ball',
 2: 458,
 3.14: 'dog',
 'l': [23, 'kiwi', 'papaya', 'orange', 'mango', 'apple']}

In [169]:
d['c'] = 'cat'

In [170]:
d

{'a': 'apple',
 'b': 'ball',
 2: 458,
 3.14: 'dog',
 'l': [23, 'kiwi', 'papaya', 'orange', 'mango', 'apple'],
 'c': 'cat'}

In [171]:
dict.fromkeys(f)

{'papaya': None,
 'orange': None,
 'mango': None,
 'kiwi': None,
 'apple': None,
 23: None,
 45: None,
 67: None}

In [172]:
d['y']

KeyError: 'y'

In [174]:
d.get('c'),d.get('y')

('cat', None)

In [175]:
d.items()

dict_items([('a', 'apple'), ('b', 'ball'), (2, 458), (3.14, 'dog'), ('l', [23, 'kiwi', 'papaya', 'orange', 'mango', 'apple']), ('c', 'cat')])

In [176]:
d.keys()

dict_keys(['a', 'b', 2, 3.14, 'l', 'c'])

In [177]:
d.values()

dict_values(['apple', 'ball', 458, 'dog', [23, 'kiwi', 'papaya', 'orange', 'mango', 'apple'], 'cat'])

In [179]:
sorted(d)

TypeError: '<' not supported between instances of 'int' and 'str'

In [180]:
d.pop(3.14)

'dog'

In [181]:
d.popitem()

{'a': 'apple',
 'b': 'ball',
 2: 458,
 'l': [23, 'kiwi', 'papaya', 'orange', 'mango', 'apple'],
 'c': 'cat'}

In [182]:
d.update({'t':t[:3],'f':l[:4]})

In [183]:
d

{'a': 'apple',
 'b': 'ball',
 2: 458,
 'l': [23, 'kiwi', 'papaya', 'orange', 'mango', 'apple'],
 'c': 'cat',
 't': ('papaya', 'orange', 'mango'),
 'f': [23, 'kiwi', 'papaya', 'orange']}

In [185]:
dict.fromkeys([1,2,3,2,3,1,4,5,5])

{1: None, 2: None, 3: None, 4: None, 5: None}

In [186]:
set([1,2,3,2,3,1,4,5,5])

{1, 2, 3, 4, 5}

### for loop

In [190]:
for _ in range(5):
    print('hi')

hi
hi
hi
hi
hi

In [192]:
for i in range(21,31,2):
    print(i)

21
23
25
27
29

In [193]:
for i in l:
    print(i)

23
kiwi
papaya
orange
mango
apple

In [194]:
for i,j in zip(l,t):
    print(i,j)

23 papaya
kiwi orange
papaya mango
orange kiwi
mango apple
apple 23

In [195]:
for i in range(len(t)):
    
    print(t[i],l[i])

papaya 23
orange kiwi
mango papaya
kiwi orange
apple mango
23 apple

IndexError: list index out of range

In [196]:
for k,v in d.items():
    print(k,'->',v)

a -> apple
b -> ball
2 -> 458
l -> [23, 'kiwi', 'papaya', 'orange', 'mango', 'apple']
c -> cat
t -> ('papaya', 'orange', 'mango')
f -> [23, 'kiwi', 'papaya', 'orange']

In [202]:
%%time
temp = []
for i in l:
    if str(i).isalpha():
        temp.append(i.upper())

CPU times: user 14 µs, sys: 1 µs, total: 15 µs
Wall time: 19.1 µs

In [199]:
temp

['KIWI', 'PAPAYA', 'ORANGE', 'MANGO', 'APPLE']

In [203]:
%%time
[i.upper() for i in l if str(i).isalpha()]

CPU times: user 14 µs, sys: 0 ns, total: 14 µs
Wall time: 17.4 µs

['KIWI', 'PAPAYA', 'ORANGE', 'MANGO', 'APPLE']

### HW-2

1. write the python code to the find number in the user mind using random library and also try its inverse version.

2. write the python code to predict the three digit number using cow- bull logic,

        cow -> correct number and correct position
        bull -> correct number and wrong position
        
3. write the python code to predict the word. hangman game
<code>
    from random import choice, randint
    choice(l)
    randint(0,10)
</code>

In [ ]:
functions
error handling
libraries

oops

file handling
visualization


API