In [2]:
a = 10
b = 5
print(a+b)

15

### Data types / variables

In [3]:
a = 5  # int
f = 3.14  # float
s = 'apple'  # string
b = True  # bool

### print function

In [5]:
print(type(a))
print(type(f))
print(type(s))
print(type(b))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [6]:
print(f)

3.14

In [7]:
print(123456)

123456

In [8]:
print('hello world')

hello world

#### various methods of print

In [9]:
# hello apple
# hello 5

In [13]:
print("Method - 1")
print("hello",s)
print("hello",a)
print("------------------------")

print("Method - 2")
print("hello " + s)
print("hello " + str(a))
print("------------------------")

print("Method - 3")
print("hello %s"%s)
print("hello %d"%a)
print("------------------------")

print("Method - 4")
print("hello {}".format(s))
print("hello {}".format(a))
print("------------------------")

Method - 1
hello apple
hello 5
------------------------
Method - 2
hello apple
hello 5
------------------------
Method - 3
hello apple
hello 5
------------------------
Method - 4
hello apple
hello 5
------------------------

In [14]:
# i bought 3kgs of mango for 110.5Rs.

m = "mango"
w = 3
p = 110.5

In [16]:
print("i bought",w,'kgs of',m,'for',p,'Rs.')
print("i bought "+str(w)+'kgs of '+m+' for '+str(p)+'Rs.')
print("i bought %dkgs of %s for %0.1fRs."%(w,m,p))
print("i bought {}kgs of {} for {}Rs.".format(w,m,p))

i bought 3 kgs of mango for 110.5 Rs.
i bought 3kgs of mango for 110.5Rs.
i bought 3kgs of mango for 110.5Rs.
i bought 3kgs of mango for 110.5Rs.

### operators

<ol>
<li>Arithmetic Operators</li>
        
        + - * / %  //
<li>Conditional Operators</li>
        
        < > <= >= == !=
<li>Logical Operators</li>
    
        and not or
<li>Misc Operators</li>

        is in not in

</ol>

### Type casting

#### integer to string 

    str(5)
    
#### string to integer

    int('5')

#### float to string

    str(3.14)
    
#### string to float

    float('3.14')

### Task-1

write a python program that accepts an integer(n) and compute the value of n+nn+nnn

Ex input : 5

output : 555+55+5 = 615

In [32]:
n = '5'
ans = int(n+n+n)+int(n+n)+int(n)
print(ans)

n = 5 
ans2 = int(str(n)+str(n)+str(n))+int(str(n)+str(n))+n
print(ans2)

n = '5'
ans3 = int(n*3)+int(n*2)+int(n)
print(ans3)

615
615
615

### input function

In [3]:
name = input("Enter your name :")
age = input("Enter your age :")

Enter your name :xyz
Enter your age :12

In [4]:
print(name,age)

xyz 12

In [5]:
print(type(name),type(age))

<class 'str'> <class 'str'>

In [6]:
name = input("Enter your name :")
age = int(input("Enter your age :"))

Enter your name :John
Enter your age :36

In [7]:
print(type(name),type(age))

<class 'str'> <class 'int'>

In [9]:
int(input("Enter your age :"))

Enter your age :k

ValueError: invalid literal for int() with base 10: 'k'

### if-else

In [11]:
num = int(input("Enter any number :"))
if num % 2 == 0:
    print("even")
else:
    print("odd")

Enter any number :5
odd

### if elseif else

In [14]:
num = int(input("Enter any number :"))
if num % 4 == 0:
    print("Divisible by 4 and even")
elif num % 2 == 0:
    print("even")
else:
    print("odd")

Enter any number :5
odd

### Homework-1

Write a python program to create a rock paper scissor game by using the following rule:
    
    rock beats scissor
    
    scissor beats paper
    
    paper beats rock

### while loop

In [4]:
i = 1
while i <= 5:
    num = int(input("Enter any number :"))
    if num % 4 == 0:
        print("Divisible by 4 and even")
    elif num % 2 == 0:
        print("even")
    else:
        print("odd")
    i += 1

Enter any number :52
Divisible by 4 and even
Enter any number :36
Divisible by 4 and even
Enter any number :41
odd
Enter any number :89
odd
Enter any number :252
Divisible by 4 and even

In [5]:
i = 1
while i <= 5:
    num = int(input("Enter any number :"))
    if num % 4 == 0:
        print("Divisible by 4 and even")
    elif num % 2 == 0:
        print("even")
    else:
        print("odd")
    i += 1 
else:
    print("Iterations are over")

Enter any number :41
odd
Enter any number :36
Divisible by 4 and even
Enter any number :23
odd
Enter any number :12
Divisible by 4 and even
Enter any number :41
odd
Iterations are over

In [6]:
opt = 'y'
while opt == 'y':
    num = int(input("Enter any number :"))
    if num % 4 == 0:
        print("Divisible by 4 and even")
    elif num % 2 == 0:
        print("even")
    else:
        print("odd")
    opt = input("DO you want to continue? y/n :")

Enter any number :63
odd
DO you want to continue? y/ny
Enter any number :84
Divisible by 4 and even
DO you want to continue? y/nn

In [7]:
while 1:
    num = int(input("Enter any number :"))
    if num % 4 == 0:
        print("\tDivisible by 4 and even")
    elif num % 2 == 0:
        print("\teven")
    else:
        print("\todd")

Enter any number :45
	odd
Enter any number :75
	odd
Enter any number :84
	Divisible by 4 and even
Enter any number :10
	even
Enter any number :20
	Divisible by 4 and even
Enter any number :85
	odd
Enter any number :36
	Divisible by 4 and even
Enter any number :j

ValueError: invalid literal for int() with base 10: 'j'

In [9]:
while 1:
    num = int(input("Enter any number :"))
    
    if num == 15:
        print("Stopping....")
        break
    elif num == 25:
        print("Skipping....")
        continue
    
    if num % 4 == 0:
        print("\tDivisible by 4 and even")
    elif num % 2 == 0:
        print("\teven")
    else:
        print("\todd")

Enter any number :74
	even
Enter any number :63
	odd
Enter any number :35
	odd
Enter any number :25
Skipping....
Enter any number :85
	odd
Enter any number :63
	odd
Enter any number :15
Stopping....

### string functions

In [27]:
name = "elephant"
sent = "apple is a red fruit"

#### slicing

In [29]:
name[3],name[-5]

('p', 'p')

In [30]:
name[:3]

'ele'

In [31]:
name[3:]

'phant'

In [32]:
name[2:7]

'ephan'

In [33]:
name[2:7:2]

'ehn'

In [35]:
name[4] = "H"

TypeError: 'str' object does not support item assignment

In [36]:
name[::-1]

'tnahpele'

#### string operations

In [37]:
name.capitalize()

'Elephant'

In [38]:
name.upper()

'ELEPHANT'

In [39]:
name.lower()

'elephant'

In [40]:
name.swapcase()

'ELEPHANT'

In [41]:
name.casefold()

'elephant'

In [42]:
sent.title()

'Apple Is A Red Fruit'

In [44]:
name.startswith("El")

False

In [46]:
name.endswith("nT")

False

In [50]:
' elephant '.rstrip()
' elephant '.lstrip()
' elephant '.strip()
name.strip('t')

'elephan'

In [52]:
temp = name.center(26,"*")
temp

'*********elephant*********'

In [53]:
len(temp)

26

In [54]:
name.zfill(10)

'00elephant'

In [55]:
name.count('e')

2

In [60]:
name.find('l')
name.find('x')

-1

In [59]:
name.index('l')
name.index('x')

ValueError: substring not found

In [61]:
name.replace('e','y')

'ylyphant'

In [62]:
name.islower()

True

In [63]:
name.isupper()

False

In [66]:
num = input("Enter any number :")
if num.isdigit():
    print(num)

Enter any number :f

### libraries and modules

In [ ]:
pip install libraryName # to install library

In [10]:
import math

In [11]:
math.factorial(5)

120

In [12]:
import time as t

In [13]:
t.ctime()

'Sat Feb 15 07:54:25 2020'

In [14]:
import datetime as dt

In [17]:
print(dt.date.today())

2020-02-15

In [18]:
from math import sqrt,factorial,ceil

In [19]:
factorial(4)

24

In [20]:
sqrt(16)

4.0

In [21]:
ceil(4.5758)

5

In [22]:
from matplotlib.pyplot import plot,bar

In [23]:
from math import *

In [24]:
cos(90)

-0.4480736161291701

In [25]:
sin(90)

0.8939966636005579

In [26]:
from customLibs import hello

ModuleNotFoundError: No module named 'customLibs'

In [ ]:
hello()

In [ ]:
from Deep_Learning.customlib import hello

### list

In [1]:
L = [] # list()

In [2]:
l = [12,34,56,'apple','mango','orange',84.36,4.12]

In [3]:
l[1]

34

In [5]:
l[6] = 23.54

In [6]:
l

[12, 34, 56, 'apple', 'mango', 'orange', 23.54, 4.12]

In [8]:
del l[7]

In [9]:
l

[12, 34, 56, 'apple', 'mango', 'orange', 23.54]

#### list function

In [10]:
l.append('kiwi')

In [11]:
l

[12, 34, 56, 'apple', 'mango', 'orange', 23.54, 'kiwi']

In [12]:
L.append('carrot')

In [13]:
L

['carrot']

In [14]:
l.insert(3,'berry')

In [15]:
l[3]

'berry'

In [16]:
l

[12, 34, 56, 'berry', 'apple', 'mango', 'orange', 23.54, 'kiwi']

In [17]:
len(l)

9

In [19]:
sum(l[:3])

102

In [20]:
min(l[:3])

12

In [21]:
max(l[:3])

56

In [22]:
abs(-5)

5

In [23]:
l.pop()

'kiwi'

In [24]:
l.remove(23.54)

In [25]:
l

[12, 34, 56, 'berry', 'apple', 'mango', 'orange']

In [26]:
l.index(56)

2

In [28]:
L.clear()

In [29]:
L

[]

In [30]:
l.reverse()

In [31]:
l

['orange', 'mango', 'apple', 'berry', 56, 34, 12]

In [32]:
l.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [33]:
g = l

In [35]:
g.pop()

12

In [36]:
g

['apple', 'berry', 'mango', 'orange', 56, 34]

In [37]:
l

['apple', 'berry', 'mango', 'orange', 56, 34]

In [38]:
f = l.copy()

In [39]:
f

['apple', 'berry', 'mango', 'orange', 56, 34]

In [40]:
f.remove(56)

In [41]:
f

['apple', 'berry', 'mango', 'orange', 34]

In [42]:
l

['apple', 'berry', 'mango', 'orange', 56, 34]

In [43]:
l.extend(['kiwi','papaya','pine apple'])

In [46]:
l.remove(34)

In [47]:
l

['apple', 'berry', 'mango', 'orange', 'kiwi', 'papaya', 'pine apple']

In [50]:
l.sort(reverse = True)

In [51]:
l

['pine apple', 'papaya', 'orange', 'mango', 'kiwi', 'berry', 'apple']

### tuple

In [52]:
t = ('apple', 'berry', 'mango', 'orange', 56, 34)

In [53]:
t

('apple', 'berry', 'mango', 'orange', 56, 34)

In [55]:
t[2] = 'papaya'

TypeError: 'tuple' object does not support item assignment

In [56]:
del t[2]

TypeError: 'tuple' object doesn't support item deletion

### dictionary

In [72]:
D = {} # dict()

In [73]:
d = {'a':'apple','b':"ball",23:'cat',3.14:'dog',"l":l[:4],'t':t}

In [74]:
d

{'a': 'apple',
 'b': 'ball',
 23: 'cat',
 3.14: 'dog',
 'l': ['pine apple', 'papaya', 'orange', 'mango'],
 't': ('apple', 'berry', 'mango', 'orange', 56, 34)}

In [75]:
d['a']

'apple'

In [78]:
d[23] = 'carrot'

In [79]:
d

{'a': 'apple',
 'b': 'ball',
 23: 'carrot',
 3.14: 'dog',
 'l': ['pine apple', 'papaya', 'orange', 'mango'],
 't': ('apple', 'berry', 'mango', 'orange', 56, 34)}

In [80]:
del d[23]

In [81]:
d

{'a': 'apple',
 'b': 'ball',
 3.14: 'dog',
 'l': ['pine apple', 'papaya', 'orange', 'mango'],
 't': ('apple', 'berry', 'mango', 'orange', 56, 34)}

In [82]:
d['c'] = 3.14

In [83]:
d

{'a': 'apple',
 'b': 'ball',
 3.14: 'dog',
 'l': ['pine apple', 'papaya', 'orange', 'mango'],
 't': ('apple', 'berry', 'mango', 'orange', 56, 34),
 'c': 3.14}

In [86]:
print(d.get('ab'))

None

In [87]:
d.keys()

dict_keys(['a', 'b', 3.14, 'l', 't', 'c'])

In [88]:
d.values()

dict_values(['apple', 'ball', 'dog', ['pine apple', 'papaya', 'orange', 'mango'], ('apple', 'berry', 'mango', 'orange', 56, 34), 3.14])

In [89]:
d.items()

dict_items([('a', 'apple'), ('b', 'ball'), (3.14, 'dog'), ('l', ['pine apple', 'papaya', 'orange', 'mango']), ('t', ('apple', 'berry', 'mango', 'orange', 56, 34)), ('c', 3.14)])

In [97]:
temp = dict.fromkeys(t)

In [98]:
temp

{'apple': None,
 'berry': None,
 'mango': None,
 'orange': None,
 56: None,
 34: None}

In [99]:
D.update(temp)

In [100]:
D

{'apple': None,
 'berry': None,
 'mango': None,
 'orange': None,
 56: None,
 34: None}

### for loop

In [57]:
for i in range(5):
    print('Hi')

Hi
Hi
Hi
Hi
Hi

In [59]:
for i in range(21,31):
    print(i)

21
22
23
24
25
26
27
28
29
30

In [60]:
for i in range(21,31,2):
    print(i)

21
23
25
27
29

In [61]:
for i in range(len(t)):
    print("hello")

hello
hello
hello
hello
hello
hello

In [62]:
for i in l:
    print(i)

pine apple
papaya
orange
mango
kiwi
berry
apple

In [63]:
for i,ele in enumerate(l):
    print(i,ele)

0 pine apple
1 papaya
2 orange
3 mango
4 kiwi
5 berry
6 apple

In [64]:
for i,j in zip(l,t):
    print(i,j)

pine apple apple
papaya berry
orange mango
mango orange
kiwi 56
berry 34

In [65]:
for i in zip(l,t):
    print(i)

('pine apple', 'apple')
('papaya', 'berry')
('orange', 'mango')
('mango', 'orange')
('kiwi', 56)
('berry', 34)

In [101]:
for k in d.keys():
    print(k)

a
b
3.14
l
t
c

In [102]:
for v in d.values():
    print(v)

apple
ball
dog
['pine apple', 'papaya', 'orange', 'mango']
('apple', 'berry', 'mango', 'orange', 56, 34)
3.14

In [103]:
for k,v in d.items():
    print(k,v)

a apple
b ball
3.14 dog
l ['pine apple', 'papaya', 'orange', 'mango']
t ('apple', 'berry', 'mango', 'orange', 56, 34)
c 3.14

### Task

In [66]:
a = [1,1,1,2,2,3]
b = [1,1,2,3,3]

In [ ]:
[1,2,3]

In [68]:
c = []
for i in a:
    if i in b and i not in c:
        c.append(i)

In [69]:
c

[1, 2, 3]

In [70]:
set(a)&set(b)

{1, 2, 3}

In [71]:
set(a).intersection(b)

{1, 2, 3}

### Fibonacci series

In [72]:
a = 0
b = 1
n = int(input("Enter the number of fibonacci series :"))
i = 1
print(a)
print(b)
while i <= n:
    temp = a + b
    print(temp)
    a = b
    b = temp
    i += 1

Enter the number of fibonacci series :8
0
1
1
2
3
5
8
13
21
34

### password generator

In [79]:
import random as r
s = "abcdefghijklmnopqrstuvwxyz01234567890ABCDEFGHIJKLMNOPQRSTUVWXYZ!@#$%^&*()?"
length = 8
pwd = r.sample(s,8)
print(pwd)
print("".join(pwd))

['T', 'm', 'v', 'I', '!', 'C', '4', 'k']
TmvI!C4k

### error handling

In [1]:
print(x)
print("Hello world!!!")

NameError: name 'x' is not defined

In [2]:
try:
    print(x)
except:
    print("There is an error")
print("Hello world!!!")

There is an error
Hello world!!!

In [3]:
try:
    print(x)
except Exception as e:
    print("There is an error :",str(e))
print("Hello world!!!")

There is an error : name 'x' is not defined
Hello world!!!

In [9]:
try:
    print(5/0)
except NameError as ne:
    print("There is an error :",str(ne))
except TypeError as te:
    print("Error :",str(te))   
print("Hello world!!!")

ZeroDivisionError: division by zero

In [10]:
try:
    print(5/0)
except (NameError,ZeroDivisionError) as ne:
    print("There is an error :",str(ne))
except TypeError as te:
    print("Error :",str(te))   
print("Hello world!!!")

There is an error : division by zero
Hello world!!!

In [13]:
try:
    if 5 % 2 != 0:
    print("yes")
except IndentationError:
    print('no')

IndentationError: expected an indented block (<ipython-input-13-1bd25e7c7243>, line 3)

In [15]:
num = input("Enter any number : ")
if num.isalpha():
    raise  ValueError("Please enter numerical value.")

Enter any number : ji

ValueError: Please enter numerical value.

In [17]:
a = int(input("Enter a value :"))
b = int(input("Enter b value :"))

try:
    if abs(a - b) < 10:
        raise ValueError(" Please enter again and difference of 2 numbers should be minimum 10. ")
except ValueError as v:
    print(v)
    a = int(input("Enter a value :"))
    b = int(input("Enter b value :"))
    
for i in range(a,b):
    for j in range(2,i):
        if i % j == 0:
            break
    else:
        print(i)

Enter a value :10
Enter b value :20
11
13
17
19

In [18]:
for i in range(a,b):
    flag = True
    for j in range(2,i):
        if i % j == 0:
            flag = False
            break
    if flag:
        print(i)

11
13
17
19

### functions

In [19]:
def addition(): # no arg no return
    a = int(input("a :"))
    b = int(input("b :"))
    print(a+b,a*b)

In [20]:
addition()

a :5
b :4
9 20

In [21]:
def addition(): # no arg with return
    a = int(input("a :"))
    b = int(input("b :"))
    return a+b,a*b

In [22]:
s,m = addition()

a :3
b :2

In [23]:
s

5

In [24]:
m

6

In [25]:
def addition(a,b): # with arg with return
    return a+b,a*b

In [28]:
def addition(b,a=10): # with arg with return with default value
    return a+b,a*b

In [32]:
c = int(input("a :"))
d = int(input("b :"))
ans = addition(c,d)

a :3
b :4

In [33]:
ans

(7, 12)

In [34]:
def getInput():
    a = int(input("Enter a value :"))
    b = int(input("Enter b value :"))
    return a,b

In [35]:
a,b = getInput()

try:
    if abs(a - b) < 10:
        raise ValueError(" Please enter again and difference of 2 numbers should be minimum 10. ")
except ValueError as v:
    print(v)
    a,b = getInput()
    
for i in range(a,b):
    for j in range(2,i):
        if i % j == 0:
            break
    else:
        print(i)

Enter a value :20
Enter b value :25
 Please enter again and difference of 2 numbers should be minimum 10.
Enter a value :20
Enter b value :30
23
29

In [36]:
a = ['apple','ball','cat','dog']

In [37]:
b = []
for i in a:
    b.append(i.upper())

In [38]:
b

['APPLE', 'BALL', 'CAT', 'DOG']

In [39]:
f = lambda i : i.upper()

In [43]:
f('apple')

'APPLE'

In [41]:
c = list(map(f,a))

In [42]:
c

['APPLE', 'BALL', 'CAT', 'DOG']

### file handling

### visualization