### python check

In [1]:
print("hello world")

hello world

### assigning variable

In [3]:
a = 5 # int
s = "apple" # string
f = 3.14 # float
b = True # bool

### Checking the type of the variable

In [7]:
print(type(b))

<class 'bool'>

In [10]:
n = '56.4' #within quotes-string

In [11]:
print(type(n))

<class 'str'>

### printing the value

In [13]:
print(a)

5

In [14]:
print(123)

123

In [15]:
print('apple')

apple

In [16]:
# hello apple
# hello 5

In [17]:
print("hello",s)
print('hello',a)

hello apple
hello 5

In [18]:
print("hello "+s) # string concatenation
print("hello "+str(a))

hello apple
hello 5

In [20]:
print("hello %s"%s) # formatted output
print("hello %d"%a)

hello apple
hello 5

In [21]:
print("hello {}".format(s))
print("hello {}".format(a))

hello apple
hello 5

In [24]:
print("{} {} {}".format(a,b,f))

5 True 3.14

### getting input from the user

In [36]:
num = int(input("Enter any numerical value : "))

Enter any numerical value : 4

In [31]:
name = input("Enter your name : ")

Enter your name : abc

In [37]:
print(num,name)

4 abc

In [34]:
int(num) * 2

112

### task-1

get numerical input from the user and do the following operation

n => nnn+nn+n

In [8]:
n = '5'
a = n*3
b = n*2
print(a,'+',b,'+',n,'=',int(a)+int(b)+int(n))

555 + 55 + 5 = 615

In [1]:
### 2019-11-21

### operators

In [ ]:
+ - * / % // **

In [5]:
22//7
2**3

8

In [ ]:
< > <= >= == !=

In [12]:
print(5 == 15)
print(5 != 15)

False
True

In [ ]:
and or not

In [ ]:
is in not in

### if-else

In [15]:
num = int(input("Enter any number : "))
if num % 2 == 0:
    print('even')
else:
    print('odd')

Enter any number : 5
odd

### if-else-if

In [19]:
num = int(input("Enter any number : "))
if Q == 0:
    print('divisible by 4 and even')
elif num % 2 == 0:
    print('even')
else:
    print('odd')

Enter any number : 5
odd

### task-2

calculate the area of the following objects based on the user's option and display the output in the described format,
1. circle
2. rectangle
3. square

output format:
"The area of the circle is %0.2fsq.cm for the radius %0.2fcm" % (3.14*5.6**2,5.6)

### while loop

In [25]:
i = 1 
while i <= 5:
    num = int(input("Enter any number : "))
    if num % 2 == 0:
        print('even')
    else:
        print('odd')
    i += 1 # i = i+1

Enter any number : 63
odd
Enter any number : 45
odd
Enter any number : 25
odd
Enter any number : 14
even
Enter any number : 36
even

In [29]:
while True:
    num = int(input("Enter any number : "))
    if num == 20 or num == 40:
        print("stopping")
        break
    elif num == 15:
        print('skipping')
        continue
        
    if num % 2 == 0:
        print('even')
    else:
        print('odd')

Enter any number : 74
even
Enter any number : 14
even
Enter any number : 36
even
Enter any number : 38
even
Enter any number : 15
skipping
Enter any number : 45
odd
Enter any number : 40
stopping

### Homework

Rock paper scissor game

write a program to play rock paper scissor game based on the following rules

<ul>
<li>rock beats scissor</li>

<li>scissor beats paper</li>

<li>paper beats rock</li>
</ul>

In [32]:
print("hello\tworld")
print("hello\nworld")

hello	world
hello
world

In [1]:
### 2019-11-23

### string function

In [2]:
name = 'elephant'
sent = 'elephant is an animal'

#### slicing

In [4]:
print(name[3],name[-5])

p p

In [8]:
name[3:]

'phant'

In [6]:
name[:3]

'ele'

In [7]:
name[2:6]

'epha'

In [11]:
name[2:6:2]

'eh'

In [10]:
print(name[::-1])  # temporary reverse

tnahpele

#### string methods

In [12]:
name.capitalize()

'Elephant'

In [13]:
sent.title()

'Elephant Is An Animal'

In [14]:
name.upper()

'ELEPHANT'

In [15]:
name.lower()

'elephant'

In [16]:
"nAmE".swapcase()

'NaMe'

In [19]:
name.startswith('el')
name.startswith('al')

False

In [20]:
name.endswith("nt")
name.endswith("nT")

False

In [23]:
name.encode('utf16').decode('utf16')

'elephant'

In [26]:
name.center(25,'*')

'*********elephant********'

In [27]:
name.zfill(13)

'00000elephant'

In [28]:
name.count('e')

2

In [29]:
len(name)

8

In [37]:
name.find('x')

-1

In [38]:
name.index('x')

ValueError: substring not found

In [39]:
" elephant ".rstrip()

' elephant'

In [40]:
" elephant ".lstrip()

'elephant '

In [42]:
" elephant ".strip()#.strip('nt')

'elepha'

In [43]:
name.replace('l','h')

'ehephant'

In [46]:
sent

'elephant is an animal'

In [44]:
sent.split()

['elephant', 'is', 'an', 'animal']

In [48]:
temp = sent.split('an')
temp

['eleph', 't is ', ' ', 'imal']

In [49]:
'an'.join(temp)

'elephant is an animal'

In [50]:
name.isalnum()

True

In [51]:
name.islower()

True

In [52]:
### 2019-11-24

### list

In [53]:
L =  [] # to create new list
L = list()

In [54]:
print(L)

[]

In [55]:
l = ['apple','orange','mango',23,67,2,52.36,1.41]

In [56]:
print(l)

['apple', 'orange', 'mango', 23, 67, 2, 52.36, 1.41]

In [57]:
len(l)

8

In [58]:
l[3]

23

In [59]:
l[:3]

['apple', 'orange', 'mango']

In [61]:
l[3] = 48

In [62]:
print(l)

['apple', 'orange', 'mango', 48, 67, 2, 52.36, 1.41]

In [63]:
del l[3]

In [64]:
l

['apple', 'orange', 'mango', 67, 2, 52.36, 1.41]

In [65]:
l.append("pine apple")

In [66]:
l

['apple', 'orange', 'mango', 67, 2, 52.36, 1.41, 'pine apple']

In [67]:
l.insert(3,"kiwi")

In [68]:
l

['apple', 'orange', 'mango', 'kiwi', 67, 2, 52.36, 1.41, 'pine apple']

In [69]:
l.pop()

'pine apple'

In [70]:
l.remove(67)

In [71]:
l

['apple', 'orange', 'mango', 'kiwi', 2, 52.36, 1.41]

In [72]:
g = l.copy()

In [74]:
l.index('mango')

2

In [75]:
l[::-1]

[1.41, 52.36, 2, 'kiwi', 'mango', 'orange', 'apple']

In [ ]:
l.reverse()

In [76]:
l.extend(["pine apple","litchi"])

In [77]:
l

['apple', 'orange', 'mango', 'kiwi', 2, 52.36, 1.41, 'pine apple', 'litchi']

### tuple

In [78]:
t = ('apple', 'orange', 'mango', 'kiwi', 2, 52.36, 1.41, 'pine apple', 'litchi')

In [79]:
t

('apple', 'orange', 'mango', 'kiwi', 2, 52.36, 1.41, 'pine apple', 'litchi')

In [80]:
t.count(2)

1

In [83]:
del l[5]

In [84]:
del t[5]

TypeError: 'tuple' object doesn't support item deletion

### for loop

In [85]:
for i in range(5):
    print("hi")

hi
hi
hi
hi
hi

In [86]:
for i in range(21,26):
    print(i)

21
22
23
24
25

In [87]:
for i in range(len(l)):
    print('hi')

hi
hi
hi
hi
hi
hi
hi
hi

In [92]:
for i in l:
    print(i)

apple
orange
mango
kiwi
2
1.41
pine apple
litchi

In [97]:
for i in t:
    if not str(i).isdecimal():
        print(i)

apple
orange
mango
kiwi
52.36
1.41
pine apple
litchi

In [98]:
a = [2,4,4,5,6,6,1,9,7,7]
b = [3,2,4,4,6,7,7]

In [100]:
c = []
for i in a:
    if i in b and i not in c:
        c.append(i)

In [101]:
c

[2, 4, 6, 7]

In [104]:
c = []
for i in a:
    for j in b:
        if i==j and i not in c:
            c.append(i)

In [105]:
c

[2, 4, 6, 7]

In [ ]:
cmp = 854
cow -> correct number and correct position

bull -> correct number but wrong position