Cheatsheet :- http://bit.ly/AIcheatsheet

Books :- http://bit.ly/AI_material

Resumes :- http://bit.ly/AIresumes

GitHub :- http://bit.ly/AI_repos

exercises :- https://w3resource.com/python-exercises/

In [1]:
a = 5
print(a+b)
b = 10

NameError: name 'b' is not defined

In [2]:
a = 5
b = 10
print(a+b)

15

### variables

In [3]:
a,A,apple,a1,a_2,2a,fruit_name,fruitName

NameError: name 'A' is not defined

### datatypes

In [4]:
a = 5 # int
b = 3.14 # float
c = 'apple' # string
d = True # bool

### print function

In [5]:
print('hello world')

hello world

In [6]:
print(123456)

123456

In [7]:
print(a)

5

#### type and type casting

In [8]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [9]:
n = 5

In [12]:
print(type(n))
n = str(n)
print(n)
print(type(n))

<class 'int'>
5
<class 'str'>

In [17]:
g = '56'

In [19]:
print(type(g))
g = int(g)
print(g)
print(type(g))
g = float(g)
print(g)
print(type(g))

<class 'int'>
56
<class 'int'>
56.0
<class 'float'>

In [ ]:
# hello 5
# hello apple

In [23]:
print("Method-1")
print('hello',a)
print('hello',c)
print("------------")

print("Method-2")
print('hello '+str(a))
print('hello '+c)
print("------------")

print("Method-3")
print('hello %d'%a)
print('hello %s'%c)
print("------------")

print("Method-3")
print('hello {}'.format(a))
print('hello {}'.format(c))
print("------------")

Method-1
hello 5
hello apple
------------
Method-2
hello 5
hello apple
------------
Method-3
hello 5
hello apple
------------
Method-3
hello 5
hello apple
------------

In [24]:
# i bought 2.5kgs of mango for 100Rs
w = 2.5
f = 'mango'
p = 100

In [26]:
print("i bought",w,'kgs of',f,'for',p,'Rs')
print("i bought "+str(w)+'kgs of '+f+' for '+str(p)+'Rs')
print("i bought %0.1fkgs of %s for %dRs"%(w,f,p))
print("i bought {}kgs of {} for {}Rs".format(w,f,p))

i bought 2.5 kgs of mango for 100 Rs
i bought 2.5kgs of mango for 100Rs
i bought 2.5kgs of mango for 100Rs
i bought 2.5kgs of mango for 100Rs

### operators

#### Arithmetic operators

        +, -, *, /, %, //

#### Conditional Operators

        <, >, >=, <=, ==, !=

#### logical operators

        and, or, not

#### misc operators

        is, in, not in, is not

In [33]:
a = None
print(a is None)
print(a is not None)

True
False

#### Operator overloading

In [37]:
print(3+2)
print("apple"+"fruit")

print(3*2)
print('apple'*2)

5
applefruit
6
appleapple

### Task-1

write a python program to calculate the following operation

    input : n

    output : nnn+nn+n
    
    example: n = 5 , 555+55+5
                output : 615

In [38]:
n = '5'
print(int(n*3)+int(n*2)+int(n))

615

In [39]:
n = '5'
print(int(n+n+n)+int(n+n)+int(n))

615

### getting input from user

In [42]:
n = input("Enter any number :")

Enter any number :4

In [43]:
print(n)

4

In [44]:
print(n*2)

44

In [45]:
print(type(n))

<class 'str'>

In [46]:
n = int(input("Enter any number :"))

Enter any number :6

In [47]:
print(n*2)

12

### if-else

In [49]:
n = int(input("Enter any number :"))
if n % 2 == 0:
    print('even')
else:
    print('odd')

Enter any number :5
odd

In [53]:
age = int(input("Enter your age :"))
if  0<= age <= 5:
    print('infant')
elif 6<= age <= 12:
    print('child')
elif 13<= age <= 19:
    print('teenage')
else:
    print('adult')

Enter your age :65
adult

<div class="burk">

```
age = int(input("Enter your age :"))
if  0<= age <= 5:
    print('infant')

if 6<= age <= 12:
    print('child')

if 13<= age <= 19:
    print('teenage')
else:
    print('adult')
```

</div><i class="fa fa-lightbulb-o "></i>

### Task-2

Write a python program to calculate the area of the circle, square and rectangle based on the user's choice. if user selects circle then your program should calculate only the area of the circle by getting radius from the user.

In [56]:
print("The program can calculate the area of the following objects.\n1. circle\n2. square\n3. rectangle\n")
choice = input("Enter you choice :")
if choice == 'circle':
    r = float(input("Enter the radius of the circle :"))
    area = 3.14*r*r
    print("The area of the circle is {:.2f}sq.cm".format(area))
else:
    print("Invalid option!!!")

The program can calculate the area of the following objects.
1. circle
2. square
3. rectangle

Enter you choice :circle
Enter the radius of the circle :2.4
The area of the circle is 18.09Sq.cm

In [57]:
area

18.086399999999998

In [58]:
"{:.2f}".format(area)

'18.09'

### while loop

In [60]:
i = 1
while i <= 5:
    n = int(input("Enter any number :"))
    if n % 2 == 0:
        print('even')
    else:
        print('odd')
    
    i = i+1 # i +=1
else:
    print("Iterations over!!")

Enter any number :24
even
Enter any number :11
odd
Enter any number :36
even
Enter any number :45
odd
Enter any number :69
odd
Iterations over!!

In [61]:
opt = 'y'
while opt == 'y':
    n = int(input("Enter any number :"))
    if n % 2 == 0:
        print('even')
    else:
        print('odd')
    
    opt = input("Do you want to continue? y/n")

Enter any number :48
even
Do you want to continue? y/ny
Enter any number :44
even
Do you want to continue? y/nn

In [63]:
while True:
    n = int(input("Enter any number :"))
    
    if n == 15:
        print("Stopping!!")
        break
    elif n == 25:
        print("Skipping!!")
        continue
        
        
    if n % 2 == 0:
        print('even')
    else:
        print('odd')

Enter any number :85
odd
Enter any number :96
even
Enter any number :45
odd
Enter any number :25
Skipping!!
Enter any number :74
even
Enter any number :15
Stopping!!

### Home work task

Write a program to play Rock-paper-scissor game by using following rules.

1. rock beats scissor
2. scissor beats paper
3. paper beats rock

In [64]:
while True:
    print(" *********Game starts now.. *****************")
    player_1 = input("player 1 name? :")
    player_2 = input("player 2 name? :")
    input_1 = input("What is your choice %s ? (Rock/Paper/Scissor)" % player_1)
    input_2 = input("What is your choice %s ? (Rock/Paper/Scissor)" % player_2)
    if ((input_1.lower() == 'rock') & (input_2.lower() == 'scissor')):
        print("%s won the game.  Cheers." % player_1)
    elif ((input_1.lower() == 'scissor') & (input_2.lower() == 'paper')):
        print("%s won the game.  Cheers." % player_1)
    elif ((input_1.lower() == 'paper') & (input_2.lower() == 'rock')):
        print("%s won the game.  Cheers." % player_1)
    elif ((input_2.lower() == 'rock') & (input_1.lower() == 'scissor')):
        print("%s won the game.  Cheers." % player_2)
    elif ((input_2.lower() == 'scissor') & (input_1.lower() == 'paper')):
        print("%s won the game.  Cheers." % player_2)
    elif ((input_2.lower() == 'paper') & (input_1.lower() == 'rock')):
        print("*****************%s won the game.   Cheers. *******************"
              % player_2)
    else:
        print("!!!!!!!!!Wrong option selected. Try again..")

    quit = input(
        "Do you want to continue the the game ? quit(q)/continue(any key)"
    ).lower()
    if (quit == 'q' or quit == 'quit'):
        break
    else:
        continue

 *********Game starts now.. *****************
player 1 name? :ss
player 2 name? :ab
What is your choice ss ? (Rock/Paper/Scissor)rock
What is your choice ab ? (Rock/Paper/Scissor)paper
*****************ab won the game.   Cheers. *******************
Do you want to continue the the game ? quit(q)/continue(any key)q

### string operation

In [69]:
name = 'madagascar'

sent = "apple is a red fruit"

#### slicing

In [71]:
print(name[3], name[-5])

a a

In [72]:
print(name[2:])

dagascar

In [73]:
print(name[:6])

madaga

In [74]:
print(name[2:6])

daga

In [77]:
print(name[2:8],name[2:8:2])

dagasc dgs

In [78]:
print(name[::-1])

racsagadam

In [80]:
name[2] = 'g'

TypeError: 'str' object does not support item assignment

In [81]:
len(name)

10

#### string function

In [87]:
name.capitalize()
name.lower()
name.upper()
name.swapcase()
name.casefold()
sent.title()

'Apple Is A Red Fruit'

In [91]:
print("*****************%s won the game.Cheers. *******************")

*****************%s won the game.Cheers. *******************

In [93]:
"won the game. Cheers!!!".center(60,'*')
'123'.zfill(6)

'000123'

In [96]:
name.startswith('m')
name.endswith('R')

False

In [99]:
temp = name.encode('utf16')
print(temp)
temp.decode('utf16')

b'\xff\xfem\x00a\x00d\x00a\x00g\x00a\x00s\x00c\x00a\x00r\x00'

'madagascar'

In [103]:
" apple ".rstrip()
" apple ".lstrip()
" apple ".strip()
name.strip('ar')

'madagasc'

In [104]:
name.replace('a',"A")

'mAdAgAscAr'

In [105]:
name.count('a')

4

In [107]:
name.find('d')
name.index('d')

2

In [109]:
name.find('x')
name.index('x')

ValueError: substring not found

In [110]:
sent.split()

['apple', 'is', 'a', 'red', 'fruit']

In [114]:
temp = sent.split('e')
print(temp)
"e".join(temp)

['appl', ' is a r', 'd fruit']

'apple is a red fruit'

In [117]:
" ".isspace()
"\t\&".isprintable()

False

In [124]:
num = input("Enter any number :")
if num.isdigit():
    print("digit")
    
if num.isdecimal():
    print("decimal")
    
if num.isnumeric():
    print("numeric")
    
if num.isalnum():
    print('alpha numeric')

Enter any number :0000000
digit
decimal
numeric
alpha numeric

In [130]:
num = input("Enter any number :")
   
if not num.isalpha():
    print(float(num)*5)

Enter any number :kio

### task-2

1. write a program to check the user entered string is palindrome or not
2. use the following functions and generate n digit password which should have the combination of alphabets in both the case,number and special characte

                ```
                from random import sample 
                ```

In [138]:
from random import sample

text = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789~!@#$%^&*()_+?></.,:;{[]}"

n = int(input("Enter the length of password you want :"))
print("Password :","".join(sample(text,n)))

Enter the length of password you want :8
Password : %g{M02Am

### List

In [139]:
L = [] # list()

In [140]:
l = [12,34,'a','b','c','apple','mango','orange',1.24]

#### List slicing

In [142]:
l[4] = 'cat'

In [143]:
l

[12, 34, 'a', 'b', 'cat', 'apple', 'mango', 'orange', 1.24]

In [144]:
del l[1]

In [145]:
l

[12, 'a', 'b', 'cat', 'apple', 'mango', 'orange', 1.24]

In [150]:
tempList = [12,32,11,9]
print(min(tempList))
print(max(tempList))
print(sum(tempList))

9
32
64

#### list function

In [152]:
l.append('kiwi')

In [153]:
l

[12, 'a', 'b', 'cat', 'apple', 'mango', 'orange', 1.24, 'kiwi']

In [154]:
l.insert(3,'papaya')

In [155]:
l

[12, 'a', 'b', 'papaya', 'cat', 'apple', 'mango', 'orange', 1.24, 'kiwi']

In [156]:
l.pop()

'kiwi'

In [157]:
l.remove(1.24)

In [158]:
l

[12, 'a', 'b', 'papaya', 'cat', 'apple', 'mango', 'orange']

In [160]:
l.index('cat')

4

In [161]:
l.count('a')

1

In [162]:
g = l

In [163]:
g

[12, 'a', 'b', 'papaya', 'cat', 'apple', 'mango', 'orange']

In [164]:
l

[12, 'a', 'b', 'papaya', 'cat', 'apple', 'mango', 'orange']

In [165]:
g.remove(12)

In [166]:
g

['a', 'b', 'papaya', 'cat', 'apple', 'mango', 'orange']

In [167]:
l

['a', 'b', 'papaya', 'cat', 'apple', 'mango', 'orange']

In [168]:
g = l.copy()

In [169]:
g.append('kiwi')

In [170]:
g

['a', 'b', 'papaya', 'cat', 'apple', 'mango', 'orange', 'kiwi']

In [171]:
l

['a', 'b', 'papaya', 'cat', 'apple', 'mango', 'orange']

In [172]:
l.reverse()

In [173]:
l

['orange', 'mango', 'apple', 'cat', 'papaya', 'b', 'a']

In [176]:
l.sort(reverse=True)

In [177]:
l

['papaya', 'orange', 'mango', 'cat', 'b', 'apple', 'a']

In [178]:
l.extend(['pine apple','litchi'])

In [179]:
l

['papaya', 'orange', 'mango', 'cat', 'b', 'apple', 'a', 'pine apple', 'litchi']

### tuple

In [180]:
t = ('papaya', 'orange', 'mango', 'cat', 'b', 'apple', 'a')

In [181]:
t

('papaya', 'orange', 'mango', 'cat', 'b', 'apple', 'a')

In [182]:
t[2:]

('mango', 'cat', 'b', 'apple', 'a')

In [183]:
del t[2]

TypeError: 'tuple' object doesn't support item deletion

In [184]:
t = ((2,3),(2,4),(3,4))

In [187]:
print(t[0][0],t[0][1])

2 3

### dictionary

In [1]:
D = {} # dict()

In [2]:
d = {'a':'apple','b':'ball',23:['papaya', 'orange', 'mango'],3.14:43}

In [3]:
d

{'a': 'apple', 'b': 'ball', 23: ['papaya', 'orange', 'mango'], 3.14: 43}

In [4]:
d['a']

'apple'

In [5]:
d['f'] = 'fish'

In [6]:
d

{'a': 'apple',
 'b': 'ball',
 23: ['papaya', 'orange', 'mango'],
 3.14: 43,
 'f': 'fish'}

In [7]:
d['b'] = 'bat'

In [8]:
d

{'a': 'apple',
 'b': 'bat',
 23: ['papaya', 'orange', 'mango'],
 3.14: 43,
 'f': 'fish'}

In [9]:
del d[3.14]

In [10]:
d

{'a': 'apple', 'b': 'bat', 23: ['papaya', 'orange', 'mango'], 'f': 'fish'}

In [11]:
d.keys()

dict_keys(['a', 'b', 23, 'f'])

In [12]:
d.values()

dict_values(['apple', 'bat', ['papaya', 'orange', 'mango'], 'fish'])

In [13]:
d.items()

dict_items([('a', 'apple'), ('b', 'bat'), (23, ['papaya', 'orange', 'mango']), ('f', 'fish')])

In [14]:
d['y']

KeyError: 'y'

In [15]:
if 'y' in d:
    print(d['y'])

In [16]:
d.get('y')

In [17]:
d.get('a')

'apple'

In [18]:
newDict = {}

In [19]:
for i in ['papaya', 'orange', 'mango']:
    newDict[i[0]] = i

In [20]:
newDict

{'p': 'papaya', 'o': 'orange', 'm': 'mango'}

In [21]:
dict((i[0],i) for i in ['papaya', 'orange', 'mango'])

{'p': 'papaya', 'o': 'orange', 'm': 'mango'}

In [24]:
d.items()

dict_items([('a', 'apple'), ('b', 'bat'), (23, ['papaya', 'orange', 'mango']), ('f', 'fish')])

In [25]:
[(i[0],i) for i in ['papaya', 'orange', 'mango']]

[('p', 'papaya'), ('o', 'orange'), ('m', 'mango')]

In [26]:
d.update(newDict)

In [27]:
d

{'a': 'apple',
 'b': 'bat',
 23: ['papaya', 'orange', 'mango'],
 'f': 'fish',
 'p': 'papaya',
 'o': 'orange',
 'm': 'mango'}

In [28]:
d.pop(23)

['papaya', 'orange', 'mango']

In [29]:
d

{'a': 'apple',
 'b': 'bat',
 'f': 'fish',
 'p': 'papaya',
 'o': 'orange',
 'm': 'mango'}

In [30]:
dict.fromkeys(['papaya', 'orange', 'mango'])

{'papaya': None, 'orange': None, 'mango': None}

### for loop

In [32]:
for i in range(5):
    print('hello')

hello
hello
hello
hello
hello

In [33]:
for i in range(5):
    print(i)

0
1
2
3
4

In [35]:
for i in range(10,21,2):
    print(i)

10
12
14
16
18
20

In [36]:
l = ['papaya', 'orange', 'mango', 'cat', 'b', 'apple', 'a']

In [37]:
for i in l:
    print(i)

papaya
orange
mango
cat
b
apple
a

In [38]:
for i in l[2:]:
    print(i)

mango
cat
b
apple
a

In [39]:
for i,ele in enumerate(l):
    print(i,ele)

0 papaya
1 orange
2 mango
3 cat
4 b
5 apple
6 a

In [41]:
len(d.values())

6

In [42]:
for i,j in zip(l,d.values()):
    print(i,j)

papaya apple
orange bat
mango fish
cat papaya
b orange
apple mango

In [43]:
for k in d.keys():
    print(k)

a
b
f
p
o
m

In [44]:
for ele in d.items():
    print(ele[0],ele[1])

a apple
b bat
f fish
p papaya
o orange
m mango

### task-3

take two lists with duplicate elements inside and across the lists. And extract common numbers without duplicate. 

eg:-
```
a = [1, 6, 10, 6, 1, 2, 1, 6, 5, 3]
b = [6, 9, 1, 0, 4, 1, 2, 1, 2, 4]

expected output

c = [1,2,6]

```

In [55]:
a = [1, 6, 10, 6, 1, 2, 1, 6, 5, 3]
b = [6, 9, 1, 0, 4, 1, 2, 1, 2, 4]

In [56]:
c = []
for i in a:
    for j in b:
        if i==j and i not in c:
            c.append(i)
c

[1, 6, 2]

In [57]:
c = []
for i in a:
    if i in b and i not in c:
            c.append(i)
c

[1, 6, 2]

In [60]:
list(set(a).intersection(b))

[1, 2, 6]

In [61]:
list(set(a)&set(b))

[1, 2, 6]

### task-4

write a python program to extract the numbers which are less than 7 from the given list

eg:-
```
a = [0, 14, 3, 5, 15, 12, 9, 9, 4, 1, 4]

expected output

ans = [0,3,5,4,1,4]

```

In [64]:
a = [0, 14, 3, 5, 15, 12, 9, 9, 4, 1, 4]

ans = []
for i in a:
    if i <= 7:
        ans.append(i)

ans

[0, 3, 5, 4, 1, 4]

In [70]:
ans = [i for i in a if i <= 7]
ans

[0, 3, 5, 4, 1, 4]

### libraries

In [ ]:
pip install libraryName

In [71]:
import math

In [72]:
math.factorial(5)

120

In [73]:
import math as m

In [74]:
m.sqrt(16)

4.0

In [75]:
from random import randint,choice

In [81]:
randint(1,10)

7

In [86]:
choice(l)

'papaya'

In [87]:
from random import *

In [ ]:
randrange(),sample()

### error handling

In [88]:
print(g)
print("hello world")

NameError: name 'g' is not defined

In [89]:
try:
    print(g)
except:
    print("There is an error!!")
print("hello world")

There is an error!!
hello world

In [91]:
try:
    print(g=7)
except Exception as e:
    print("There is an error :",str(e))
print("hello world")

There is an error : 'g' is an invalid keyword argument for this function
hello world

In [94]:
try:
    print(g=1)
except NameError as e:
    print("There is an error :",str(e))
except TypeError as te:
    print("It's a type error")
print("hello world")

It's a type error
hello world

In [98]:
try:
    g = 5
    print(g/0)
except (NameError,ZeroDivisionError) as e:
    print("There is an error :",str(e))
except TypeError as te:
    print("It's a type error")
print("hello world")

There is an error : division by zero
hello world

In [101]:
num = input("Enter any number :")
if num.isalpha():
    raise ValueError("Should enter only numbers")

Enter any numberhi

ValueError: Should enter only numbers

In [ ]:
try:
    num = input("Enter any number :")
    if num.isalpha():
        raise ValueError("Should enter only numbers")
except ValueError:

### functions

In [116]:
def operation(): # no arg no return
    a = float(input('A :'))
    b = float(input('B :'))
    print(a+b,a*b)

In [117]:
operation()

A :5.3
B :2.7
8.0 14.31

In [118]:
def operation(a,b): # arg no return
    print(a+b,a*b)

In [119]:
c = float(input('A :'))
d = float(input('B :'))
operation(c,d)

A :3
B :4
7.0 12.0

In [120]:
def operation(b,a=10): # arg no return
    print(a-b,a*b)

In [121]:
operation(5)

5 50

In [123]:
operation(a=5,b=7)

-2 35

In [124]:
def operation(*args):
    total = 0
    for i in args:
        total += i
    print(total)

In [125]:
operation(1,2)

3

In [126]:
operation(1,2,5,7,3)

18

In [127]:
def operation(**kargs):
    for k,v in kargs.items():
        print(k,':',v)

In [128]:
operation(a='apple',b='ball')

a : apple
b : ball

In [129]:
def operation(a,b): # arg no return
    return a+b,a*b

In [130]:
s,m = operation(5,2)

In [132]:
s

7

In [134]:
m

10

In [135]:
l

['papaya', 'orange', 'mango', 'cat', 'b', 'apple', 'a']

In [136]:
ans = lambda a,b:a+b

In [137]:
ans(5,3)

8

In [138]:
f = lambda s: s.upper()

In [144]:
import time

In [145]:
start = time.time()
L = []
for i in l:
    L.append(f(i))
print(time.time()-start)

0.00014257431030273438

In [141]:
L

['PAPAYA', 'ORANGE', 'MANGO', 'CAT', 'B', 'APPLE', 'A']

In [146]:
start = time.time()
L = [f(i) for i in L]
print(time.time()-start)

0.00022935867309570312

In [147]:
start = time.time()
L = list(map(f,l))
print(time.time()-start)

0.0001723766326904297

In [152]:
l.insert(6, None)

In [153]:
l

['papaya', None, 'orange', 'mango', None, 'cat', None, 'b', 'apple', 'a']

In [155]:
list(filter(None,l))

['papaya', 'orange', 'mango', 'cat', 'b', 'apple', 'a']

In [162]:
def getStudentNames(n,sub):
    studentDict = dict()
    for num in range(n):
        x = input("\nEnter name of student : ")
        marks = getStudentMarks(sub)
        studentDict[x] = marks
    return studentDict

def getStudentMarks(n):
    marks = []
    for num in range(n):
        y = float(input("\tEnter mark of subject-{} : ".format(num+1)))
        marks.append(y)
    return marks

markDict = getStudentNames(3,5)

print()
print(markDict)
print()
for k,v in markDict.items():
    print(k,':',sum(v))

Enter name of student : abc
	Enter mark of subject-1:12
	Enter mark of subject-2:33
	Enter mark of subject-3:34
	Enter mark of subject-4:21
	Enter mark of subject-5:12

Enter name of student :
	Enter mark of subject-1:

ValueError: could not convert string to float:

### class

In [163]:
class test:
    def getInput(self):
        self.name = input("Enter your name : ")
        self.age = int(input("Enter your age :"))
    
    def display(self):
        print("Name :",name)
        print("Age :",self.age)

In [164]:
t = test()

In [165]:
t.getInput()

Enter your name : abs
Enter your age :12

In [166]:
name ='apple'

In [167]:
t.display()

Name : apple
Age : 12

In [168]:
class test:
    def getInput(self):
        self.name = input("Enter your name : ")
        self.age = int(input("Enter your age :"))
    
    def display(self):
        self.getInput()
        print("Name :",self.name)
        print("Age :",self.age)

In [169]:
t = test()

In [170]:
t.display()

Enter your name : abc
Enter your age :123
Name : abc
Age : 123

In [171]:
class test:
    def _getInput(self):
        self.name = input("Enter your name : ")
        self.age = int(input("Enter your age :"))
    
    def display(self):
        self._getInput()
        print("Name :",self.name)
        print("Age :",self.age)

In [173]:
t = test()

In [ ]:
t.display

#### constructor

In [174]:
class billing:
    def __init__(self, priceDict):
        self.priceDict = priceDict
        self.min = 0.5

    def getItem(self):
        self.transaction = []
        for i in range(2):
            itemName = input("Enter the item name :")
            itemQuan = float(input("Enter the weight/ quantity :"))
            if itemQuan < self.min:
                print("Item quantity cannot be less than minimum value.")
                itemQuan = self.min
            itemPrice = self.priceDict[itemName]
            totalCost = itemPrice * itemQuan
            self.transaction.append((itemName, str(itemQuan), str(itemPrice), str(totalCost)))

    def showData(self):
        print("Item\tQuantity\tPrice\tCost")
        for trans in self.transaction:
            print("\t".join(trans))

In [175]:
priceList = {'onion':65,"potato":38,'tomato':27,'carrot':43}

In [176]:
bill = billing(priceList)

In [177]:
bill.getItem()

Enter the item name :onion
Enter the weight/ quantity :1.3
Enter the item name :carrot
Enter the weight/ quantity :.25
Item quantity cannot be less than minimum value.

In [178]:
bill.showData()

Item		Quantity	Price	Cost
onion	1.3	65	84.5
carrot	0.5	43	21.5

In [180]:
"Item\t\tQuantity\tPrice\tCost".expandtabs(3)

'Item     Quantity Price Cost'

In [182]:
class student:
    def __init__(self,n,sub):
        self.n = n
        self.sub = sub
        self.studentDict = dict()
        self.marks = []
        
    def getStudentNames(self):
        for num in range(self.n):
            x = input("\nEnter name of student : ")
            self.getStudentMarks()
            self.studentDict[x] = self.marks

    def getStudentMarks(self):
        self.marks.clear()
        for num in range(self.sub):
            y = float(input("\tEnter mark of subject-{} : ".format(num+1)))
            self.marks.append(y)

In [183]:
student = student(2,3)

In [184]:
student.getStudentNames()

Enter name of student : John
	Enter mark of subject-1 : 23
	Enter mark of subject-2 : 34

Enter name of student : 45
	Enter mark of subject-1 : 56
	Enter mark of subject-2 : 54

In [185]:
student.studentDict

{'John': [56.0, 54.0], '45': [56.0, 54.0]}

#### inheritance

In [186]:
class parent:
    def show(self):
        print("Name :",self.name)
        print('Age :',self.age)

In [187]:
class child(parent):
    def __init__(self,name):
        self.name = name
    
    def get_display(self):
        self.age = input('Enter your age :')
        parent.show(self)

In [188]:
c = child('mango')

In [189]:
c.get_display()

Enter your age :10
Name : mango
Age : 10

In [190]:
class parent:
    def __init__(self, name):
        self.name = name
    
    def show(self):
        print("Name :",self.name)
        print('Age :',self.age)

class child(parent):
    def __init__(self,name):
        parent.__init__(self, name) # self.name = name
    
    def get_display(self):
        self.age = input('Enter your age :')
        parent.show(self)

In [191]:
c = child("papaya")

In [192]:
c.get_display()

Enter your age :14
Name : papaya
Age : 14

In [193]:
class parent:
    def method(self):
        print("I am from parent")

In [195]:
class child(parent):
    def method(self):
        print("I am from child")

In [196]:
child = child()

In [197]:
child.method()

I am from child