In [2]:
a = 6
b = 10
print(a+b)

16

### Github link

https://github.com/sharmasaravanan/Machine_learning

### data types

In [19]:
i = 10 #int
f = 3.14 #float
b = True #bool
s = "apple"#string

### types

In [20]:
print(type(i))
print(type(f))
print(type(b))
print(type(s))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

In [29]:
print(s)
print(i)
print("Hello world!!")

apple
10
Hello world!!

In [30]:
print(1200)

1200

### output

objectives:-
     1. To print "hello apple"
     2. To print "hello 10"

In [43]:
#method 1
print("hello "+s)
print("hello "+str(i)) #type casting 
print("-------"*5) #ignore
#method 2
print("hello",s)
print("hello",i)
print("-------"*5) #ignore
#method 3
print("hello %s"%s) #s => string,d => decimal, f => float
print("hello %d"%i)
print("-------"*5) #ignore
#method 4
print("hello {}".format(s))
print("hello {}".format(i))

hello apple
hello 10
-----------------------------------
hello apple
hello 10
-----------------------------------
hello apple
hello 10
-----------------------------------
hello apple
hello 10

In [49]:
#significance of all the methods
# i bought 2kg of apple for 135 and also bought 3kg of orange for 100.
fruit1 ='apple'
fruit2 ='orange'
cost1 = 135
cost2 = 100
w1 = 2
w2 = 3
print("method-1:")
print("\n\ti bought "+str(w1)+"kg of "+fruit1+" for "+str(cost1)+" and also bought "+str(w2)+"kg of "+fruit2+" for "+str(cost2)+".")
print("method-2:")
print("\n\ti bought",w1,"kg of",fruit1," for",cost1," and also bought",w2,"kg of",fruit2," for",cost2,".")
print("method-3:")
print("\n\ti bought %dkg of %s for %d and also bought %dkg of %s for %d."%(w1,fruit1,cost1,w2,fruit2,cost2))
print("method-4:")
print("\n\ti bought {}kg of {} for {} and also bought {}kg of {} for {}".format(w1,fruit1,cost1,w2,fruit2,cost2))

method-1:

	i bought 2kg of apple for 135 and also bought 3kg of orange for 100.
method-2:

	i bought 2 kg of apple  for 135  and also bought 3 kg of orange  for 100 .
method-3:

	i bought 2kg of apple for 135 and also bought 3kg of orange for 100.
method-4:

	i bought 2kg of apple for 135 and also bought 3kg of orange for 100

### operator overloading

In [44]:
10 + 15 # int (+) int -> arithmetic operation
2 * 5 # int (*) int

10

In [5]:
print('hi ' + 'sharma') # string (+) string -> string concatenation
print("apple " * 3 )# string (*) string

hi sharma
apple apple apple

In [50]:
print("hi {1} welcome to {0}".format("python","hello"))

hi hello welcome to python

### task-1

input:- assign a value to a variable and follow the example

example:-

input:- n = 5

output:- 615

operation:- 555+55+5

Solution:-

1) n = '4'
    <br>ans = int(n*3)+int(n*2)+int(n)
    <br>print(ans)

2) n = 3
    <br>ans = int(str(n)*3)+int(str(n)*2)+n
    <br>print(ans)

### operators
    ### arithmetic operation
+, -, *, /, %

    ### logical operation
and, or , not

    ### conditional operation
<, >, <=, >=, ==, !=

    ### misc operation
is, in, not in , not is

### input

In [6]:
num = int(input("Enter the numerical value: "))
name = input("Enter your name :")

Enter the numerical value: 15
Enter your name :mango

In [12]:
print(type(num))
print(type(name))

<class 'int'>
<class 'str'>

### weekly task -1
calculate the area of circle, rectangle and triangle by getting appropriate input from the user. 
Display the output in the following format,

"The area of circle with radius 5 cm is 78.5 sq.cm

### if-else

In [10]:
num = int(input("Enter the numerical value: "))
if num % 2 != 0:
    print("%d is odd"%num)
else:
    print("%d is even"%num)

Enter the numerical value: 5
5 is odd

####  if-else-if

In [13]:
num = int(input("Enter the numerical value: "))
if num % 4 == 0:
    print('%d is divisible by 4 and also even'%num)
elif num % 2 == 0:
    print("%d is even"%num)
else:
    print("%d is odd"%num)

Enter the numerical value: 5
5 is odd

#### Task-2

calculate the area of circle, rectangle and triangle based on user's preference by getting appropriate input from the user.

In [27]:
choice = input("Please select any one in the following options \na. circle \nb. rectangle \nc. triangle \n")

if choice == 'a' or choice == 'circle':
    radius = float(input("Enter the radius r of the circle : "))
    area = 3.14 * radius * radius
    
    print("The area of the circle is %0.2f sq.cm"%area)

elif choice == 'b' or choice == 'rectangle':
    length = float(input("Enter the length l of the rectangle : "))
    width = float(input("Enter the width w of the rectangle : "))
    area = length * width
    
    print("The area of the rectangle is %0.2f sq.cm"%area)

elif choice == 'c' or choice == 'triangle':
    base = float(input("Enter the base b of the triangle : "))
    height = float(input("Enter the height h of the triangle : "))
    area = (0.5) * base * height
    
    print("The area of the triangle is %0.2f sq.cm"%area)

else:
    print("You have chosen invalid input")

Please select any one in the following options
a. circle
b. rectangle
c. triangle
g
You have chosen invalid input

### while loop

In [36]:
cnt = 0
while True: #inifinite loop
    num = int(input("Enter the numerical value: "))
    
    if num == 25:
        print("Goodbye...!!")
        print(cnt)
        break
    elif num == 50:
        print("Skipping....!")
        continue
    elif num == 15:
        cnt += 1
        pass
        
    if num % 4 == 0:
        print('%d is divisible by 4 and also even'%num)
    elif num % 2 == 0:
        print("%d is even"%num)
    else:
        print("%d is odd"%num)

Enter the numerical value: 36
36 is divisible by 4 and also even
Enter the numerical value: 15
15 is odd
Enter the numerical value: 46
46 is even
Enter the numerical value: 50
Skipping....!
Enter the numerical value: 15
15 is odd
Enter the numerical value: 15
15 is odd
Enter the numerical value: 25
Goodbye...!!
3

In [38]:
cnt = 0
i = 1
while i<=3: #condition based loop
    num = int(input("Enter the numerical value: "))
    
    if num == 25:
        print("Goodbye...!!")
        print(cnt)
        break
    elif num == 50:
        print("Skipping....!")
        continue
    elif num == 15:
        cnt += 1
        pass
        
    if num % 4 == 0:
        print('%d is divisible by 4 and also even'%num)
    elif num % 2 == 0:
        print("%d is even"%num)
    else:
        print("%d is odd"%num)
    i += 1

Enter the numerical value: 45
45 is odd
Enter the numerical value: 50
Skipping....!
Enter the numerical value: 47
47 is odd
Enter the numerical value: 88
88 is divisible by 4 and also even

In [39]:
cnt = 0
opt = 'y'
while opt == 'y':  #user's option loop
    num = int(input("Enter the numerical value: "))

    if num == 25:
        print("Goodbye...!!")
        print(cnt)
        break
    elif num == 50:
        print("Skipping....!")
        continue
    elif num == 15:
        cnt += 1
        pass

    if num % 4 == 0:
        print('%d is divisible by 4 and also even' % num)
    elif num % 2 == 0:
        print("%d is even" % num)
    else:
        print("%d is odd" % num)
    opt = input("Do you want to continue? \ny or n :-")

Enter the numerical value: 96
96 is divisible by 4 and also even
Do you want to continue?
y or ny
Enter the numerical value: 14
14 is even
Do you want to continue?
y or nn

### weekly task -2

Write a python code to play rock paper scissor game for two users, which should satisfy the following conditions.

1. Rock beats scissor
2. Scissor beats paper
3. Paper beats rock

In [2]:
print("Rock Paper Scissor")
while True:
    user1 = input("Enter your choice :")
    user2 = input("Enter your choice :")
    if user1 == 'q' or user2 == 'q' or user1 == "quit" or user2 == "quit":
        print("Good bye!!!")
        break
    elif user1 == user2:
        print("Game is tie")
        continue
    elif (user1 == "rock" and user2 == "scissor") or (user1 == "paper" and user2 == "rock") or (user1 == "scissor" and user2 == "paper"):
        print("User 1 won the game")
        continue
    else:
        print("User 2 won the game")
        continue

Rock Paper Scissor
Enter your choice :quit
Enter your choice :q
Good bye!!!

### weekly task -3

Write a python program to guess the computer generated number and also the display the number of choice you are taking to find the number.

Use the following snippet to generate number

import random as r

comp = r.randint(0,100)

In [3]:
import random as r

comp = r.randint(0,100)
count = 0
while True:
    num = input("Enter your guess?")
    count += 1
    if num == 'q' or num == 'quit':
        break
    if int(num) > comp:
        print("Your guess is High")
        continue
    elif int(num) < comp:
        print("Your guess is Low")
        continue        
    elif int(num) == comp:
        print("Your guess is Correct")
        print("You have taken %d attempts"%count)
        break
    else:
        print("Oops!!! Please try again")
        continue

Enter your guess?45
Your guess is Low
Enter your guess?75
Your guess is Low
Enter your guess?85
Your guess is Low
Enter your guess?95
Your guess is High
Enter your guess?88
Your guess is Low
Enter your guess?90
Your guess is Low
Enter your guess?92
Your guess is Low
Enter your guess?94
Your guess is High
Enter your guess?93
Your guess is Correct
You have taken 9 attempts

### String function

In [66]:
name = " elephant "
sent = "apple is a fruit"

#### Slicing

In [16]:
name[3]
name[3:]
name[:3]
name[2:6]
name[-3:]
name[:-3]
name[::-1]

'tnahpele'

#### string inbuilt functions

In [78]:
name.capitalize()
"NAME".casefold()
name.center(19,"%")
name.count('e')
name.encode("utf-16").decode("utf-16")
name.endswith("nT")
name.startswith("le",1)
name.find('el')
name.index("el")
" ".isspace()
title = sent.title()
title.istitle()
name.lower()
name.upper()
name.swapcase()
name.partition('p')
name.zfill(15)
name.rstrip()
name.lstrip()
name.strip('t ')
name.replace('l',"L")
sent.split()
sentSplit = sent.split()
" ".join(sentSplit)

'apple is a fruit'

In [26]:
len('%%%%%%elephant%%%%%%')

20

In [53]:
title

'Apple Is A Fruit'

### Task-3

a. Check whether a given string is palindrome or not.

b. Convert the following input as given output format.

    input:- "Elephant is an animal ."

    output:- ". animal an is Elephant"

In [82]:
#solution for a
name = input("Enter the string :")

if name == name[::-1]:
    print("Its a pallindrome")
else:
    print("Its not a pallindrome")

Enter the string :malayalam
Its a pallindrome

In [83]:
#solution for b
inputText = "Elephant is an animal ."
print(" ".join(inputText.split()[::-1]))

. animal an is Elephant

### List

In [1]:
l = list()
L = []

In [4]:
fruits = [1,2,3,4,5,6,"apple","mango","banana","orange","papaya"]

In [5]:
fruits

[1, 2, 3, 4, 5, 6, 'apple', 'mango', 'banana', 'orange', 'papaya']

#### list slicing

In [84]:
fruits[2:5]
fruits[5:]
fruits[2:10:3]

['banana', 5, 2]

#### list misc functions

In [13]:
len(fruits)
fruits[7] = "pine apple"
del fruits[-2]

In [14]:
fruits

[1, 2, 3, 4, 5, 6, 'apple', 'pine apple', 'banana', 'papaya']

#### list function

In [20]:
# addition of new element
l.append('orange')
l.insert(0,'apple')

In [24]:
#removing of an element
l.pop()
l.remove('mango')

In [27]:
fruits.index('pine apple')
del fruits[7] 
      or
del fruits[fruits.index('pine apple')]

In [30]:
fruits

[1, 2, 3, 4, 5, 6, 'apple', 'banana', 'papaya', 'apple']

In [31]:
fruits.count('apple')

2

In [32]:
l

['apple', 'orange']

In [33]:
l.clear()

In [34]:
l

[]

In [40]:
L = fruits.copy()

In [41]:
L

[1, 2, 3, 4, 5, 6, 'apple', 'banana', 'papaya', 'apple']

In [39]:
fruits[::-1]

['apple', 'papaya', 'banana', 'apple', 6, 5, 4, 3, 2, 1]

In [42]:
fruits.reverse()

In [43]:
fruits

['apple', 'papaya', 'banana', 'apple', 6, 5, 4, 3, 2, 1]

In [44]:
fruits

['apple', 'papaya', 'banana', 'apple', 6, 5, 4, 3, 2, 1]

In [45]:
fruits.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [62]:
g = [6,7,2,3,0,9,1]

In [63]:
g.sort(reverse=True)

In [64]:
g

[9, 7, 6, 3, 2, 1, 0]

In [51]:
fruits

['apple', 'apple', 'banana', 'papaya', 6, 5, 4, 3, 2, 1]

In [52]:
g

[9, 7, 6, 3, 2, 1, 0]

In [53]:
fruits+g

['apple', 'apple', 'banana', 'papaya', 6, 5, 4, 3, 2, 1, 9, 7, 6, 3, 2, 1, 0]

In [54]:
fruits.extend(g)

In [55]:
fruits

['apple', 'apple', 'banana', 'papaya', 6, 5, 4, 3, 2, 1, 9, 7, 6, 3, 2, 1, 0]

In [56]:
g

[9, 7, 6, 3, 2, 1, 0]

In [57]:
g = fruits.copy()

In [58]:
g

['apple', 'apple', 'banana', 'papaya', 6, 5, 4, 3, 2, 1, 9, 7, 6, 3, 2, 1, 0]

### Tuple

In [59]:
t = (9, 7, 6, 3, 2, 1, 0)

In [60]:
t

(9, 7, 6, 3, 2, 1, 0)

In [65]:
g

[9, 7, 6, 3, 2, 1, 0]

In [66]:
del g[3]

In [67]:
g

[9, 7, 6, 2, 1, 0]

In [68]:
del t[3]

TypeError: 'tuple' object doesn't support item deletion

In [69]:
g[4]=14

In [70]:
g

[9, 7, 6, 2, 14, 0]

In [71]:
t[4]=14

TypeError: 'tuple' object does not support item assignment

In [72]:
t(4)=10

SyntaxError: can't assign to function call (<ipython-input-72-d81889e43bb6>, line 1)

### For loop

In [80]:
for i in range(21,31,2):
    print(i)

21
23
25
27
29

In [86]:
for i in range(len(fruits)):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16

In [96]:
for idx in enumerate(fruits):
    print(idx)

(0, 'apple')
(1, 'apple')
(2, 'banana')
(3, 'papaya')
(4, 6)
(5, 5)
(6, 4)
(7, 3)
(8, 2)
(9, 1)
(10, 9)
(11, 7)
(12, 6)
(13, 3)
(14, 2)
(15, 1)
(16, 0)

In [93]:
for j in fruits[5:]:
    print(j)

5
4
3
2
1
9
7
6
3
2
1
0

In [97]:
g

[9, 7, 6, 2, 14, 0]

In [102]:
fruits[:7]

['apple', 'apple', 'banana', 'papaya', 6, 5, 4]

In [101]:
for l1,l2 in zip(g,fruits[:7]):
    print(l1,l2)

9 apple
7 apple
6 banana
2 papaya
14 6
0 5

### Task-4

1. write a program to find out the common elements between two different lists of variable length  without any duplicates.

2. write a program to create a new list B with the numbers which are lesser than 9 from the list A.

In [105]:
#solution-1
listA = ['a','b','a','c',3,5,6,3,6,'c']
listB = ['a','c','c',4,8,6]
listC = []
# method-1
for eleA in listA:
    if eleA in listB and eleA not in listC:
        listC.append(eleA)
print(listC)

#method-2
list(set(listA)&set(listB))

['a', 'c', 6]

['a', 'c', 6]

In [108]:
#solution-2
lista = [10,5,6,8,1,21,11,8,21,32,15]
listb = []
# method-1
for num in lista:
    if num<=9:
        listb.append(num)
print(listb)

#method-2
print([num for num in lista if num <= 9])

[5, 6, 8, 1, 8]
[5, 6, 8, 1, 8]

### Weekly task-4

write the code for Cow - bull game which follows the following rule,

1. cow  -> correct number and correct position
2. bull -> correct number and wrong position

### Dictionary

In [110]:
d = dict()
D = {}

In [139]:
alpha ={"a":"apple","b":"ball","c":"cat",2:"dog","e":5,'a':"mango"}

In [140]:
alpha

{'a': 'mango', 'b': 'ball', 'c': 'cat', 2: 'dog', 'e': 5}

In [117]:
alpha.keys()

dict_keys(['a', 'b', 'c', 2, 'e'])

In [118]:
alpha.values()

dict_values(['mango', 'ball', 'cat', 'dog', 5])

In [122]:
alpha[2] = "monkey"

In [123]:
alpha

{'a': 'mango', 'b': 'ball', 'c': 'cat', 2: 'monkey', 'e': 5}

In [124]:
alpha.update({"f":"fish"})

In [125]:
alpha

{'a': 'mango', 'b': 'ball', 'c': 'cat', 2: 'monkey', 'e': 5, 'f': 'fish'}

In [128]:
alpha['j'] =  ["jack",3,4,5,"mango"]

In [131]:
alpha

{'a': 'mango',
 'b': 'ball',
 'c': 'cat',
 'e': 5,
 'f': 'fish',
 'j': ['jack', 3, 4, 5, 'mango']}

In [130]:
alpha.pop(2)

'monkey'

In [132]:
alpha.popitem()

('j', ['jack', 3, 4, 5, 'mango'])

In [138]:
for k in alpha.keys():
    print(k,alpha[k])

a mango
b ball
c cat
e 5
f fish

In [142]:
alpha.setdefault('a')

'mango'

In [143]:
alpha

{'a': 'mango', 'b': 'ball', 'c': 'cat', 2: 'dog', 'e': 5}

### Error handling

In [1]:
print(g)
print("Hello world!!")

NameError: name 'g' is not defined

In [13]:
try:
    g = 10
    print(g=2)
except Exception as error:
    print("There is some error!!")
    print("Error :-",error)
    
print("Hello world!!")

There is some error!!
Error :- 'g' is an invalid keyword argument for this function
Hello world!!

In [6]:
ff1732816ba08239c0d3b200c3a9708070885705.jpg-2

NameError: name 'ff1732816ba08239c0d3b200c3a9708070885705' is not defined

In [18]:
try:
    open("./iceberg.txt")
except TypeError as e:
    print("Error:",e)
    print("TypeError")
except NameError as e:
    print("NameError")
    print(e)
except Exception as e:
    print(e)

[Errno 2] No such file or directory: './iceberg.txt'

In [21]:
try:
    print(open("./iceberg.txt"))
except (TypeError, NameError) as e:
    print(e)
    print("some error")

FileNotFoundError: [Errno 2] No such file or directory: './iceberg.txt'

In [23]:
try:
    ans = a*5+b*2+c
except:
    pass
print("Hello")

Hello

In [27]:
try:
    print(h)
except:
    print("error")
print("hello")

5
hello

In [25]:
h = 5

In [35]:
try:
    num = int(input("Enter the number greater than 10 :"))
    if num < 10:
        raise ValueError("Please enter the number greater than 10")
except ValueError as err:
    print("Oops!!",err)
    try:
        num = int(input("Enter the number greater than 10 :"))
        if num < 10:
            raise ValueError("You have entered the number lesser than 10")
    except ValueError as e:
        print(e)

Enter the number greater than 10 :5
Oops!! Please enter the number greater than 10
Enter the number greater than 10 :3
You have entered the number lesser than 10

### task-4

Get two numbers from the user which should be in the range of 10 atleast if not raise the error and get the input again. Find the prime numbers between those two numbers and display the results.

In [37]:
try:
    a = int(input("enter the value for a: "))
    b = int(input("enter the value for b: "))
    if b-a < 10:
        raise ValueError("Enter the number with range of 10.")
except ValueError as e:
    print("Error:",e)
    a = int(input("enter the value for a: "))
    b = int(input("enter the value for b: "))

for i in range(a,b+1):
    for j in range(2,int(i/2)):
        if i%j == 0:
            break
    else:
        print(i)

enter the value for a: 10
enter the value for b: 20
11
13
17
19

In [40]:
for i in range(a,b+1):
    flag = True
    for j in range(2,int(i/2)):
        if i%j == 0:
            flag = False
            break
    if flag:
        print(i)

11
13
17
19

### Library (Import)

#### Install Library

type the following command in the terminal or cmd to get installed all the required library. 
    
    pip install <library name>

e.g;-

    pip install pandas

#### importing library

inbuilt libraries :- 

    math,sys,os,random

In [41]:
import <library name>

     <library name>.functions()

e.g:
    import math

    math.factorial(5)

120

In [43]:
import <library name> as <short name>

     <short name>.functions()

e.g:
    import math as m
    
    m.sin(90)

0.8939966636005579

In [46]:
from <library name> import functions

     functions()

e.g:
    from math import cos,log10,log2,factorial,sin

    print(factorial(5))
    print(log10(2))

SyntaxError: invalid syntax (<ipython-input-46-d48d4d674dcd>, line 2)

In [51]:
from <library name> import * -> import all

functions()

e.g:
    from random import *

    randint(1,5)
    choice([5,3,9])

5

### Functions

In [52]:
def addition():
    a = int(input("a :"))
    b = int(input("b :"))
    print(a+b)

In [53]:
addition()

a :10
b :3
13

In [54]:
def addition(a,b):
    print(a+b)

In [76]:
c = int(input("c :"))
d = int(input("d :"))
ans = addition(c,d)

c :7
d :3

In [70]:
def addition(a,b):
    return a+b,a*b

In [73]:
def addition(a,b=10):
    return a+b,a*b

In [61]:
m

6

In [77]:
ans

(10, 21)

#### inbuilt function

In [83]:
a = lambda x,y: x*" apple"

In [84]:
a(4,5)

' apple apple apple apple'

In [94]:
b = [2,3,4,5,6,9]

b

[2, 3, 4, 5, 6, 9]

In [92]:
b1 =[]
for i in b:
    b1.append(str(i))

In [93]:
b1

['2', '3', '4', '5', '6', '9']

In [95]:
list(map(str,b))

['2', '3', '4', '5', '6', '9']

In [96]:
c = ["apple","ball","cat"]

In [97]:
list(map(str.upper,c))

['APPLE', 'BALL', 'CAT']

In [99]:
l = [1,2,3,4,5,6,7,8,9]

In [100]:
import numpy as np

In [101]:
L = np.reshape(l,[3,3])

In [102]:
L

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [105]:
L[:,1]

array([2, 5, 8])

### OOP

#### basic object

In [7]:
class A:
    def show(self,name):
        print(name)

In [8]:
a = A()

In [9]:
a.show('apple')

apple

In [17]:
class B:
    def fruit(self,name):
        print("fruit:-",name)
    def bill(self,rate,name):
        print("Rate of the %s :-"%name,rate)

In [18]:
b = B()

In [19]:
b.fruit('mango')

fruit:- mango

In [20]:
b.bill(25,'mango')

Rate of the mango :- 25

#### constructor

In [37]:
class C:
    def __init__(self,name,rate):
        self.rate = rate
        self.name = name
    def fruit(self):
        print("fruit:-",self.name)
    def bill(self,weight):
        print("Rate of the %s :-"%self.name,self.rate)
        print("Weight is ",weight)

In [42]:
name = 'pine apple'
weight = 100

In [43]:
c = C("papaya",5)

In [44]:
c.fruit()

fruit:- papaya

In [45]:
c.bill(2)

Rate of the papaya :- 5
Weight is  2

#### encapsulation and class variable

In [64]:
class D:
    _c = 25
    def __init__(self,a,b):
        self.a = a
        self.b = b
    def addition(self):
        print(self.a+self.b+D._c)

In [65]:
d = D(10,12)

In [66]:
d.a

10

In [67]:
d.b

12

In [68]:
d.c

AttributeError: 'D' object has no attribute 'c'

In [69]:
d.addition()

47

In [70]:
def addition(a,b):
    print(a+b)

In [74]:
def addition(a,b,c):
    print(a+b+c)

In [75]:
addition(5,7,3)

15

In [76]:
def addition(a,b,c=None):
    if c:
        print(c)
        print(a+b+c)
    else:
        print(a+b)

In [77]:
addition(2,3)

5

In [78]:
addition(2,3,5)

5
10

In [86]:
class A:
    def display(self):
        print('name: %s' % (self.name,))


class B(A,C):
    def __init__(self, name, fruit):
        self.name = name
        self.fruit = fruit

    def show(self):
        A.display(self)
        C.fruit(self)
        print('fruit: %s' % (self.fruit,))


f = B("apple", "mango")
f.show()

name: apple
fruit:- apple
fruit: mango

In [46]:
class E:
    def __init__(self):
        self.studentsDB = {}
    def getnames(self,):
        name = input("Enter your name :")
        temp =[]
        for i in range(3):
            mark = int(input("Enter your mark :"))
            temp.append(mark)
        self.studentsDB[name] = temp
    def total(self):
        for names,marks in self.studentsDB.items():
            marks.append(sum(marks))
            self.studentsDB[names] = marks

In [47]:
e = E()

In [48]:
e.studentsDB

{}

In [49]:
for i in range(2):
    e.getnames()

Enter your name :A
Enter your mark :78
Enter your mark :96
Enter your mark :45
Enter your name :B
Enter your mark :14
Enter your mark :56
Enter your mark :23

In [50]:
e.studentsDB

{'A': [78, 96, 45], 'B': [14, 56, 23]}

In [44]:
d = {'A': [5, 3, 3], 'B': [8, 6, 4]}
for i,j in d.items():
    s = sum(j)
    temp = j.copy()
    j.append(s)
    d[i] = j

In [45]:
d

{'A': [5, 3, 3, 11], 'B': [8, 6, 4, 18]}

In [51]:
e.total()

In [52]:
e.studentsDB

{'A': [78, 96, 45, 219], 'B': [14, 56, 23, 93]}

In [101]:
class parent:
    def method(self):
        print("i'm from parent class")
class child(parent):
    def method(self):
        parent.method(self)
        print("i'm from child class")

In [104]:
child = parent()

In [105]:
child.method()

i'm from parent class

### misc function

In [53]:
l = [78, 96, 45, 219]

In [54]:
l

[78, 96, 45, 219]

In [58]:
[str(i) for i in l]

['78', '96', '45', '219']

In [59]:
list(map(str,l))

['78', '96', '45', '219']

In [63]:
list(map(str.upper,["apple","None","ball"]))

['APPLE', 'NONE', 'BALL']

In [76]:
list(filter(str.isalpha,["apple","None","ball",5]))

TypeError: descriptor 'isalpha' requires a 'str' object but received a 'int'

### File Handling

In [ ]:
Types:- txt,csv,tsv,json,db,mysqldb,excel

#### txt file -> read and write

In [82]:
file = open("iceberg.txt","a+")
file.write("this is AI class\n")
file.writelines(["file handling topic"])
file.close()

In [92]:
file = open("iceberg.txt","r+")

In [91]:
file.readlines()

['hi hello\n',
 'How are you?\n',
 'i am fine\n',
 'this is AI class\n',
 'file handling topic']

In [93]:
file.write("hey its write mode")

18

In [94]:
file.close()

In [ ]:
file.write()

#### csv,tsv,excel -> read

csv, tsv -> csv
excel -> xlrd,xlwt
json -> json
db -> sqlite3
mysql -> mysqlDB

common wrapper -> panda

In [105]:
import pandas as pd
csvFile = pd.read_csv("./fruits_vege.csv",index_col=0,header=0)

In [106]:
csvFile

    fruit vegetable    fruits 2 vegetable 2
a   apple     onion       apple       onion
b   mango    potato       mango      potato
c  orange     beans  pine apple      carrot

In [100]:
type(csvFile)

pandas.core.frame.DataFrame

In [107]:
csvFile["fruit"]

a     apple
b     mango
c    orange
Name: fruit, dtype: object

In [109]:
csvFile.loc['a',"fruit":"fruits 2"]

fruit        apple
vegetable    onion
fruits 2     apple
Name: a, dtype: object

In [111]:
csvFile.iloc[0]

fruit          apple
vegetable      onion
fruits 2       apple
vegetable 2    onion
Name: a, dtype: object

In [116]:
tsvFile = pd.read_csv("fruits_vege.tsv",index_col=0,delimiter="\t")

In [117]:
tsvFile

    fruit vegetable    fruits 2 vegetable 2
a   apple     onion       apple       onion
b   mango    potato       mango      potato
c  orange     beans  pine apple      carrot

In [120]:
excelFile = pd.read_excel("Course Syllabus.xlsx",sheet_name="Machine Learning")

In [121]:
excelFile

                                        Syllabus  Duration
0             1.Introduction to Machine learning   60 mins
1            1.a  Introduction to Data Operation  150 mins
2                               Basic Operations       NaN
3                             Moving Data Around       NaN
4                              Computing on Data       NaN
5                                  Plotting Data       NaN
6   Control Statements: for, while, if statement       NaN
7                                  Vectorization       NaN
8           2.Types of ML algorithm- an overview   60 mins
9                           Supervisied learning       NaN
10                        Unsupervisied Learning       NaN
11                        Reinforcement Learning       NaN
12                             3.Linear Algebra   180 mins
13                          Matrices and Vectors       NaN
14            Addition and Scalar Multiplication       NaN
15                  Matrix Vector Multiplication       NaN
16                  Matrix Matrix Multiplication       NaN
17              Matrix Multiplication Properties       NaN
18                         Inverse and Transpose       NaN
19                 Practice Quiz: Linear Algebra       NaN
20                           4.Linear Regression  240 mins
21                          Model Representation       NaN
22                                 Cost Function       NaN
23                              Gradient Descent       NaN
24        Gradient Descent For Linear Regression       NaN
25            Features and Polynomial Regression       NaN
26                               Normal Equation       NaN
27              Normal Equation Noninvertibility       NaN
28                         5.Logistic Regression  150 mins
29                                Classification       NaN
..                                           ...       ...
34         Multiclass Classification: One-vs-all       NaN
35                              5.Regularization   60 mins
36                    The Problem of Overfitting       NaN
37                 Regularized Linear Regression       NaN
38               Regularized Logistic Regression       NaN
39              6.Machine Learning System Design   90 mins
40                  Prioritizing What to Work On       NaN
41                         Inverse and Transpose       NaN
42              Error Metrics for Skewed Classes       NaN
43              Trading Off Precision and Recall       NaN
44                     Data For Machine Learning       NaN
45                         7.Supervised Learning  180 mins
46                                           SVM       NaN
47                             Nearest Neighbour       NaN
48                                       Kernels       NaN
49                                      few more       NaN
50                       8.Unsupervised Learning  180 mins
51                             K-Means Algorithm       NaN
52                        Optimization Objective       NaN
53                         Random Initialization       NaN
54               Choosing the Number of Clusters       NaN
55                9.Large Scale Machine Learning  120 mins
56                  Learning with large datasets       NaN
57                   Stochastic Gradient Descent       NaN
58                   Mini-Batch Gradient Descent       NaN
59       Stochastic Gradient Descent Convergence       NaN
60               Map Reduce and Data Parallelism       NaN
61                                   10.Practise  180 mins
62                               11.Tools for ML  150 mins
63                                         TOTAL  30 hours

[64 rows x 2 columns]

In [123]:
excelFile.head(3)

                              Syllabus  Duration
0   1.Introduction to Machine learning   60 mins
1  1.a  Introduction to Data Operation  150 mins
2                     Basic Operations       NaN

In [124]:
excelWork = pd.ExcelFile("Course Syllabus.xlsx")

In [125]:
excelWork.sheet_names

['Basic Python',
 'Advanced Python',
 'Datascience with Python',
 'Machine Learning',
 'Deep Learning']

In [134]:
excelFile = pd.read_excel(excelWork,sheet_name='Deep Learning')

In [135]:
excelFile.head()

                                Syllabus  Duration
0  1. Introduction to Deep Learning (DL)   90 mins
1    2. Neural Network (NN) introduction  240 mins
2                  Neurons and the Brain       NaN
3                  Non-linear Hypothesis       NaN
4                             perceptron       NaN

In [132]:
excelFile.dropna(inplace=True)

In [143]:
excelFile.fillna()

ValueError: Invalid fill method. Expecting pad (ffill) or backfill (bfill). Got mean

In [140]:
excelFile

                                 Syllabus    Duration
0   1. Introduction to Deep Learning (DL)     90 mins
1     2. Neural Network (NN) introduction    240 mins
2                   Neurons and the Brain         NaN
3                   Non-linear Hypothesis         NaN
4                              perceptron         NaN
5                   Multilayer perceptron         NaN
6               Training a neural network         NaN
7                  Backpropagation primer         NaN
8                Gradients & optimization         NaN
9             3. Deep Learning for images    180 mins
10                       CNN architecture         NaN
11   Overview of modern CNN architectures         NaN
12                       pre-trained CNNs         NaN
13                      Alexnet/Googlenet         NaN
14                            OpenCV + NN         NaN
15              3. Deep Learning for Text    150 mins
16                                    RNN         NaN
17                                   LSTM         NaN
18                                    GRU         NaN
19      4.preprocessing Techniques for DL    120 mins
20                         5.Tools for DL    150 mins
21                             6.Practise    180 mins
22                                    NaN         NaN
23                                  Total  18.5 hours

#### csv,tsv and excel -> write

In [144]:
dummyDict = {}

dummyDict["name"] = ["TN","AP","KL","KA","TS"]
dummyDict["language"] = ["Tamil","Telugu","Malayalam","Kannada","Telugu"]

In [145]:
dummyDict

{'name': ['TN', 'AP', 'KL', 'KA', 'TS'],
 'language': ['Tamil', 'Telugu', 'Malayalam', 'Kannada', 'Telugu']}

In [156]:
df = pd.DataFrame(dummyDict)

In [154]:
df.to_csv("iceberg.tsv",sep="\t")

In [ ]:
df.to_excel("iceberg.xlsx")

In [157]:
df.to_json()

'{"name":{"0":"TN","1":"AP","2":"KL","3":"KA","4":"TS"},"language":{"0":"Tamil","1":"Telugu","2":"Malayalam","3":"Kannada","4":"Telugu"}}'

In [160]:
df["pincode"] = [600,500,600,500,500]

In [161]:
df

  name   language  pincode
0   TN      Tamil      600
1   AP     Telugu      500
2   KL  Malayalam      600
3   KA    Kannada      500
4   TS     Telugu      500

In [164]:
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],'data1': range(7)})
df2 = pd.DataFrame({'key': ['a', 'b', 'd'],'data2': range(3)})

In [165]:
df1

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6

In [166]:
df2

  key  data2
0   a      0
1   b      1
2   d      2

In [167]:
pd.merge(df1, df2)

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

In [171]:
pd.merge(df1, df2, on='key')

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

In [172]:
data = pd.DataFrame({'k1': ['one'] * 3 + ['two'] * 4,'k2': [1, 1, 2, 3, 3, 4, 4]})

In [173]:
data

    k1  k2
0  one   1
1  one   1
2  one   2
3  two   3
4  two   3
5  two   4
6  two   4

In [177]:
data.duplicated(subset="k2")
data.drop_duplicates(keep="last")

    k1  k2
1  one   1
2  one   2
4  two   3
6  two   4

In [178]:

data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon', 'Pastrami','corned beef', 'Bacon', 'pastrami', 'honey ham',
'nova lox'],'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})


meat_to_animal = {
'bacon': 'pig',
'pulled pork': 'pig',
'pastrami': 'cow',
'corned beef': 'cow',
'honey ham': 'pig',
'nova lox': 'salmon'
}

In [179]:
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [180]:
data['animal'] = data['food'].map(str.lower).map(meat_to_animal)

In [181]:
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [182]:
dummyDict

{'name': ['TN', 'AP', 'KL', 'KA', 'TS'],
 'language': ['Tamil', 'Telugu', 'Malayalam', 'Kannada', 'Telugu']}

In [183]:
import  json

In [197]:
d = "{"+ "a" +":"+"4"+","+"4"+":"+"b"+"}"

In [198]:
json.loads(json.dumps(d))

'{a:4,4:b}'

In [203]:
file = open("./test.json")
json.load(file)

{'domainId': 'DOMAIN-100',
 'question': 'I want to book appointment',
 'language': 'EN_US',
 'type': 'TASK'}

In [204]:
import yaml
yaml.load(open("./config_sample.yml"))

{'language': 'en',
 'pipeline': 'spacy_sklearn',
 'data': [True, 'yep', 'bye', 'goodbye', False]}