### introduction

In [2]:
a = 5
b = 10
print(a+b)

15

### datatypes

In [3]:
a = 5 # int
b = 3.14 # float
c = 'apple'# string
d = True # bool

In [7]:
print(type(d))

<class 'bool'>

### print function

In [15]:
print(c)

apple

In [9]:
print(45652)

45652

In [12]:
print("hello world")

hello world

###  getting input

In [21]:
name = input("Enter your name : ")

Enter your name : 52

In [22]:
print(name)

52

In [23]:
print(type(name))

<class 'str'>

In [25]:
type(int(name))

int

### methods of print

In [28]:
# hello apple
# hello 5

In [34]:
print("hello "+c)
print("hello "+str(a))

print()
print("hello",c)
print("hello",a)

print()
print("hello %s" %c)
print("hello %d" %a)

print()
print("hello {}".format(c))
print("hello {}".format(a))

hello apple
hello 5

hello apple
hello 5

hello apple
hello 5

hello apple
hello 5

In [36]:
# i bought 2kgs of mango for 52.5
w = 2
f = 'mango'
p = 52.5

In [39]:
print("i bought "+str(w)+"kgs of "+f+"for "+str(p))
print("i bought",w,"kgs of",f,"for",p)
print("i bought %dkgs of %s for %0.1f" %(w,f,p))
print("i bought {}kgs of {} for {}".format(w,f,p))

i bought 2kgs of mangofor 52.5
i bought 2 kgs of mango for 52.5
i bought 2kgs of mango for 52.5
i bought 2kgs of mango for 52.5

### operators

In [ ]:
+ - * / %  #  arithimetic 

< > <= >= == !=  # relational 

not, and, or  # logical

In [40]:
f*3

'mangomangomango'

### task-1

In [41]:
n = 5
 core logice => nnn+nn+n

NameError: name 'nnn' is not defined

In [47]:
n = 5
int(str(n)*3)+int(str(n)*2)+n

615

In [48]:
int(str(n)+str(n)+str(n))+int(str(n)+str(n))+n

615

In [42]:
555+55+5

615

### task-2

In [ ]:
    *
  *   *
*   *   *

In [49]:
s = " *"

In [54]:
print(' ',s)
print('',s*2)
print(s*3)

   *
  * *
 * * *

### if-else

In [58]:
num = int(input("Enter any number : "))
if num % 2 == 0:
    print("number is even")
else:
    print("number is odd")

Enter any number : 64
number is even

### if-else-if

In [61]:
num = int(input("Enter any number : "))
if num % 4 == 0:
    print("number is divisible by 4 and even")
elif num % 2 == 0:
    print("number is even")
else:
    print("number is odd")

Enter any number : 5
number is odd

### task-3

write the python code to calculate the area of rectangle,triangle,and circle. You have to calculate are of any one object based on user's preference

### while loop

In [66]:
opt = 'y'
while opt == 'y':
    num = int(input("Enter any number : "))
    if num % 4 == 0:
        print("number is divisible by 4 and even")
    elif num % 2 == 0:
        print("number is even")
    else:
        print("number is odd")
    opt = input("Do you want to continue? y/n ")

Enter any number : 85
number is odd
Do you want to continue? y/n y
Enter any number : 36
number is divisible by 4 and even
Do you want to continue? y/n n

In [69]:
while True:
    num = int(input("Enter any number : "))
    
    if num == 25:
        break
    elif num == 10:
        continue

    if num % 4 == 0:
        print("number is divisible by 4 and even")
    elif num % 2 == 0:
        print("number is even")
    else:
        print("number is odd")

Enter any number : 9
number is odd
Enter any number : 14
number is even
Enter any number : 36
number is divisible by 4 and even
Enter any number : 10
Enter any number : 34
number is even
Enter any number : 25

### weekly task

write a python code to play rock paper scissor game based on the following rules 

<ul><li>rock beats scissor</li></ul>
<ul><li>scissor beats paper</li></ul>
<ul><li>paper beats rock</li></ul>

### string function

In [2]:
name = "elephant"
sent = "elephant is an animal"

#### slicing

In [3]:
name[3]

'p'

In [4]:
name[-5]

'p'

In [5]:
name[2:]

'ephant'

In [6]:
name[:4]

'elep'

In [7]:
name[2:6]

'epha'

In [8]:
name[2:7]

'ephan'

In [9]:
name[2:7:2] #start:stop:step

'ehn'

In [11]:
name[-5:-2]

'pha'

In [12]:
name[::-1]

'tnahpele'

In [14]:
name[3] = 'c'

TypeError: 'str' object does not support item assignment

In [15]:
name.capitalize()

'Elephant'

In [17]:
sent.title()

'Elephant Is An Animal'

In [18]:
name.upper()

'ELEPHANT'

In [19]:
name.lower()

'elephant'

In [20]:
'NAme'.swapcase()

'naME'

In [22]:
'NAMe'.casefold()

'name'

In [28]:
name.center(40," ")

'                elephant                '

In [29]:
name.zfill(15)

'0000000elephant'

In [30]:
name.count('e')

2

In [33]:
sent.encode('utf-16').decode('utf-16')

'elephant is an animal'

In [35]:
name.endswith('nT')

False

In [39]:
f1 = "test.txt"
f2 = 'test.pdf'
f2.endswith('.pdf')

True

In [41]:
name.startswith('eL')

False

In [46]:
"this\tis\tpython".expandtabs(1)

'this is python'

In [44]:
print("this\tis\tpython")

this	is	python

In [53]:
name.find('x')

-1

In [52]:
name.index('x')

ValueError: substring not found

In [55]:
name.replace('e','y')

'ylyphant'

In [58]:
" elephant ".strip()

'elephant'

In [64]:
name+'.'.strip('.')

'elephant'

In [62]:
name.strip('nt')

'elepha'

In [67]:
temp = sent.split('an')

In [68]:
temp

['eleph', 't is ', ' ', 'imal']

In [71]:
"an".join(temp)

'elephant is an animal'

In [72]:
"hey, how are you\ni am good".splitlines()

['hey, how are you', 'i am good']

In [77]:
"name12".isalnum()

True

In [79]:
"123".isnumeric()

True

In [81]:
" ".isspace()

True

In [84]:
name.isidentifier()

True

In [85]:
"#$".isidentifier()

False

In [86]:
name.isprintable()

True

In [91]:
"#$/$%^\t\t\n".isprintable()

False

### task-4

In [1]:
option=input("Enter the string  \n").lower()
if option.isspace()==True :
    print("space not allowed")
elif option.strip()!=option :
    print ("space not allowed")
elif option==option[::-1]:
    print ("pallindrome")
else:
    print ("not pallindrome")

Enter the string
madam
pallindrome

In [ ]:

oops
extras

### list

In [2]:
L = []

In [3]:
L = list()

In [4]:
L

[]

In [5]:
l = ['a','b','c','apple','ball',52,36,1.2,3.6]

In [6]:
l

['a', 'b', 'c', 'apple', 'ball', 52, 36, 1.2, 3.6]

In [7]:
len(l)

9

In [8]:
l[2:6]

['c', 'apple', 'ball', 52]

In [10]:
l[3] = 'mango'

In [11]:
l

['a', 'b', 'c', 'mango', 'ball', 52, 36, 1.2, 3.6]

In [12]:
l[4]

'ball'

In [13]:
del l[4]

In [14]:
l

['a', 'b', 'c', 'mango', 52, 36, 1.2, 3.6]

#### list functions

In [29]:
l.append('pine apple')

In [16]:
l

['a', 'b', 'c', 'mango', 52, 36, 1.2, 3.6, 'pine apple']

In [20]:
l[4] = 'papaya'

In [30]:
l.insert(4,'kiwi')

In [22]:
l

['a', 'b', 'c', 'mango', 'kiwi', 'papaya', 52, 36, 1.2, 3.6, 'pine apple']

In [23]:
l[4]

'kiwi'

In [24]:
l.pop()

'pine apple'

In [25]:
l.remove('kiwi')

In [26]:
l

['a', 'b', 'c', 'mango', 'papaya', 52, 36, 1.2, 3.6]

In [31]:
L

['kiwi', 'pine apple']

In [32]:
L.clear()

In [33]:
L

[]

In [34]:
l.copy()

['a', 'b', 'c', 'mango', 'kiwi', 'papaya', 52, 36, 1.2, 3.6, 'pine apple']

In [38]:
g = l.copy()

In [39]:
g

['a', 'b', 'c', 'mango', 'kiwi', 'papaya', 52, 36, 1.2, 3.6, 'pine apple']

In [40]:
l.index('kiwi')

4

In [41]:
l[4]

'kiwi'

In [42]:
l[::-1]

['pine apple', 3.6, 1.2, 36, 52, 'papaya', 'kiwi', 'mango', 'c', 'b', 'a']

In [43]:
l.reverse()

In [44]:
l

['pine apple', 3.6, 1.2, 36, 52, 'papaya', 'kiwi', 'mango', 'c', 'b', 'a']

In [46]:
L.append('orange')

In [47]:
L

['carrot', 'orange']

In [48]:
l.extend(L)

In [49]:
l

['pine apple',
 3.6,
 1.2,
 36,
 52,
 'papaya',
 'kiwi',
 'mango',
 'c',
 'b',
 'a',
 'carrot',
 'orange']

### tuple

In [50]:
t = ('pine apple',
 3.6,
 1.2,
 36,
 52,
 'papaya',
 'kiwi',
 'mango',
 'c',
 'b',
 'a',
 'carrot',
 'orange')

In [51]:
t

('pine apple',
 3.6,
 1.2,
 36,
 52,
 'papaya',
 'kiwi',
 'mango',
 'c',
 'b',
 'a',
 'carrot',
 'orange')

In [52]:
T = tuple(l)

In [53]:
T

('pine apple',
 3.6,
 1.2,
 36,
 52,
 'papaya',
 'kiwi',
 'mango',
 'c',
 'b',
 'a',
 'carrot',
 'orange')

In [55]:
t[3] = 85

TypeError: 'tuple' object does not support item assignment

In [56]:
del t[3]

TypeError: 'tuple' object doesn't support item deletion

### dictionary

In [57]:
d = {}

In [59]:
d = dict()

In [62]:
d = {'a':'apple','b':'ball','c':45,3:67}

In [63]:
d

{'a': 'apple', 'b': 'ball', 'c': 45, 3: 67}

In [64]:
d['a']

'apple'

In [66]:
d['b'] = 'bat'

In [67]:
d

{'a': 'apple', 'b': 'bat', 'c': 45, 3: 67}

In [68]:
d['e'] = 'elephant'

In [69]:
d

{'a': 'apple', 'b': 'bat', 'c': 45, 3: 67, 'e': 'elephant'}

In [70]:
del d[3]

In [71]:
d

{'a': 'apple', 'b': 'bat', 'c': 45, 'e': 'elephant'}

#### dictionary functions

In [76]:
d.get('x')

In [74]:
d['x']

KeyError: 'x'

In [77]:
d.keys()

dict_keys(['a', 'b', 'c', 'e', 'name'])

In [78]:
d.values()

dict_values(['apple', 'bat', 45, 'elephant', ['a', 'b', 'c']])

In [79]:
d.popitem()

('name', ['a', 'b', 'c'])

In [80]:
d.pop('c')

45

In [81]:
d

{'a': 'apple', 'b': 'bat', 'e': 'elephant'}

In [84]:
d.update({'name' : ['a', 'b', 'c'],'number':[12,45,85]})

In [85]:
d

{'a': 'apple',
 'b': 'bat',
 'e': 'elephant',
 'name': ['a', 'b', 'c'],
 'number': [12, 45, 85]}

### for loop

In [87]:
for i in range(5):
    print('hi')

hi
hi
hi
hi
hi

In [88]:
for i in range(21,26):
    print(i)

21
22
23
24
25

In [89]:
for i in range(21,31,2):
    print(i)

21
23
25
27
29

In [90]:
for i in range(len(L)):
    print(i)

0
1

In [91]:
for i in l:
    print(i)

pine apple
3.6
1.2
36
52
papaya
kiwi
mango
c
b
a
carrot
orange

In [97]:
for i,j in zip(l,t):
    print(i,j)

orange pine apple
carrot 3.6
a 1.2
b 36
c 52
mango papaya
kiwi kiwi
papaya mango
52 c
36 b
1.2 a
3.6 carrot
pine apple orange

In [98]:
for k in d.keys():
    print(k)

a
b
e
name
number

In [99]:
for k,v in d.items():
    print(k,v)

a apple
b bat
e elephant
name ['a', 'b', 'c']
number [12, 45, 85]

### task-5

In [100]:
a = [5,8,9,6,5,3,2,5,7,8,9,5]
b = [1,2,3,5,5,8,6,2]

In [101]:
[2,3,5,6,8]

[2, 3, 5, 6, 8]

In [102]:
c = []
for i in a:
    for j in b:
        if i==j and i not in c:
            c.append(i)

In [103]:
c

[5, 8, 6, 3, 2]

In [104]:
c = []
for i in a:
    if i in b and i not in c:
        c.append(i)

In [105]:
c

[5, 8, 6, 3, 2]

In [106]:
d = []
for i in a:
    if i <= 5:
        d.append(i)

In [107]:
d

[5, 5, 3, 2, 5, 5]

In [109]:
[i for i in a if i<=5 ] # list comprehension

[5, 5, 3, 2, 5, 5]

### importing libraries and modules

In [ ]:
pip install <library name>

In [110]:
import math

In [111]:
math.sin(90)

0.8939966636005579

In [112]:
import math as m

In [113]:
m.sqrt(81)

9.0

In [114]:
from math import sinh,cos,factorial

In [115]:
factorial(5)

120

In [116]:
from math import *

In [117]:
tan(90)

-1.995200412208242

In [118]:
import customLib as cl

Enter your name : ss
ss

In [119]:
from Deep_Learning import customLib

Enter your name : aa
aa

In [120]:
import random as r

In [121]:
r.randint()

TypeError: randint() missing 2 required positional arguments: 'a' and 'b'

### error handling

In [123]:
print(q)
print('hello')

NameError: name 'q' is not defined

In [124]:
try:
    print(q)
except:
    print('there is an error')
print('hello')

there is an error
hello

In [126]:
try:
    print(q)
except Exception as e:
    print('There is an error :',str(e))
print('hello')

There is an error : name 'q' is not defined
hello

In [132]:
try:
    print(=5)
except NameError:
    print("There is a name error")
except TypeError:
    print("There is a Type error")
print("hello")

SyntaxError: invalid syntax (<ipython-input-132-3428cb298e19>, line 2)

In [134]:
try:
    print(q=5)
except (NameError,TypeError):
    print("error")

error

### functions

In [135]:
def ireland():
    name = input("Enter your name :")
    age = int(input("Enter your age :"))
    print("Name : %s , Age : %d"%(name,age))

In [136]:
ireland()

Enter your name :aa
Enter your age :12
Name : aa , Age : 12

In [138]:
def ireland(name,age):
    print("Name : %s , Age : %d"%(name,age))

In [139]:
name = input("Enter your name :")
age = int(input("Enter your age :"))
ireland(name,age)

Enter your name :bb
Enter your age :85
Name : bb , Age : 85

In [140]:
def ireland(name,age=15):
    print("Name : %s , Age : %d"%(name,age))

In [142]:
name = input("Enter your name :")
age = int(input("Enter your age :"))
ireland(name,age)

Enter your name :dd
Enter your age :74
Name : dd , Age : 74

In [143]:
def ireland(name,age):
    return name,age

In [144]:
name = input("Enter your name :")
age = int(input("Enter your age :"))
n,a = ireland(name,age)

Enter your name :jj
Enter your age :87

In [145]:
n

'jj'

In [146]:
a

87

In [147]:
def ireland(*args):
    for i in args:
        print(i)

In [149]:
ireland('apple','ball','cat','dog')

apple
ball
cat
dog

### task solution discussion

In [ ]:
mport random

n = random.randint(1, 100)
attempt = 0
guess = int(input("Enter the number : "))

while n != guess:
    print
    attempt = attempt+1
    if guess < n:
        print("Guess is Low")
        guess = int(input("Enter the number : "))
    if guess > n:
        print("Guess is High")
        guess = int(input("Enter the number : "))
    if guess == n:
        print("Bingo. Number of Attempt = ", attempt)

In [1]:
num = 789

In [3]:
list(str(num))

['7', '8', '9']

In [4]:
if type(num) == 'int':
    print('yes')

In [7]:
isinstance(list(str(num)),list)

True

In [ ]:
import json
from difflib import get_close_matches
data = json.load(open("data.json"))

def dictionary(word):
    word = word.lower()
            
    if word in data:
        return data[word]
   
    elif len(get_close_matches(word, data.keys())) > 0:
        close_word = input("Do you mean %s instead? Enter Y if yes or N if no : " % get_close_matches(word, data.keys())[0])
        
        if close_word.lower() == 'y':
            return data[get_close_matches(word, data.keys())[0]]
        else:
            return "Word does not exist. Please double check it."
        
    else:
        return "Word does not exist. Please double check it."

while True:
    word = input("Enter the word : ")
    out = dictionary(word)

    
    if isinstance(out, list):
        for item in out:
            print("\n*",item)
    else:
        print("\n",out)

In [ ]:
allPossibleMatches = get_close_matches(word, data.keys())

meaning = []
for matchedWord in allPossibleMatches:
    meaning.append(data.get(matchedWord))

[data.get(matchedWord) for matchedWord in allPossibleMatches]

### oops

In [8]:
def display(name):
    print("Name :", name)

def show(name):
    price = input("Please enter the price : ")
    print("Price : ", price)
    print("Name : ", name)

In [9]:
name = 'Pine apple'

In [10]:
display(name)

Name : Pine apple

In [11]:
show(name)

Please enter the price : 52
Price :  52
Name :  Pine apple

In [12]:
class A:
    def display(self,name):
        print("Name :", name)

    def show(self,name):
        price = input("Please enter the price : ")
        print("Price : ", price)
        print("Name : ", name)

In [13]:
a = A()

In [15]:
a.display(name)

Name : Pine apple

In [16]:

a.show(name)

Please enter the price : 96
Price :  96
Name :  Pine apple

In [39]:
# class with shared arg
class B:
    def display(self,name):
        self.name = name
        print("Name :", self.name)

    def show(self):
        price = input("Please enter the price : ")
        print("Price : ", price)
        print("Name : ", self.name)

In [26]:
b = B()

In [27]:
b.display('mango')

Name : mango

In [28]:
b.show()

Please enter the price : 32
Price :  32
Name :  mango

In [43]:
# constructor
class C:
    def __init__(self,name):
        self.name = name

    def display(self):
        print("Name :", self.name)

    def cost(self):
        self.price = input("Please enter the price : ")
    
    def show(self):
        self.cost()
        print("Price : ", self.price)
        print("Name : ", self.name)

In [44]:
c = C('papaya')

In [37]:
c.name

'papaya'

In [32]:
c.display()

Name : papaya

In [33]:
c.show()

Please enter the price : 78
Price :  78
Name :  papaya

In [41]:
# data abstraction
class C:
    def __init__(self,name):
        self.name = name

    def display(self):
        print("Name :", self.name)

    def _cost(self):
        self.price = input("Please enter the price : ")
    
    def show(self):
        self._cost()
        print("Price : ", self.price)
        print("Name : ", self.name)

In [45]:
d = C('kiwi')

In [46]:
d.display()

Name : kiwi

In [47]:
d.show()

Please enter the price : 65
Price :  65
Name :  kiwi

In [49]:
# destructor
class E:
    def __init__(self,name):
        self.name = name
    
    def __del__(self):
        print("object deleted")
    
    def display(self):
        print("Name :", self.name)

    def _cost(self):
        self.price = input("Please enter the price : ")
    
    def show(self):
        self._cost()
        print("Price : ", self.price)
        print("Name : ", self.name)

In [50]:
e = E('apple')

In [51]:
e.display()

Name : apple

In [52]:
e.show()

Please enter the price : 41
Price :  41
Name :  apple

In [53]:
e.name

'apple'

In [59]:
# inheritance
class parent:
    def printDetails(self):
        print("Name : ", self.name)
        print("Company : ",self.company)
        print("Location : ",self.location)
    
    def getDesignation(self):
        self.designation = input("Enter your designation :")

In [55]:
class child(parent):
    def __init__(self,name,company):
        self.name = name
        self.company = company
        
    def getLocation(self):
        self.location = input("Enter your location :")
    
    def displayAll(self):
        parent.getDesignation(self)
        self.getLocation()
        self.printDetails()
        print("Designation : ",self.designation)

In [56]:
child = child('ss','xyz')

In [57]:
child.displayAll()

Enter your designation :aaa
Enter your location :ch
Name :  ss
Company :  xyz
Location :  ch
Designation :  aaa

In [60]:
sum([78,25,69])

172

In [ ]:
sorted()