In [1]:
a = 5 
print(a+b)
b = 10

NameError: name 'b' is not defined

In [2]:
print("hello world")

hello world

In [ ]:
http://bit.ly/AI_repos

### Data variables

In [3]:
a = 5 # int
b = 3.14 # float
c = "apple" # string
d = True # bool

### print function

In [6]:
print(c)

apple

In [7]:
print(a)

5

In [11]:
print(type(d))

<class 'bool'>

In [12]:
print(48596)

48596

In [13]:
print("apple is a fruit")

apple is a fruit

In [15]:
print("apple")

apple

In [16]:
# hello apple
# hello 5

In [23]:
# method-1

print("hello",c)
print("hello",a)
print("-----------------")

# method-2

print("hello "+c)
print("hello "+str(a))
print("-----------------")

# method-3

print("hello %s"%c)
print("hello %d"%a)
print("-----------------")

# method-4

print("hello {}".format(c))
print("hello {}".format(a))

hello apple
hello 5
-----------------
hello apple
hello 5
-----------------
hello apple
hello 5
-----------------
hello apple
hello 5

In [24]:
# i bought 2kgs of apple for 75.55

weight = 2 
fruit = 'mango'
cost = 75.55

In [26]:
print("i bought",weight,'kgs of',fruit,"for",cost)
print("i bought "+str(weight)+'kgs of '+fruit+" for "+str(cost))
print("i bought %dkgs of %s for %0.2f"%(weight,fruit,cost))
print("i bought {}kgs of {} for {}".format(weight,fruit,cost))

i bought 2 kgs of mango for 75.55
i bought 2kgs of mango for 75.55
i bought 2kgs of mango for 75.55
i bought 2kgs of mango for 75.55

### getting input from user

In [29]:
name = input("Enter your name :")

Enter your name :abcd

In [30]:
print(name)

abcd

In [31]:
print(type(name))

<class 'str'>

In [35]:
num = int(input("Enter any number :"))

Enter any number :5

In [36]:
print(num)

5

In [37]:
print(type(num))

<class 'int'>

In [ ]:
num = int(num)

In [10]:
n = 5

In [11]:
nnn+nn+n

NameError: name 'nnn' is not defined

In [40]:
555+55+5

615

In [41]:
n*111+n*11+n

615

In [44]:
num = input("enter any number :")
           
ans = int(num+num+num)+int(num+num)+int(num)

print(ans)

enter any number :4
492

In [46]:
num = int(input("enter any number :"))
           
ans = int(str(num)+str(num)+str(num))+int(str(num)+str(num))+int(str(num))

print(ans)

enter any number :3
369

In [51]:
num = input("enter any number :")

ans = int(num*3)+int(num*2)+int(num)

print("your output is",ans)

enter any number :6
your output is  738

### operators

arithmetic operators

        + - * / % // (str: + *)
        
conditional operators

        < > <= >= == !=

logical operators
        
        and, or, not
        
misc operators

        in, not in, is

#### operator examples

In [5]:
# arithmetic operators

a = 5
b = 7

print(a + b)  # addition
print(a - b)  # sub
print(a * b)  # mul
print(b / a)  # div (Q)
print(b % a)  # modulus Div (R)
print(b // a)  # floor div

12
-2
35
1.4
2
1

In [7]:
# conditional operators

print(a > b)
print(a < b)
print(a >= b)
print(a <= b)
print(a == b)
print(a != b)

False
True
False
True
False
True

<span class="burk">Other two operators will be covered in if-else concept</span>

### if-else

In [18]:
num = int(input("Enter the number :"))
if num % 2 == 0:
    print("Number %d is even"%num)
else:
    print("Number %d is odd"%num)

Enter the number :10
Number 10 is even

In [19]:
num = int(input("Enter the number :"))
if num % 4 == 0:
    print("Number %d is divisible by 4 and even"%num)
elif num % 2 == 0:
    print("Number %d is even"%num)
else:
    print("Number %d is odd"%num)

Enter the number :15
Number 15 is odd

### task-2

write a program to calculate the area of circle, rectangle and triangle based on the user's choice.

1. print all the options to user
2. get the object as input
3. based on the object, if case should be executed

In [25]:
print(
    "The program can calculate area for the following objects\n1. circle\n2. rectangle\n3. triangle"
)
user = input("\nSelect any one object to proceed :")

if user == 'circle' or user == '1':
    r = float(input("Enter the radius of the circle :"))
    area = 3.14 * r * r
    print("Area of the circle is %0.2f" % area)
elif user == 'rectangle' or user == '2':
    l = float(input("Enter the length of the rectangle :"))
    b = float(input("Enter the breadth of the rectangle :"))
    area = l * b
    print("Area of the rectangle is %0.2f" % area)
elif user == 'triangle' or user == '3':
    b = float(input("Enter the base of the triangle :"))
    h = float(input("Enter the height of the triangle :"))
    area = 0.5 * b * h
    print("Area of the triangle is %0.2f" % area)
else:
    print("please select the valid option")

The program can calculate area for the following objects
1. circle
2. rectangle
3. triangle

Select any one object to proceed :2
Enter the length of the rectangle :4
Enter the breadth of the rectangle :8
Area of the rectangle is 32.00

### while loop

In [26]:
i = 1
while i < 5:
    num = int(input("Enter the number :"))
    if num % 4 == 0:
        print("Number %d is divisible by 4 and even" % num)
    elif num % 2 == 0:
        print("Number %d is even" % num)
    else:
        print("Number %d is odd" % num)

    i = i + 1

Enter the number :20
Number 20 is divisible by 4 and even
Enter the number :47
Number 47 is odd
Enter the number :36
Number 36 is divisible by 4 and even
Enter the number :41
Number 41 is odd

In [27]:
while True:
    num = int(input("Enter the number :"))
    if num % 4 == 0:
        print("Number %d is divisible by 4 and even" % num)
    elif num % 2 == 0:
        print("Number %d is even" % num)
    else:
        print("Number %d is odd" % num)

Enter the number :52
Number 52 is divisible by 4 and even
Enter the number :63
Number 63 is odd
Enter the number :45
Number 45 is odd
Enter the number :63
Number 63 is odd
Enter the number :39
Number 39 is odd
Enter the number :65
Number 65 is odd
Enter the number :4
Number 4 is divisible by 4 and even
Enter the number :h

ValueError: invalid literal for int() with base 10: 'h'

In [29]:
while True:
    num = int(input("Enter the number :"))
    
    if num == 25:
        print("stopping...")
        break
    elif num == 15:
        print("skipping...")
        continue
    
    if num % 4 == 0:
        print("Number %d is divisible by 4 and even" % num)
    elif num % 2 == 0:
        print("Number %d is even" % num)
    else:
        print("Number %d is odd" % num)

Enter the number :85
Number 85 is odd
Enter the number :63
Number 63 is odd
Enter the number :52
Number 52 is divisible by 4 and even
Enter the number :15
skipping...a
Enter the number :14
Number 14 is even
Enter the number :25
stopping...

### Home work

write the python program for Rock paper scissor game. use the following rules to write the logic

    rock beats scissor
    
    scissor beats paper
    
    paper beats rock

In [1]:
while 1:
    user=input("Enter your choice :")
    if user=="quit" or user=="q":
        print ("Good Bye....")
        break
    comp = input("Enter your choice :")
    print ("Your choice is ",user,"and computer choice is ",comp)
    if user==comp:
        print ("Game is tie")
        continue
    elif user=="rock":
        if comp=="scissor":
            print ("user won the game")
        else:
            print ("Computer won the game")
    elif user=="scissor":
        if comp=="paper":
            print ("user won the game")
        else:
            print ("computer won the game")
    elif user=="paper":
        if comp=="rock":
            print ("user won the game")
        else:
            print ("computer won the game")
    else:
        print ("Have a nice day....!!!")

Enter your choice :rock
Enter your choice :paper
Your choice is  rock and computer choice is  paper
Computer won the game
Enter your choice :scissor
Enter your choice :paper
Your choice is  scissor and computer choice is  paper
user won the game
Enter your choice :q
Good Bye....

### string operations

In [2]:
name = 'elephant'
sentence = "elephant is an animal"

In [3]:
print(name)

elephant

In [4]:
print(len(name))

8

In [7]:
print(name[3],name[-5])

p p

In [8]:
print(name[2:])

ephant

In [9]:
print(name[:4])

elep

In [10]:
print(name[2:7])

ephan

In [12]:
print(name[2:7:3])

ea

In [14]:
name[2]='a'

TypeError: 'str' object does not support item assignment

In [15]:
print(name[::-1])

tnahpele

In [19]:
print(name.capitalize())

Elephant

In [23]:
temp = name.upper()
print(temp)

ELEPHANT

In [29]:
print(name.lower())

elephant

In [22]:
sentence.title()

'Elephant Is An Animal'

In [25]:
'naME'.swapcase()

'NAme'

In [28]:
'NAMe'.casefold()

'name'

In [31]:
name.count('p')

1

In [32]:
name.endswith('nt')

True

In [34]:
name.startswith('eL')

False

In [35]:
name.find('p')

3

In [37]:
name.find('x')

-1

In [36]:
name.index('p')

3

In [38]:
name.index('x')

ValueError: substring not found

In [43]:
print(name.center(20))
print(name.center(20,'~'))

      elephant
~~~~~~elephant~~~~~~

In [44]:
name.zfill(20)

'000000000000elephant'

In [45]:
'      elephant      '.rstrip()

'      elephant'

In [46]:
'      elephant      '.lstrip()

'elephant      '

In [47]:
'      elephant      '.strip()

'elephant'

In [48]:
name.strip('nt')

'elepha'

In [49]:
sentence.split()

['elephant', 'is', 'an', 'animal']

In [53]:
temp = sentence.split('an')
print(temp)
print(sentence)

['eleph', 't is ', ' ', 'imal']
elephant is an animal

In [54]:
"an".join(temp)

'elephant is an animal'

In [ ]:
 " ".join()

In [55]:
name.isalnum()

True

In [58]:
name.isdigit()

False

In [59]:
name.isprintable()

True

In [60]:
"\n\t".isprintable()

False

In [61]:
" ".isspace()

True

In [62]:
name.replace('e',"E")

'ElEphant'

### task-3

take a input from a user, check the given input is string or not if it is a string then check for palindrome.

In [71]:
string = input("Enter any string :")
if string.isalpha():
    if string == string[::-1]:
        print("The given string is a palindrome")
    else:
        print("The given string is not a palindrome")
else:
    print("The given input is not a alphabets")

Enter any string :hello
The given string is not a palindrome

### homework

write a program for guess game, use the following two lines

`import random as r`

`num = r.randint(0,10)`

### list

In [3]:
l = []

In [1]:
l = list()

In [4]:
print(l)

[]

In [5]:
L = [1,2,3,4,5,'apple','ball','cat','dog']

In [7]:
L[5]

'apple'

In [8]:
L[2:]

[3, 4, 5, 'apple', 'ball', 'cat', 'dog']

In [10]:
L[2:7]

[3, 4, 5, 'apple', 'ball']

In [11]:
L[::-1]

['dog', 'cat', 'ball', 'apple', 5, 4, 3, 2, 1]

In [13]:
L[4] = 14

In [14]:
L

[1, 2, 3, 4, 14, 'apple', 'ball', 'cat', 'dog']

In [15]:
del L[3]

In [16]:
L

[1, 2, 3, 14, 'apple', 'ball', 'cat', 'dog']

In [17]:
L.append('kiwi')

In [18]:
L

[1, 2, 3, 14, 'apple', 'ball', 'cat', 'dog', 'kiwi']

In [19]:
L.insert(4,'papaya')

In [20]:
L

[1, 2, 3, 14, 'papaya', 'apple', 'ball', 'cat', 'dog', 'kiwi']

In [21]:
print(L.pop())

kiwi

In [22]:
L

[1, 2, 3, 14, 'papaya', 'apple', 'ball', 'cat', 'dog']

In [23]:
L.remove(3)

In [24]:
L

[1, 2, 14, 'papaya', 'apple', 'ball', 'cat', 'dog']

In [27]:
l.append('papaya')

In [28]:
l

['appl3', 'papaya']

In [29]:
l.clear()

In [30]:
l

[]

In [33]:
l.append('mango')

In [41]:
g = l.copy()

In [42]:
g

['apple', 'orange', 'mango', 'papaya']

In [43]:
l

['apple', 'orange', 'mango', 'papaya']

In [44]:
g.append('kiwi')

In [45]:
g

['apple', 'orange', 'mango', 'papaya', 'kiwi']

In [46]:
l

['apple', 'orange', 'mango', 'papaya']

In [47]:
L.count("apple")

1

In [48]:
L

[1, 2, 14, 'papaya', 'apple', 'ball', 'cat', 'dog']

In [49]:
L.index("ball")

5

In [50]:
L.reverse()

In [51]:
L

['dog', 'cat', 'ball', 'apple', 'papaya', 14, 2, 1]

In [56]:
l = L[:5]

In [58]:
l.sort()

In [59]:
l

['apple', 'ball', 'cat', 'dog', 'papaya']

In [60]:
L.extend(l)

In [61]:
L

['dog',
 'cat',
 'ball',
 'apple',
 'papaya',
 14,
 2,
 1,
 'apple',
 'ball',
 'cat',
 'dog',
 'papaya']

### tuple

In [62]:
t = ('apple', 'ball', 'cat', 'dog', 'papaya')

In [63]:
t

('apple', 'ball', 'cat', 'dog', 'papaya')

In [64]:
l

['apple', 'ball', 'cat', 'dog', 'papaya']

In [66]:
t[4] = 'banana'

TypeError: 'tuple' object does not support item assignment

In [67]:
del t[4]

TypeError: 'tuple' object doesn't support item deletion

### dictionary

In [68]:
d = {}

In [69]:
d = dict()

In [71]:
d = {'a':'apple','b':'ball',23:'cat','d':45,'l':l[:4]}

In [73]:
d['a']

'apple'

In [74]:
d['l']

['apple', 'ball', 'cat', 'dog']

In [76]:
d['x'] = 3.14

In [79]:
d['d'] = 78

In [80]:
d

{'a': 'apple',
 'b': 'ball',
 23: 'cat',
 'd': 78,
 'l': ['apple', 'ball', 'cat', 'dog'],
 'x': 3.14}

keys should be int,float and str

In [81]:
del d['a']

In [82]:
d

{'b': 'ball',
 23: 'cat',
 'd': 78,
 'l': ['apple', 'ball', 'cat', 'dog'],
 'x': 3.14}

In [86]:
d.get('y')

In [83]:
d['y']

KeyError: 'y'

In [87]:
d.keys()

dict_keys(['b', 23, 'd', 'l', 'x'])

In [88]:
d.values()

dict_values(['ball', 'cat', 78, ['apple', 'ball', 'cat', 'dog'], 3.14])

In [89]:
d.items()

dict_items([('b', 'ball'), (23, 'cat'), ('d', 78), ('l', ['apple', 'ball', 'cat', 'dog']), ('x', 3.14)])

In [90]:
d.pop(23)

'cat'

In [91]:
d

{'b': 'ball', 'd': 78, 'l': ['apple', 'ball', 'cat', 'dog'], 'x': 3.14}

In [92]:
d.popitem()

('x', 3.14)

In [94]:
d.update({'a':'apple','p':3.14})

In [95]:
d

{'b': 'ball',
 'd': 78,
 'l': ['apple', 'ball', 'cat', 'dog'],
 'a': 'apple',
 'p': 3.14}

### for loop

In [96]:
for i in range(5):
    print('hi')

hi
hi
hi
hi
hi

In [97]:
for i in range(5,10):
    print(i)

5
6
7
8
9

In [98]:
for i in range(21,31,2):
    print(i)

21
23
25
27
29

In [99]:
for i in range(5):
    num = int(input("Enter the number :"))
    if num % 4 == 0:
        print("Number %d is divisible by 4 and even"%num)
    elif num % 2 == 0:
        print("Number %d is even"%num)
    else:
        print("Number %d is odd"%num)
    
    print()

Enter the number :41
Number 41 is odd

Enter the number :58
Number 58 is even

Enter the number :20
Number 20 is divisible by 4 and even

Enter the number :14
Number 14 is even

Enter the number :23
Number 23 is odd

In [100]:
for i in range(len(l)):
    print(i)

0
1
2
3
4

In [101]:
for i in l:
    print(i)

apple
ball
cat
dog
papaya

In [103]:
for i in L:
    if not str(i).isalpha():
        print(i)

14
2
1

In [105]:
for i in t[2:]:
    print(i)

cat
dog
papaya

In [106]:
for i,j in zip(t,l[::-1]):
    print(i,j)

apple papaya
ball dog
cat cat
dog ball
papaya apple

In [107]:
for k in d.keys():
    print(k)

b
d
l
a
p

In [108]:
for v in d.values():
    print(v)

ball
78
['apple', 'ball', 'cat', 'dog']
apple
3.14

In [110]:
for k,v in d.items():
    print(k,v)

b ball
d 78
l ['apple', 'ball', 'cat', 'dog']
a apple
p 3.14

In [111]:
x = [1,2,3,1,1,1,2,3]

y = [1,2,1,1,3,3]

In [ ]:
[1,2,3]

In [113]:
c = []
for i in x:
    for j in y:
        if i==j and i not in c:
            c.append(i)

In [114]:
c

[1, 2, 3]

In [115]:
c = []
for i in x:
    if i in y and i not in c:
        c.append(i)

In [116]:
c

[1, 2, 3]

### error handling

In [1]:
print(g)
print("hello world")

NameError: name 'g' is not defined

In [2]:
try:
    print(g)
except:
    print("There is an error!!!")
print("hello world")

There is an error!!!
hello world

In [6]:
try:
    num = int(input("Enter the number :"))
except:
    print("Invalid input")

try:
    if num % 4 == 0:
        print("Number %d is divisible by 4 and even"%num)
    elif num % 2 == 0:
        print("Number %d is even"%num)
    else:
        print("Number %d is odd"%num)
except:
    print("Unable to calculate!!!")

Enter the number :s
Invalid input
Number 45 is odd

In [8]:
try:
    num = int(input("Enter the number :"))
except Exception as e:
    print(e)

Enter the number :y
invalid literal for int() with base 10: 'y'

In [13]:
try:
    num = int(input("Enter the number :"))
    print(num=5)
except ValueError as ve:
    print(ve)
    print("There is a value error")
except TypeError as te:
    print(te)

Enter the number :67
'num' is an invalid keyword argument for this function

In [19]:
try:
    print(7/0)
except (NameError,TypeError) as e:
    print(e)

ZeroDivisionError: division by zero

In [22]:
try:
    num = int(input("Enter any number less than 50 :"))
    if num > 50:
        raise ValueError("Number is not less than 50")
except Exception as e:
    print(e)
    num = int(input("Enter any number less than 50 :"))

print(num * 10)

Enter any number less than 50 :52
Number is not less than 50
Enter any number less than 50 :25
250

In [29]:
a = 150

In [27]:
assert a == 15

In [31]:
try:
    assert a <= 100
except AssertionError as e:
    print(e)

In [37]:
try:
    x = input("Input the first number :")
    y = input("Input the second number :")
    z = input("Input the third number :")
    if not x.isalpha() and not y.isalpha() and not z.isalpha():
        print("Median of the above three numbers -")

        if y < x and x < z:
            print(x)
        elif z < x and x < y:
            print(x)  
        elif z < y and y < x:
            print(y)
        elif x < y and y < z:
            print(y)
        elif y < z and z < x:
            print(z)    
        elif x < z and z < y:
            print(z)
    else:
        raise ValueError("Enter only numbers")
except ValueError as e:
    print(e)

Input the first number :hji
Input the second number :85
Input the third number :lo
Enter only numbers

In [38]:
def list_count_4(nums):
    count = 0
    try:
        for num in nums:
            if not str(num).isalpha():
                if num == 4:
                    count = count + 1
            else:
                raise ValueError ("String is not valid")
    except ValueError as e:
        print(e)     
    return count

print(list_count_4([1, 4, 6, 7, 'a', 4]))
print(list_count_4([1, 4, 6, 4, 7, 4]))

String is not valid
1
3

### functions

In [2]:
def addition(): # no arg no return
    a = int(input("A : "))
    b = int(input("B : "))
    print(a+b,a*b)

In [3]:
addition()

A : 85
B : 36
121 3060

In [4]:
def addition(a, b): # arg no return
    print(a+b,a*b)

In [5]:
a = int(input("A : "))
b = int(input("B : "))
addition(a,b)

A : 8
B : 4
12 32

In [6]:
def addition(a, b): # arg and return
    return a+b,a*b

In [7]:
a = int(input("A : "))
b = int(input("B : "))
s,m = addition(a,b)

A : 5
B : 4

In [8]:
s

9

In [9]:
m

20

In [10]:
def addition(a, b=10): # arg and return
    return a+b,a*b

In [11]:
s,m= addition(5)

In [12]:
s

15

In [13]:
m

50

In [14]:
s,m = addition(2,3)
print(s,m)

5 6

In [15]:
def clean(num:str):
    print(num)
    temp = num.replace(',','')
    print(temp)
    return int(temp)

In [16]:
clean("4,567,000")

4,567,000
4567000

4567000

In [ ]:
12.5km => 12.5
12kms => 12

In [22]:
add = lambda a,b : (a+b,a*b)

In [23]:
add(5,4)

(9, 20)

In [18]:
clean = lambda num : int(num.replace(',',''))

In [19]:
clean('4,567,000')

4567000

In [24]:
def change_char(str1):
    char = str1[0]
    str1 = str1.replace(char, '$')
    str1 = char + str1[1:]
    return str1

print(change_char('restart'))

resta$t

In [27]:
def addition(numList):
#     return sum(numList)
    temp = 0
    for num in numList:
        temp = temp+num
    return temp

In [28]:
addition((8, 2, 3, 0, 7))

20

### library

In [ ]:
pip install libraryName # to install lib

In [31]:
import math

In [32]:
math.factorial(5)

120

In [33]:
import random as r

In [36]:
r.randint(0,10)

4

In [37]:
from math import sin,cos,sqrt

In [38]:
sin(90)

0.8939966636005579

In [39]:
sqrt(4)

2.0

In [ ]:
from sklearn.linear_model import LinearRegression

In [30]:
### file handling