In [1]:
a = 5 #int
b = 3.14 #float
c = 'apple' #string
d = True #bool

In [5]:
print(type(d))

<class 'bool'>

In [6]:
print(a)

5

In [7]:
print(12345)

12345

In [8]:
print("hello world!")

hello world!

In [11]:
name = input("Enter your name : ")

Enter your name : papaya

In [12]:
name

'papaya'

In [13]:
type(name)

str

In [17]:
num = int(input("Enter any number : "))

Enter any number : 84

In [18]:
num

84

In [19]:
type(num)

int

In [20]:
# hello apple
# hello 5

In [26]:
print("----Method-1 -----")
print("hello "+c)
print("hello "+str(a))

print("----Method-2 -----")
print("hello",c)
print("hello",a)

print("----Method-3 -----")
print("hello %s" %c)
print("hello %d" %a)

print("----Method-4 -----")
print("hello {}".format(c))
print("hello {}".format(a))

----Method-1 -----
hello apple
hello 5
----Method-2 -----
hello apple
hello 5
----Method-3 -----
hello apple
hello 5
----Method-4 -----
hello apple
hello 5

In [28]:
# i bought 3kgs of apple for 270.25rs
w = 3
f = 'apple'
p = 270.25

In [31]:
print("i bought "+str(w)+"kgs of "+f+"for "+str(p)+"rs")
print("i bought",w,"kgs of",f,"for",p,"rs")
print("i bought %dkgs of %s for %0.2frs" %(w,f,p))
print("i bought {}kg of {} for {}rs".format(w,f,p))

i bought 3kgs of applefor 270.25rs
i bought 3 kgs of apple for 270.25 rs
i bought 3kgs of apple for 270.25rs
i bought 3kg of apple for 270.25rs

In [41]:
n = '5'

In [32]:
555+55+5

615

In [36]:
int(n+n+n)+int(n+n)+int(n)

615

In [37]:
n*3

'555'

In [38]:
d1 = "{}{}{}".format(n,n,n)

In [42]:
d1

'555'

In [43]:
d2 = "%d%d%d"%(n,n,n)

In [44]:
d2

'555'

In [ ]:
+ - * / %

In [ ]:
and, or , not

In [ ]:
< , > , <= ,>= , ==, !=

In [ ]:
is, in , not in

In [46]:
num = int(input("Enter any number :"))

if num%2 == 0 :
    print("Number is even")
else:
    print("Number is odd")

Enter any number :20
Number is even

In [49]:
num = int(input("Enter any number :"))

if num%4 == 0 :
    print("Number is divisible by 4 and even")
elif num%2 == 0:
    print("Number is even")
else:
    print("Number is odd")

Enter any number :5
Number is odd

In [51]:
while True:
    num = int(input("Enter any number :"))

    if num%4 == 0 :
        print("Number is divisible by 4 and even")
    elif num%2 == 0:
        print("Number is even")
    else:
        print("Number is odd")

Enter any number :85
Number is odd
Enter any number :h

ValueError: invalid literal for int() with base 10: 'h'

In [52]:
while True:
    num = int(input("Enter any number :"))
    
    if num == 25:
        print("Skipping")
        continue
    elif num == 15:
        print("stopping")
        break

    if num%4 == 0 :
        print("Number is divisible by 4 and even")
    elif num%2 == 0:
        print("Number is even")
    else:
        print("Number is odd")

Enter any number :20
Number is divisible by 4 and even
Enter any number :10
Number is even
Enter any number :5
Number is odd
Enter any number :86
Number is even
Enter any number :25
Skipping
Enter any number :74
Number is even
Enter any number :15
stopping

In [54]:
i = 1
while i <= 3:
    num = int(input("Enter any number :"))
    
    if num == 25:
        print("Skipping")
        continue
    elif num == 15:
        print("stopping")
        break

    if num%4 == 0 :
        print("Number is divisible by 4 and even")
    elif num%2 == 0:
        print("Number is even")
    else:
        print("Number is odd")
    i += 1

Enter any number :74
Number is even
Enter any number :25
Skipping
Enter any number :69
Number is odd
Enter any number :98
Number is even

In [55]:
opt = 'y'
while opt == 'y':
    num = int(input("Enter any number :"))
    
    if num == 25:
        print("Skipping")
        continue
    elif num == 15:
        print("stopping")
        break

    if num%4 == 0 :
        print("Number is divisible by 4 and even")
    elif num%2 == 0:
        print("Number is even")
    else:
        print("Number is odd")
    opt = input("Do you want to continue? y/n ")

Enter any number :84
Number is divisible by 4 and even
Do you want to continue? y/n y
Enter any number :41
Number is odd
Do you want to continue? y/n k

In [ ]:
rock beats scissor
scissor beats paper
paper beats rock

In [ ]:
user1
user2
if user1==user2:
    print("game is tie")
elif (user1 == "rock" and user2=="scissor") or (user1 == "scissor" and user2 == "paper") or (user1 == "paper" and user2 == "rock"):
    print("user1 is the winner")
else:
    print("user2 is the winner")

In [56]:
l = list()

In [57]:
print(l)

[]

In [58]:
L = [1,2,3,'a','b','c','apple','ball','cat']

In [59]:
L

[1, 2, 3, 'a', 'b', 'c', 'apple', 'ball', 'cat']

In [60]:
l

[]

In [61]:
len(L)

9

In [62]:
L[0]

1

In [64]:
L[5]

'c'

In [65]:
L[2:7]

[3, 'a', 'b', 'c', 'apple']

In [66]:
L[2:7:2]

[3, 'b', 'apple']

In [68]:
L[8] = 'dog'

In [69]:
L

[1, 2, 3, 'a', 'b', 'c', 'apple', 'ball', 'dog']

In [72]:
L[4]

'b'

In [73]:
del L[4]

In [74]:
L

[1, 2, 3, 'a', 'c', 'apple', 'ball', 'dog']

In [75]:
L.append('papaya')

In [76]:
L

[1, 2, 3, 'a', 'c', 'apple', 'ball', 'dog', 'papaya']

In [77]:
L.insert(4,'mango')

In [79]:
L[4]

'mango'

In [80]:
L.remove('c')

In [81]:
L

[1, 2, 3, 'a', 'mango', 'apple', 'ball', 'dog', 'papaya']

In [82]:
L.pop()

'papaya'

In [84]:
l.append('orange')

In [85]:
l

['orange']

In [86]:
l.clear()

In [87]:
l

[]

In [88]:
f = L.copy()

In [89]:
f

[1, 2, 3, 'a', 'mango', 'apple', 'ball', 'dog']

In [90]:
g = L

In [91]:
g

[1, 2, 3, 'a', 'mango', 'apple', 'ball', 'dog']

In [92]:
L.index('apple')

5

In [93]:
L.count('a')

1

In [96]:
l.append('papaya')

In [97]:
l

['mango', 'papaya']

In [98]:
L.extend(l)

In [99]:
L

[1, 2, 3, 'a', 'mango', 'apple', 'ball', 'dog', 'mango', 'papaya']

In [100]:
L.reverse()

In [101]:
L

['papaya', 'mango', 'dog', 'ball', 'apple', 'mango', 'a', 3, 2, 1]

In [102]:
L[::-1]

[1, 2, 3, 'a', 'mango', 'apple', 'ball', 'dog', 'mango', 'papaya']

In [103]:
L

['papaya', 'mango', 'dog', 'ball', 'apple', 'mango', 'a', 3, 2, 1]

In [104]:
t = ('papaya', 'mango', 'dog', 'ball', 'apple', 'mango', 'a', 3, 2, 1)

In [105]:
t

('papaya', 'mango', 'dog', 'ball', 'apple', 'mango', 'a', 3, 2, 1)

In [106]:
L

['papaya', 'mango', 'dog', 'ball', 'apple', 'mango', 'a', 3, 2, 1]

In [107]:
del t[5]

TypeError: 'tuple' object doesn't support item deletion

In [108]:
D = dict()

In [111]:
d = {'a':"apple","b":1234,23:85.63,"e":[1,2,'a',b]}

In [112]:
d

{'a': 'apple', 'b': 1234, 23: 85.63, 'e': [1, 2, 'a', 3.14]}

In [114]:
d['a']

'apple'

In [115]:
d.keys()

dict_keys(['a', 'b', 23, 'e'])

In [116]:
d.values()

dict_values(['apple', 1234, 85.63, [1, 2, 'a', 3.14]])

In [117]:
d['p']='mango'

In [120]:
d['e'][2]

'a'

In [121]:
d['x']

KeyError: 'x'

In [123]:
d.get('p')

'mango'

In [124]:
d.pop('b')

1234

In [125]:
d

{'a': 'apple', 23: 85.63, 'e': [1, 2, 'a', 3.14], 'p': 'mango'}

In [126]:
d.pop()

TypeError: pop expected at least 1 arguments, got 0

In [128]:
D = {"fruit":'apple','vege':'carrot'}

In [129]:
D

{'fruit': 'apple', 'vege': 'carrot'}

In [130]:
d

{'a': 'apple', 23: 85.63, 'e': [1, 2, 'a', 3.14], 'p': 'mango'}

In [131]:
d.update(D)

In [132]:
d

{'a': 'apple',
 23: 85.63,
 'e': [1, 2, 'a', 3.14],
 'p': 'mango',
 'fruit': 'apple',
 'vege': 'carrot'}

In [135]:
for i in range(21,31,2):
    print('hello', i)

hello 21
hello 23
hello 25
hello 27
hello 29

In [136]:
for i in range(len(L)):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [141]:
for i,ele in enumerate(L[2:8]):
    print(i,ele)

0 dog
1 ball
2 apple
3 mango
4 a
5 3

In [144]:
for k in d.items():
    print(k)

('a', 'apple')
(23, 85.63)
('e', [1, 2, 'a', 3.14])
('p', 'mango')
('fruit', 'apple')
('vege', 'carrot')

In [145]:
a = [1,2,2,1,2,3]
b = [1,2,2,]

In [146]:
[1,2]

[1, 2]

In [150]:
c = []
for i in range(len(a)):
    for j in range(len(b)):
        if a[i] == b[j]:
            if a[i] not in c:
                c.append(a[i])

In [151]:
c

[1, 2]

In [152]:
c = []
for i in a:
    for j in b:
        if i == j and i not in c:
            c.append(i)

In [153]:
c

[1, 2]

In [154]:
c = []
for i in a:
    if i in b and i not in c:
        c.append(i)

In [155]:
c

[1, 2]

In [156]:
set(a)&set(b)

{1, 2}

In [158]:
try:
    print(y)
except:
    print("There is an error")

print("hello")

There is an error
hello

In [160]:
try:
    print(y=5)
except Exception as e:
    print(e)

print("hello")

'y' is an invalid keyword argument for this function
hello

In [162]:
print(y=5

SyntaxError: unexpected EOF while parsing (<ipython-input-162-4f10d1e0adb9>, line 1)

In [165]:
try:
    print(y=5)
except NameError as e:
    print(e)
except TypeError as e:
    print(e)
print('hello')

'y' is an invalid keyword argument for this function
hello

In [167]:
try:
    print(y)
except (NameError,TypeError):
    print("There is an error")

print("hello")

There is an error
hello

In [168]:
try:
    print(L[12])
except Exception as e:
    print('error',e)
finally:
    print("Hello")

error list index out of range
Hello

In [169]:
def addition():
    a = int(input("a : "))
    b = int(input("b : "))
    print(a+b,a*b)

In [170]:
addition()

a : 5
b : 6
11 30

In [171]:
def addition():
    a = int(input("a : "))
    b = int(input("b : "))
    return a+b,a*b

In [172]:
s,m = addition()

a : 9
b : 5

In [173]:
s

14

In [174]:
m

45

In [175]:
def addition(a,b):
    return a+b,a*b

In [176]:
c = int(input("a : "))
d = int(input("b : "))

s,m = addition(c,d)

a : 2
b : 3

In [177]:
s

5

In [178]:
m

6

In [179]:
def addition(a,b=10):
    return a+b,a*b

In [180]:
a = int(input("a : "))
b = int(input("b : "))

s,m = addition(a)

a : 1
b : 2

In [181]:
s

11

In [182]:
m

10

Mobile number :- +91-7418490015

E-Mail :- sharma@agentz.ai

In [193]:
class A:
    def display(self,name):
        print("Name :",name)
        
    def getPrice(self,name):
        price = int(input("Enter the price : "))
        print("The name is %s and price is %f" %(name,price))

In [194]:
a = A()

In [195]:
a.display('pine apple')

Name : pine apple

In [196]:
a.getPrice('pine apple')

Enter the price : 65
The name is pine apple and price is 65.000000

In [197]:
name = 'grapes'

In [198]:
class B:
    def __init__(self,name):
        self.name = name
    
    def display(self):
        print("Name : ",name)
    
    def getPrice(self):
        self.price = int(input("Enter the price : "))
        print("The name is %s and price is %f" %(self.name,self.price))

In [200]:
b = B('kiwi')

In [202]:
b.display()

Name :  grapes

In [203]:
b.getPrice()

Enter the price : 75
The name is kiwi and price is 75.000000

In [204]:
b.getPrice()

Enter the price : 63
The name is kiwi and price is 63.000000

In [205]:
class parent:
    def getName(self):
        self.name = input("Enter your name : ")
    
class child(parent):
    def __init__(self,job):
        self.job = job
    
    def profile(self):
        parent.getName(self)
        print("Name  : ", self.name)
        print("Job : ",self.job)

In [206]:
child = child("xyz")

In [207]:
child.profile()

Enter your name : ss
Name  :  ss
Job :  xyz

In [208]:
def sub(a,b,c=None):
    if c:
        print(a*b*c)
    else:
        print(a*b)

In [209]:
sub(5,2)

10

In [210]:
sub(5,2,4)

40

In [217]:
class Parent:
    def method(self):
        print("I am from parent class")

class Child(Parent):
    def method(self):
        print("I am from child class")

In [218]:
c = Child()

In [219]:
c.method()

I am from child class

In [220]:
P = Parent()

In [221]:
P.method()

I am from parent class