### line by line execution

In [299]:
a = 5
b = 10
print(a+b)

15

### datatypes

In [3]:
a = 5 #int
b = 3.14 #float
c = 'apple' #string
d = True #bool

### display function

In [4]:
print(c)

apple

In [5]:
print(7845)

7845

In [6]:
print('hello world')

hello world

### find category of object

In [10]:
print(type(d))

<class 'bool'>

### type casting

In [11]:
a

5

In [12]:
str(a)

'5'

In [13]:
float(a)

5.0

In [14]:
str(b)

'3.14'

### getting input from user

In [15]:
input()

45

'45'

In [24]:
n = int(input("Enter something : "))

Enter something : hi

ValueError: invalid literal for int() with base 10: 'hi'

In [23]:
n

63

In [ ]:
n = int(n)

### operators

In [ ]:
+ - * / %

In [25]:
a * 3

15

In [26]:
c *3

'appleappleapple'

In [ ]:
 < > <= >= == !=

In [ ]:
and , or , not

In [ ]:
is, in , not in

### task-1

In [27]:
n = 4

In [ ]:
nnn+nn+n

In [28]:
444+44+4

492

In [29]:
n*111

444

In [30]:
n = '5'
int(n*3)+int(n*2)+int(n)

615

In [31]:
n = 4
int(str(n)*3)+int(str(n)*2)+n

492

### if-else

In [33]:
num = int(input("Enter any number : "))
if num % 2 == 0:
    print("number is even")
else:
    print("number is odd")

Enter any number : 74
number is even

### if-elseif

In [36]:
num = int(input("Enter any number : "))
if num % 4 == 0:
    print("number is divisible by 4 and even")
elif num % 2 == 0:
    print("number is even")
else:
    print("number is odd")

Enter any number : 5
number is odd

### different ways of using print

In [37]:
#hello apple
#hello 5

In [42]:
print("Method-1")
print("hello "+c)
print("hello "+str(a))
print("----"*5)

print("Method-2")
print("hello",c)
print("hello",a)
print("----"*5)

print("Method-3")
print("hello %s"%c)
print("hello %d"%a)
print("----"*5)

print("Method-4")
print("hello {}".format(c))
print("hello {}".format(a))
print("----"*5)

Method-1
hello apple
hello 5
--------------------
Method-2
hello apple
hello 5
--------------------
Method-3
hello apple
hello 5
--------------------
Method-4
hello apple
hello 5
--------------------

In [44]:
# i bought 3kgs of mango for 125.5
w = 3
f = 'mango'
p = 125.5

In [47]:
print("i bought "+str(w)+"kgs of "+f+" for "+str(p))
print("i bought",w,"kgs of",f,"for",p)
print("i bought %dkgs of %s for %0.1f"%(w,f,p))
print("i bought {}kgs of {} for {}".format(w,f,p))

i bought 3kgs of mango for 125.5
i bought 3 kgs of mango for 125.5
i bought 3kgs of mango for 125.5
i bought 3kgs of mango for 125.5

### other operators

In [53]:
print("the value of pi is  {}".format(22/7))

the value of pi is  3.142857142857143

In [54]:
print("the value of pi is  {:.2f}".format(22/7))

the value of pi is  3.14

In [56]:
print("the value of pi is {}".format(22//7))

the value of pi is 3

In [57]:
print("the cube of 3 is {}".format(3**3))

the cube of 3 is 27

In [58]:
round(22/7,2)

3.14

In [59]:
print("the value of pi is  {}".format(round(22/7,2)))

the value of pi is  3.14

### while loop

#### infinity loop

In [62]:
while True:
    num = int(input("Enter any number : "))
    
    if num == 15:
        print("Stopping....")
        break
    elif num == 25:
        print("Skipping.....")
        continue
    
    if num % 4 == 0:
        print("number is divisible by 4 and even")
    elif num % 2 == 0:
        print("number is even")
    else:
        print("number is odd")

Enter any number : 96
number is divisible by 4 and even
Enter any number : 74
number is even
Enter any number : 85
number is odd
Enter any number : 25
Skipping.....
Enter any number : 45
number is odd
Enter any number : 15
Stopping....

#### condition based

In [64]:
i = 1
while i <= 3:
    num = int(input("Enter any number : "))
    
    if num == 15:
        print("Stopping....")
        break
    elif num == 25:
        print("Skipping.....")
        continue
    
    if num % 4 == 0:
        print("number is divisible by 4 and even")
    elif num % 2 == 0:
        print("number is even")
    else:
        print("number is odd")
    i += 1

Enter any number : 24
number is divisible by 4 and even
Enter any number : 25
Skipping.....
Enter any number : 36
number is divisible by 4 and even
Enter any number : 96
number is divisible by 4 and even

#### user based condition

In [65]:
opt = 'y'
while opt == 'y':
    num = int(input("Enter any number : "))
    
    if num == 15:
        print("Stopping....")
        break
    elif num == 25:
        print("Skipping.....")
        continue
    
    if num % 4 == 0:
        print("number is divisible by 4 and even")
    elif num % 2 == 0:
        print("number is even")
    else:
        print("number is odd")
    opt = input("do you want to continue ? y/n")

Enter any number : 87
number is odd
do you want to continue ? y/ny
Enter any number : 14
number is even
do you want to continue ? y/nh

### string function

In [66]:
name = "elephant"
sent = "elephant is an animal."

In [67]:
name[3]

'p'

In [68]:
name[-5]

'p'

In [69]:
name[2:6]

'epha'

In [70]:
len(name)

8

In [71]:
name[1:7]

'lephan'

In [72]:
name[1:7:2]

'lpa'

In [73]:
name[::-1]

'tnahpele'

In [74]:
name[2:]

'ephant'

In [75]:
name[:3]

'ele'

In [77]:
name[3] = 'h'

TypeError: 'str' object does not support item assignment

In [78]:
name.capitalize()

'Elephant'

In [80]:
sent.title()

'Elephant Is An Animal.'

In [81]:
name.casefold()

'elephant'

In [83]:
name.center(20,"*")

'******elephant******'

In [84]:
name.count('e')

2

In [87]:
sent.encode("utf-16").decode('utf-16')

'elephant is an animal.'

In [90]:
name.endswith('nt')

True

In [91]:
name.startswith('el')

True

In [94]:
"apple\tis\ta\tfruit".expandtabs(2)

'apple is  a fruit'

In [98]:
name.find('x')

-1

In [97]:
name.index('x')

ValueError: substring not found

In [99]:
name.lower()

'elephant'

In [100]:
name.upper()

'ELEPHANT'

In [101]:
name.swapcase()

'ELEPHANT'

In [102]:
name.zfill(15)

'0000000elephant'

In [103]:
name = " elephant "

In [104]:
name.lstrip()

'elephant '

In [105]:
name.rstrip()

' elephant'

In [109]:
name.strip().strip('e')

'lephant'

In [108]:
name.replace('e',"E")

' ElEphant '

In [110]:
sent.split()

['elephant', 'is', 'an', 'animal.']

In [112]:
temp = sent.split('an')

In [114]:
"an".join(temp)

'elephant is an animal.'

In [120]:
sent.strip('.')

False

In [119]:
sent.strip('.')

'elephant is an animal'

In [121]:
sent = sent+"s2"

In [122]:
sent.isalnum()

False

In [124]:
name.strip().isalnum()

True

In [125]:
name = name.strip()

In [126]:
name.isalpha()

True

In [132]:
name.is

True

In [131]:
"apple\t\n".isprintable()

False

### task-2

In [ ]:
rock beats scissor
scissor beats paper
paper beats rock

### list function

In [135]:
l = list()

In [136]:
l

[]

In [137]:
L = [1,2,3,1.2,3.4,5.6,'apple',"mango",'papaya']

In [138]:
L

[1, 2, 3, 1.2, 3.4, 5.6, 'apple', 'mango', 'papaya']

In [140]:
L[2] = 5

In [141]:
L

[1, 2, 5, 1.2, 3.4, 5.6, 'apple', 'mango', 'papaya']

In [142]:
L[1]

2

In [143]:
del L[1]

In [144]:
L

[1, 5, 1.2, 3.4, 5.6, 'apple', 'mango', 'papaya']

In [145]:
L.append('pine apple')

In [146]:
L

[1, 5, 1.2, 3.4, 5.6, 'apple', 'mango', 'papaya', 'pine apple']

In [147]:
L.insert(5,'orange')

In [148]:
L

[1, 5, 1.2, 3.4, 5.6, 'orange', 'apple', 'mango', 'papaya', 'pine apple']

In [149]:
L.pop()

'pine apple'

In [150]:
L.remove('orange')

In [151]:
L

[1, 5, 1.2, 3.4, 5.6, 'apple', 'mango', 'papaya']

In [165]:
l.append('orange')

In [154]:
l.clear()

In [155]:
L.copy()

[]

In [157]:
g = L

In [158]:
g

[1, 5, 1.2, 3.4, 5.6, 'apple', 'mango', 'papaya']

In [160]:
L.index('apples')

ValueError: 'apples' is not in list

In [161]:
L[::-1]

['papaya', 'mango', 'apple', 5.6, 3.4, 1.2, 5, 1]

In [162]:
L.reverse()

In [163]:
L

['papaya', 'mango', 'apple', 5.6, 3.4, 1.2, 5, 1]

In [166]:
L

['papaya', 'mango', 'apple', 5.6, 3.4, 1.2, 5, 1]

In [167]:
l

['pine apple', 'orange']

In [168]:
L+l

['papaya', 'mango', 'apple', 5.6, 3.4, 1.2, 5, 1, 'pine apple', 'orange']

In [169]:
L.extend(l)

In [170]:
L

['papaya', 'mango', 'apple', 5.6, 3.4, 1.2, 5, 1, 'pine apple', 'orange']

In [171]:
L

['papaya', 'mango', 'apple', 5.6, 3.4, 1.2, 5, 1, 'pine apple', 'orange']

### tuple

In [172]:
t= tuple(L)

In [173]:
t

('papaya', 'mango', 'apple', 5.6, 3.4, 1.2, 5, 1, 'pine apple', 'orange')

In [176]:
t.index('apple')

2

In [178]:
t[2] = 'kiwi'

TypeError: 'tuple' object does not support item assignment

In [179]:
del t[2]

TypeError: 'tuple' object doesn't support item deletion

In [180]:
t[::-1]

('orange', 'pine apple', 1, 5, 1.2, 3.4, 5.6, 'apple', 'mango', 'papaya')

### dictionary

In [181]:
d = dict()

In [182]:
d

{}

In [183]:
D = {1:'apple','b':"ball",'c':34,1.3:"dog"}

In [185]:
D

{1: 'apple', 'b': 'ball', 'c': 34, 1.3: 'dog'}

In [189]:
D['b']

'ball'

In [190]:
D["list"] = L

In [192]:
D["tuple"] = t

In [194]:
D.keys()

dict_keys([1, 'b', 'c', 1.3, 'list', 'tuple'])

In [195]:
D.values()

dict_values(['apple', 'ball', 34, 'dog', ['papaya', 'mango', 'apple', 5.6, 3.4, 1.2, 5, 1, 'pine apple', 'orange'], ('papaya', 'mango', 'apple', 5.6, 3.4, 1.2, 5, 1, 'pine apple', 'orange')])

In [198]:
D.fromkeys([23,45,'list'])

{23: None, 45: None, 'list': None}

In [199]:
D[4]

KeyError: 4

In [200]:
D.get('list')

['papaya', 'mango', 'apple', 5.6, 3.4, 1.2, 5, 1, 'pine apple', 'orange']

In [202]:
print(D.get(4))

None

In [203]:
D.pop('tuple')

('papaya', 'mango', 'apple', 5.6, 3.4, 1.2, 5, 1, 'pine apple', 'orange')

In [205]:
D.popitem()

('list',
 ['papaya', 'mango', 'apple', 5.6, 3.4, 1.2, 5, 1, 'pine apple', 'orange'])

In [206]:
d

{}

In [207]:
temp = {'a':'apple',"b":"ball"}

In [208]:
d.update(temp)

In [209]:
d

{'a': 'apple', 'b': 'ball'}

In [210]:
d.update({'c':'cat'})

In [211]:
d

{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [212]:
sorted(D)

TypeError: '<' not supported between instances of 'str' and 'int'

### for loop

In [216]:
for i in range(21,31,2):
    print(i)

21
23
25
27
29

In [217]:
for i in range(len(L)):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [219]:
for i in L[2:6]:
    print(i)

apple
5.6
3.4
1.2

In [220]:
for k in D.keys():
    print(k)

1
b
c
1.3

In [221]:
for k,v in D.items():
    print(k,v)

1 apple
b ball
c 34
1.3 dog

In [222]:
for i in D.items():
    print(i)
    print(i[0],i[1])

(1, 'apple')
1 apple
('b', 'ball')
b ball
('c', 34)
c 34
(1.3, 'dog')
1.3 dog

In [223]:
d

{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [225]:
for i in range(2):
    key = input("Enter key : ")
    value = input("Enter value : ")
    d.update({key:value})

Enter key : d
Enter value : dog
Enter key : e
Enter value : elephant

In [226]:
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog', 'e': 'elephant'}

In [231]:
for i,j in zip(L,t):
    print(i,j)

papaya papaya
mango mango
apple apple
5.6 5.6
3.4 3.4
1.2 1.2
5 5
1 1
pine apple pine apple
orange orange

In [230]:
L.append('kiwi')

In [229]:
t

('papaya', 'mango', 'apple', 5.6, 3.4, 1.2, 5, 1, 'pine apple', 'orange')

In [233]:
for i,ele in enumerate(L[3:7]):
    print(i,ele)

0 5.6
1 3.4
2 1.2
3 5

### task-3

In [234]:
import random as r

In [237]:
r.randint(100,999)

520

In [239]:
r.choice(L)

1.2

### reference

Notebook:
    https://github.com/sharmasaravanan/Machine_learning/blob/master/MSME_teachers_python_september.ipynb

Materials:
    
https://drive.google.com/open?id=17dMizJX_2XY845HuCl3Gy54OMBrBJpv7

Contact:
    Mobile : 7418490015

### error handling

In [241]:
print(y)
print("hello world")

NameError: name 'y' is not defined

In [245]:
try:
    print(y=9)
except Exception as e:
    print(e)
    print("There is an error")
print("hello world")

'y' is an invalid keyword argument for this function
There is an error
hello world

In [250]:
try:
    import testing
    print(y=9)
except NameError as e:
    print(e)
    print("There is a name error")
except TypeError as e:
    print(e)
    print("There is a type error")
print("hello world")

ModuleNotFoundError: No module named 'testing'

https://www.tutorialspoint.com/python/python_exceptions.htm

In [253]:
try:
    num = input("Enter any number :")
    if num.isalpha():
        raise ValueError("Please enter numbers not strings")
except ValueError as e:
    print(e)

Enter any number :hi78

In [262]:
a = 15

In [263]:
assert a==5

AssertionError:

### task-4

In [268]:
a = [2,1,3,2,4,1,2,3,6,8,2]
b = [2,4,3,1,2,3]

In [266]:
[1,2,3,4]

[1, 2, 3, 4]

In [270]:
c =[]
for i in range(len(a)):
    for j in range(len(b)):
        if a[i]==b[j] and a[i] not in c:
            c.append(a[i])
print(c)

[2, 1, 3, 4]

In [271]:
c = []
for i in a:
    for j in b:
        if i == j and i not in c:
            c.append(i)
c

[2, 1, 3, 4]

In [272]:
c = []
for i in a:
    if i in b and i not in c:
        c.append(i)
c

[2, 1, 3, 4]

In [273]:
set(a)&set(b)

{1, 2, 3, 4}

In [274]:
list()

['7', '4', '8']

### functions

In [276]:
def addition():
    """this function adds two numbers and also multplies the same"""
    a = int(input("a : "))
    b = int(input("b : "))
    print(a+b,a*b)

In [277]:
addition()

a : 5
b : 12
17 60

In [278]:
def addition(a,b):
    """this function adds two numbers and also multplies the same"""
    print(a+b,a*b)

In [279]:
c = int(input("c : "))
d = int(input("d : "))
addition(c,d)

c : 74
d : 6
80 444

In [281]:
def addition(a,b):
    """this function adds two numbers and also multplies the same"""
    return a+b,a*b

In [282]:
c = int(input("c : "))
d = int(input("d : "))
s,m = addition(c,d)

c : 3
d : 2

In [283]:
s

5

In [284]:
m

6

In [285]:
def addition():
    """this function adds two numbers and also multplies the same"""
    a = int(input("a : "))
    b = int(input("b : "))
    return a+b,a*b

In [286]:
s,m = addition()

a : 4
b : 5

In [287]:
s,m

(9, 20)

In [288]:
def addition(a,b=10):
    """this function adds two numbers and also multplies the same"""
    return a+b,a*b

In [290]:
addition(5,2)

(7, 10)

In [291]:
def addition(a,b,c=None):
    """this function adds two numbers and also multplies the same"""
    if c:
        print(a+b+c,a*b*c)
    else:
        print(a+b,a*b)

In [292]:
addition(4,7)

11 28

In [293]:
addition(2,3,6)

11 36

In [294]:
def infArg(*argv):
    for arg in argv:
        print(arg)

In [295]:
infArg(23,'apple','45',3.14)

23
apple
45
3.14

In [296]:
def keyArg(**kwargs):
    for k,v in kwargs.items():
        print(k,v)

In [297]:
keyArg(a='apple',b='bat')

a apple
b bat