In [1]:
a = 5
b = 10
print(a+b)

15

In [2]:
a = 5 # int
s = "apple" # string
f = 3.14 # float
b = True # bool

In [3]:
print(b)

True

In [4]:
print(1234)

1234

In [5]:
print("hello world!!")

hello world!!

In [6]:
num = input("Enter the numerical value : ")

Enter the numerical value :

In [7]:
print(num)

In [8]:
name = input("Enter your name : ")

Enter your name :

In [9]:
print(name)

In [10]:
print(type(name))

<class 'str'>

In [11]:
print(type(num))

<class 'str'>

In [12]:
num = int(num)

ValueError: invalid literal for int() with base 10: ''

In [13]:
print(type(num))

<class 'str'>

In [14]:
str(56)

'56'

In [15]:
int('56')

56

In [16]:
+ - * / % //

SyntaxError: invalid syntax (<ipython-input-16-a6b31d007d18>, line 1)

In [17]:
22/7

3.142857142857143

In [18]:
22//7

3

In [19]:
< > <= >= == !=

SyntaxError: invalid syntax (<ipython-input-19-1f72d009c07b>, line 1)

In [20]:
and or not

SyntaxError: invalid syntax (<ipython-input-20-b2df2b9bb465>, line 1)

In [23]:
num = int(input("Enter the numerical value : "))
if num % 2 == 0:
    print('even')
else:
    print('odd')

Enter the numerical value : 74
even

In [22]:
num = int(input("Enter the numerical value : "))
if num % 4 == 0:
    print("Divisible by 4 and even")
elif num % 2 == 0:
    print('even')
else:
    print('odd')

Enter the numerical value : 5
odd

In [28]:
i = 1
while i <= 3:
    num = int(input("Enter the numerical value : "))
    if num % 4 == 0:
        print("Divisible by 4 and even")
    elif num % 2 == 0:
        print('even')
    else:
        print('odd')
    i += 1
else:
    print("3 iterations are over")

Enter the numerical value : 63
odd
Enter the numerical value : 45
odd
Enter the numerical value : 96
Divisible by 4 and even
3 iterations are over

In [27]:
while True:
    num = int(input("Enter the numerical value : "))
    
    if num == 15:
        print("Stopping!!!")
        break
    elif num == 25:
        print("Skipping!!!")
        continue
        
    if num % 4 == 0:
        print("Divisible by 4 and even")
    elif num % 2 == 0:
        print('even')
    else:
        print('odd')

Enter the numerical value : 96
Divisible by 4 and even
Enter the numerical value : 45
odd
Enter the numerical value : 78
even
Enter the numerical value : 36
Divisible by 4 and even
Enter the numerical value : 25
Skipping!!!
Enter the numerical value : 12
Divisible by 4 and even
Enter the numerical value : 15
Stopping!!!

In [29]:
name = "elephant"
sent = "elephant is an animal"

In [30]:
name[3]

'p'

In [31]:
name[-5]

'p'

In [33]:
name[0:6]

'elepha'

In [34]:
name[2:]

'ephant'

In [35]:
name[:5]

'eleph'

In [36]:
name[0:6:2]

'eeh'

In [37]:
len(name)

8

In [38]:
name.upper()

'ELEPHANT'

In [39]:
name.lower()

'elephant'

In [40]:
name.casefold()

'elephant'

In [41]:
sent.title()

'Elephant Is An Animal'

In [42]:
name.capitalize()

'Elephant'

In [46]:
sent.encode('utf-16').decode('utf-16')

'elephant is an animal'

In [48]:
" elephant ".strip()

'elephant'

In [49]:
name.strip('nt')

'elepha'

In [52]:
name.isidentifier()

True

In [53]:
" elephant ".isidentifier()

False

In [54]:
name.isprintable()

True

In [57]:
"\t\n".isprintable()

False

In [ ]:

rock beats scissor
scissor beats paper
paper beats rock

In [60]:
L = list()

In [61]:
L

[]

In [62]:
l = ['a','b','c',2,3,4,5,'apple','mango']

In [63]:
l

['a', 'b', 'c', 2, 3, 4, 5, 'apple', 'mango']

In [65]:
l[4] = 45

In [67]:
l

['a', 'b', 'c', 2, 45, 4, 5, 'apple', 'mango']

In [68]:
del l[4]

In [69]:
l

['a', 'b', 'c', 2, 4, 5, 'apple', 'mango']

In [70]:
l.append('kiwi')

In [71]:
l

['a', 'b', 'c', 2, 4, 5, 'apple', 'mango', 'kiwi']

In [72]:
l.insert(4,8)

In [73]:
l

['a', 'b', 'c', 2, 8, 4, 5, 'apple', 'mango', 'kiwi']

In [74]:
l.pop(3)

2

In [75]:
l

['a', 'b', 'c', 8, 4, 5, 'apple', 'mango', 'kiwi']

In [76]:
l.remove(5)

In [77]:
l

['a', 'b', 'c', 8, 4, 'apple', 'mango', 'kiwi']

In [79]:
L.append('b')

In [81]:
L.clear()

In [82]:
L

[]

In [83]:
l.count('kiwi')

1

In [84]:
l.index('apple')

5

In [85]:
l[5]

'apple'

In [86]:
l.extend(['rock','paper'])

In [87]:
l

['a', 'b', 'c', 8, 4, 'apple', 'mango', 'kiwi', 'rock', 'paper']

In [88]:
t = ('apple', 'mango', 'kiwi', 'rock',)

In [89]:
t

('apple', 'mango', 'kiwi', 'rock')

In [90]:
l

['a', 'b', 'c', 8, 4, 'apple', 'mango', 'kiwi', 'rock', 'paper']

In [92]:
del t[3]

TypeError: 'tuple' object doesn't support item deletion

In [93]:
d = {} dict()

In [95]:
d = {'a':'apple','b':'ball',23:"cat","d":35,3.14:name}

In [96]:
d

{'a': 'apple', 'b': 'ball', 23: 'cat', 'd': 35, 3.14: 'elephant'}

In [97]:
d['a']

'apple'

In [98]:
d[23]

'cat'

In [99]:
d.keys()

dict_keys(['a', 'b', 23, 'd', 3.14])

In [100]:
d.values()

dict_values(['apple', 'ball', 'cat', 35, 'elephant'])

In [101]:
d.items()

dict_items([('a', 'apple'), ('b', 'ball'), (23, 'cat'), ('d', 35), (3.14, 'elephant')])

In [102]:
d['f'] = 'fish'

In [103]:
d

{'a': 'apple', 'b': 'ball', 23: 'cat', 'd': 35, 3.14: 'elephant', 'f': 'fish'}

In [ ]:
del d['f']

In [104]:
d.update({'g':'goat','k':'kiwi'})

In [105]:
d

{'a': 'apple',
 'b': 'ball',
 23: 'cat',
 'd': 35,
 3.14: 'elephant',
 'f': 'fish',
 'g': 'goat',
 'k': 'kiwi'}

In [108]:
for i in range(21,26):
    print(i)

21
22
23
24
25

In [109]:
for i in range(21,31,2):
    print(i)

21
23
25
27
29

In [111]:
for i in l[2:6]:
    print(i)

c
8
4
apple

In [112]:
for i in t:
    print(i)

apple
mango
kiwi
rock

In [114]:
for k,v in d.items():
    print(k,v)

a apple
b ball
23 cat
d 35
3.14 elephant
f fish
g goat
k kiwi

In [ ]:
in, is , not in

In [115]:
a = [1,2,3,1,2,1,2,2,3,4,5]
b = [2,4,5,2,1,3,3,2,1]

In [116]:
for i in range(len(a)):
    for j in range(len(b)):
        if a[i]==b[j]:
            print(a[i])

1
1
2
2
2
3
3
1
1
2
2
2
1
1
2
2
2
2
2
2
3
3
4
5

In [117]:
for i in a:
    for j in b:
        if i==j:
            print(i)

1
1
2
2
2
3
3
1
1
2
2
2
1
1
2
2
2
2
2
2
3
3
4
5

In [119]:
c = []
for i in a:
    if i in b and i not in c:
        c.append(i)

In [120]:
c

[1, 2, 3, 4, 5]

In [121]:
import random as r

r.randint(100,999)

447

In [125]:
list('447')

['4', '4', '7']

### Contact

Mobile :- +91-7418490015

LinkedIn :- https://www.linkedin.com/in/sharmasaravanan/

Notebook :- https://github.com/sharmasaravanan/Machine_learning 
               (Search MSME-AI)

Gdrive :- https://drive.google.com/drive/folders/17dMizJX_2XY845HuCl3Gy54OMBrBJpv7?usp=sharing