### Variable defining

In [1]:
a = 5 # int
b = 3.14 # float
c = 'apple' # string
d = True # bool

In [4]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

### print function

In [5]:
print(a)

5

In [6]:
print(12344)

12344

In [7]:
print("hello world!!!")

hello world!!!

In [8]:
# hello apple
# hello 5

In [15]:
# method-1
print("hello",c)
print("hello",a)
print()

# method-2
print("hello "+c)
print("hello "+str(a))
print()

# method-3
print("hello %s"%c)
print("hello %d"%a)
print()

# method-4
print("hello {}".format(c))
print(f"hello {c}")
print("hello {}".format(a))

hello apple
hello 5

hello apple
hello 5

hello apple
hello 5

hello apple
hello apple
hello 5

In [16]:
# I bought 3kgs of mango for 75.45Rs
w = 3
f = "mango"
p = 75.45

In [19]:
print("I bought",w,"kgs of",f,"for",p,"Rs")
print("I bought "+str(w)+"kgs of "+f+" for "+str(p)+"Rs")
print("I bought %dkgs of %s for %0.2fRs"%(w,f,p))
print("I bought {}kgs of {} for {}Rs".format(w,f,p))
print(f"I bought {w}kgs of {f} for {p}Rs")

I bought 3 kgs of mango for 75.45 Rs
I bought 3kgs of mango for 75.45Rs
I bought 3kgs of mango for 75.45Rs
I bought 3kgs of mango for 75.45Rs
I bought 3kgs of mango for 75.45Rs

### getting input from the user

In [34]:
a = int(input("Enter something."))

Enter something.5

In [35]:
print(a, type(a))

5 <class 'int'>

### operators

" + - * / % // "

In [36]:
print(5+2)
print(5-2)
print(5*2)
print(5/2)
print(5%2)
print(5//2)

7
3
10
2.5
1
2

< > >= <= == !=

In [37]:
print(5>2)
print(5<2)
print(5>=2)
print(5<=2)
print(5==2)
print(5!=2)

True
False
True
False
False
True

not and or

In [39]:
a = 5
b = 7 
print(a<10 and b<10)

True

In [40]:
a = 5
b = 17 
print(a<10 and b<10)

False

In [41]:
a = 5
b = 7 
print(a<10 or b<10)

True

In [42]:
a = 5
b = 17 
print(a<10 or b<10)

True

In [46]:
a = None
print(not a, type(a))

True <class 'NoneType'>

In [45]:
a = 5
print(not a)

False

### if-else

In [49]:
num = int(input("Enter any number: "))
if num % 2 == 0:
    print('even')
else:
    print("odd")

Enter any number: 14
even

In [52]:
num = int(input("Enter any number: "))
if num % 4 == 0:
    print("Number is divisible by 4 and even")
elif num % 2 == 0:
    print('even')
else:
    print("odd")

Enter any number: 5
odd

### task-1

write a python code for a rock_paper_scissor game using the following the conditions

Rock beats scissor

scissor beats paper

paper beats rock

In [58]:
j=["rock","scissor","paper"]
print(f"The choices are {j}")
while 1:
    user=input("Enter your choice :")
    if user=="quit" or user=="q":
        print ("Good Bye....")
        break
    comp = input("Enter your choice :")
    print ("Your choice is ",user,"and computer choice is ",comp)
    if user==comp:
        print ("Game is tie")
        continue
    elif user=="rock":
        if comp=="scissor":
            print ("user won the game")
        else:
            print ("Computer won the game")
    elif user=="scissor":
        if comp=="paper":
            print ("user won the game")
        else:
            print ("computer won the game")
    elif user=="paper":
        if comp=="rock":
            print ("user won the game")
        else:
            print ("computer won the game")
    else:
        print ("Have a nice day....!!!")

The choices are ['rock', 'scissor', 'paper']
Enter your choice :q
Good Bye....

### while loop

In [59]:
i = 0
while i < 5:
    num = int(input("Enter any number: "))
    if num % 4 == 0:
        print("Number is divisible by 4 and even")
    elif num % 2 == 0:
        print('even')
    else:
        print("odd")
    i = i+1 # i += 1

Enter any number: 25
odd
Enter any number: 14
even
Enter any number: 36
Number is divisible by 4 and even
Enter any number: 45
odd
Enter any number: 51
odd

In [60]:
ans = 'y'
while ans == 'y':
    num = int(input("Enter any number: "))
    if num % 4 == 0:
        print("Number is divisible by 4 and even")
    elif num % 2 == 0:
        print('even')
    else:
        print("odd")
    ans = input("Do you want to continue? y/n: ")

Enter any number: 45
odd
Do you want to continue? y/ny
Enter any number: 24
Number is divisible by 4 and even
Do you want to continue? y/nn

In [61]:
ans = 'y'
while ans == 'y':
    num = int(input("Enter any number: "))
    if num % 4 == 0:
        print("Number is divisible by 4 and even")
    elif num % 2 == 0:
        print('even')
    else:
        print("odd")
    ans = input("Do you want to continue? y/n: ")
else:
    print("Game is over")

Enter any number: 14
even
Do you want to continue? y/n: y
Enter any number: 48
Number is divisible by 4 and even
Do you want to continue? y/n: n
Game is over

In [64]:
while 1:
    num = int(input("Enter any number: "))
    
    if num == 15:
        print("Stopping.....")
        break
    elif num == 25:
        print("Skipping.....")
        continue
    
    if num % 4 == 0:
        print("Number is divisible by 4 and even")
    elif num % 2 == 0:
        print('even')
    else:
        print("odd")

Enter any number: 47
odd
Enter any number: 48
Number is divisible by 4 and even
Enter any number: 49
odd
Enter any number: 25
Skipping.....
Enter any number: 45
odd
Enter any number: 15
Stopping.....

### Homework task

calculate the area of any 5 objects  like square,rectangle by asking the user the name of the object and it's corresponding inputs.

refer the example given below

<code>enter the name of the object
circle
enter the radius of the circle 
3
The area of the circle is 28.26sq.cm with radius 3cm</code>

## machine learning

### linear regression

#### importing lib

In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt

#### step-1 load dataset

In [4]:
dataset = pd.read_csv("./Advertising.csv",index_col=0)

In [5]:
dataset.head()

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [10]:
dataset.shape

(200, 4)

In [6]:
x = dataset.loc[:,"TV":"newspaper"]

In [7]:
x.head()

      TV  radio  newspaper
1  230.1   37.8       69.2
2   44.5   39.3       45.1
3   17.2   45.9       69.3
4  151.5   41.3       58.5
5  180.8   10.8       58.4

In [8]:
y = dataset['sales']

In [9]:
y.head()

1    22.1
2    10.4
3     9.3
4    18.5
5    12.9
Name: sales, dtype: float64

#### step-2 split dataset

In [11]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2)

In [12]:
xtrain.shape,xtest.shape

((160, 3), (40, 3))

#### step-3 defining a model

In [13]:
model = LinearRegression()

In [14]:
model

LinearRegression()

#### step-4 training

In [16]:
model.fit(xtrain,ytrain)

LinearRegression()

#### skipping step-5 and step-6 and moving into step-7 cross validation

In [17]:
ypred = model.predict(xtest)

In [18]:
ypred

array([22.20753877,  9.90518078, 12.2312411 ,  9.79353189, 15.21114926,
        7.68861746, 24.09753774, 14.24187195, 10.62424057, 13.15861201,
        3.74173657,  8.79524479, 15.78796963, 19.40744961, 21.70458592,
       20.45763833, 23.20481035, 12.33859536, 11.32304369, 18.98973884,
       13.77153882, 15.01796314, 18.09161217,  9.67425279, 18.117929  ,
       16.24649357, 16.40762442, 16.45346087,  8.37150994, 15.37121279,
       12.15291623, 14.99287124, 15.18219062, 16.19998905, 11.1004823 ,
       17.77228318, 10.11145464, 14.96421525, 20.72010307,  8.13179625])

In [19]:
ytest

129    24.7
19     11.3
178    11.7
39     10.1
157    15.3
33      9.6
99     25.4
161    14.4
72     12.4
64     14.0
9       4.8
144    10.4
26     12.0
125    19.7
43     20.7
1      22.1
18     24.4
191    10.8
32     11.9
34     17.4
78     14.2
124    15.2
21     18.0
139     9.6
170    15.0
96     16.9
41     16.6
195    17.3
57      5.5
98     15.5
2      10.4
163    14.9
86     15.2
179    11.8
165    11.9
106    19.2
158    10.1
27     15.0
85     21.7
25      9.7
Name: sales, dtype: float64

#### metrics

In [20]:
error = sqrt(mean_squared_error(ytest,ypred))

In [21]:
error

1.5346406812121989

#### realtime testing

In [24]:
realtimeInput = [50,50,50]
model.predict([realtimeInput])[0]

14.365056111239143

In [28]:
realtimeInput = [60,50,50]
model.predict([realtimeInput])[0]

14.83025334555604

In [26]:
realtimeInput = [50,60,50]
model.predict([realtimeInput])[0]

16.203535141654662

In [27]:
realtimeInput = [50,50,60]
model.predict([realtimeInput])[0]

14.342829260917465

In [29]:
realtimeInput = [50,50,0]
model.predict([realtimeInput])[0]

14.476190362847536

In [33]:
realtimeInput = [70,80,0]
model.predict([realtimeInput])[0]

20.922021922727886

#### model saving and loading

In [35]:
model

LinearRegression()

In [36]:
loadedModel

NameError: name 'loadedModel' is not defined

In [2]:
import pickle as pk

In [3]:
fileName = 'MSME_LR.model'

In [39]:
pk.dump(model,open(fileName,'wb'))

In [42]:
model.coef_

0.04651972343168971

In [41]:
model.intercept_

2.9578090391854612

In [43]:
model.intercept_ + model.coef_[0] * 70 + model.coef_[1] * 80 + model.coef_[2] * 0

20.922021922727886

In [1]:
model

NameError: name 'model' is not defined

In [4]:
loadedModel = pk.load(open(fileName,'rb'))

In [5]:
loadedModel.coef_

array([ 0.04651972,  0.1838479 , -0.00222269])

In [6]:
loadedModel.intercept_

2.9578090391854612

In [7]:
loadedModel.predict([[70,80,0]])

array([20.92202192])

#### ML Task

boston house price prediction  using three different regression algorithm

In [8]:
import pandas as pd

In [9]:
pd.read_csv("./housePrediction/train.csv")

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500