### Variable defining

In [1]:
a = 5 # int
b = 3.14 # float
c = 'apple' # string
d = True # bool

In [4]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

### print function

In [5]:
print(a)

5

In [6]:
print(12344)

12344

In [7]:
print("hello world!!!")

hello world!!!

In [8]:
# hello apple
# hello 5

In [15]:
# method-1
print("hello",c)
print("hello",a)
print()

# method-2
print("hello "+c)
print("hello "+str(a))
print()

# method-3
print("hello %s"%c)
print("hello %d"%a)
print()

# method-4
print("hello {}".format(c))
print(f"hello {c}")
print("hello {}".format(a))

hello apple
hello 5

hello apple
hello 5

hello apple
hello 5

hello apple
hello apple
hello 5

In [16]:
# I bought 3kgs of mango for 75.45Rs
w = 3
f = "mango"
p = 75.45

In [19]:
print("I bought",w,"kgs of",f,"for",p,"Rs")
print("I bought "+str(w)+"kgs of "+f+" for "+str(p)+"Rs")
print("I bought %dkgs of %s for %0.2fRs"%(w,f,p))
print("I bought {}kgs of {} for {}Rs".format(w,f,p))
print(f"I bought {w}kgs of {f} for {p}Rs")

I bought 3 kgs of mango for 75.45 Rs
I bought 3kgs of mango for 75.45Rs
I bought 3kgs of mango for 75.45Rs
I bought 3kgs of mango for 75.45Rs
I bought 3kgs of mango for 75.45Rs

### getting input from the user

In [34]:
a = int(input("Enter something."))

Enter something.5

In [35]:
print(a, type(a))

5 <class 'int'>

### operators

" + - * / % // "

In [36]:
print(5+2)
print(5-2)
print(5*2)
print(5/2)
print(5%2)
print(5//2)

7
3
10
2.5
1
2

< > >= <= == !=

In [37]:
print(5>2)
print(5<2)
print(5>=2)
print(5<=2)
print(5==2)
print(5!=2)

True
False
True
False
False
True

not and or

In [39]:
a = 5
b = 7 
print(a<10 and b<10)

True

In [40]:
a = 5
b = 17 
print(a<10 and b<10)

False

In [41]:
a = 5
b = 7 
print(a<10 or b<10)

True

In [42]:
a = 5
b = 17 
print(a<10 or b<10)

True

In [46]:
a = None
print(not a, type(a))

True <class 'NoneType'>

In [45]:
a = 5
print(not a)

False

### if-else

In [49]:
num = int(input("Enter any number: "))
if num % 2 == 0:
    print('even')
else:
    print("odd")

Enter any number: 14
even

In [52]:
num = int(input("Enter any number: "))
if num % 4 == 0:
    print("Number is divisible by 4 and even")
elif num % 2 == 0:
    print('even')
else:
    print("odd")

Enter any number: 5
odd

### task-1

write a python code for a rock_paper_scissor game using the following the conditions

Rock beats scissor

scissor beats paper

paper beats rock

In [58]:
j=["rock","scissor","paper"]
print(f"The choices are {j}")
while 1:
    user=input("Enter your choice :")
    if user=="quit" or user=="q":
        print ("Good Bye....")
        break
    comp = input("Enter your choice :")
    print ("Your choice is ",user,"and computer choice is ",comp)
    if user==comp:
        print ("Game is tie")
        continue
    elif user=="rock":
        if comp=="scissor":
            print ("user won the game")
        else:
            print ("Computer won the game")
    elif user=="scissor":
        if comp=="paper":
            print ("user won the game")
        else:
            print ("computer won the game")
    elif user=="paper":
        if comp=="rock":
            print ("user won the game")
        else:
            print ("computer won the game")
    else:
        print ("Have a nice day....!!!")

The choices are ['rock', 'scissor', 'paper']
Enter your choice :q
Good Bye....

### while loop

In [59]:
i = 0
while i < 5:
    num = int(input("Enter any number: "))
    if num % 4 == 0:
        print("Number is divisible by 4 and even")
    elif num % 2 == 0:
        print('even')
    else:
        print("odd")
    i = i+1 # i += 1

Enter any number: 25
odd
Enter any number: 14
even
Enter any number: 36
Number is divisible by 4 and even
Enter any number: 45
odd
Enter any number: 51
odd

In [60]:
ans = 'y'
while ans == 'y':
    num = int(input("Enter any number: "))
    if num % 4 == 0:
        print("Number is divisible by 4 and even")
    elif num % 2 == 0:
        print('even')
    else:
        print("odd")
    ans = input("Do you want to continue? y/n: ")

Enter any number: 45
odd
Do you want to continue? y/ny
Enter any number: 24
Number is divisible by 4 and even
Do you want to continue? y/nn

In [61]:
ans = 'y'
while ans == 'y':
    num = int(input("Enter any number: "))
    if num % 4 == 0:
        print("Number is divisible by 4 and even")
    elif num % 2 == 0:
        print('even')
    else:
        print("odd")
    ans = input("Do you want to continue? y/n: ")
else:
    print("Game is over")

Enter any number: 14
even
Do you want to continue? y/n: y
Enter any number: 48
Number is divisible by 4 and even
Do you want to continue? y/n: n
Game is over

In [64]:
while 1:
    num = int(input("Enter any number: "))
    
    if num == 15:
        print("Stopping.....")
        break
    elif num == 25:
        print("Skipping.....")
        continue
    
    if num % 4 == 0:
        print("Number is divisible by 4 and even")
    elif num % 2 == 0:
        print('even')
    else:
        print("odd")

Enter any number: 47
odd
Enter any number: 48
Number is divisible by 4 and even
Enter any number: 49
odd
Enter any number: 25
Skipping.....
Enter any number: 45
odd
Enter any number: 15
Stopping.....

### Homework task

calculate the area of any 5 objects  like square,rectangle by asking the user the name of the object and it's corresponding inputs.

refer the example given below

<code>enter the name of the object
circle
enter the radius of the circle 
3
The area of the circle is 28.26sq.cm with radius 3cm</code>

### string

In [66]:
name = "elephant"
sent = "elephant is an animal"

In [68]:
print(name[2],name[-6])

e e

In [69]:
name[2:]

'ephant'

In [70]:
name[:5]

'eleph'

In [71]:
name[2:5]

'eph'

In [74]:
name[2:7] ,name[2:7:2]

('ephan', 'ehn')

In [75]:
name[::-1]

'tnahpele'

In [77]:
name.capitalize()
sent.capitalize()

'Elephant is an animal'

In [78]:
name.upper()

'ELEPHANT'

In [79]:
name.lower()

'elephant'

In [80]:
'NaMe'.swapcase()

'nAmE'

In [81]:
sent.title()

'Elephant Is An Animal'

In [82]:
name.count('e')

2

In [85]:
name.find('a')

5

In [84]:
name.index('a')

5

In [86]:
name.find('z')

-1

In [87]:
name.index('z')

ValueError: substring not found

In [88]:
name.endswith("t")

True

In [89]:
name.endswith('T')

False

In [90]:
name.startswith('e')

True

In [94]:
name.center(25,'~')

'~~~~~~~~~elephant~~~~~~~~'

In [100]:
"elephant\tis\tan\tanimal".expandtabs(1)

'elephant is an animal'

In [101]:
name.replace('l','x')

'exephant'

In [102]:
" elephant ".lstrip()

'elephant '

In [103]:
" elephant ".strip()

'elephant'

In [104]:
name.strip("nt")

'elepha'

In [105]:
name.zfill(12)

'0000elephant'

In [106]:
sent.split()

['elephant', 'is', 'an', 'animal']

In [108]:
tmep = sent.split('an')

In [110]:
"an".join(tmep)

'elephant is an animal'

In [111]:
name.isalnum()

True

In [112]:
name.isdecimal()

False

In [113]:
name.isprintable()

True

In [114]:
"\t\$".isprintable()

False

In [115]:
" ".isspace()

True

In [116]:
sent.partition('is')

('elephant ', 'is', ' an animal')

In [118]:
sent.rpartition('an')

('elephant is an ', 'an', 'imal')

### list

In [121]:
l = [] # list()

In [122]:
l

[]

In [123]:
l = ["apple","mango",'orange',23,56,73,3.14,45.86]

In [124]:
l[2]

'orange'

In [125]:
l[::-1]

[45.86, 3.14, 73, 56, 23, 'orange', 'mango', 'apple']

In [126]:
l.append('pine apple')

In [127]:
print(l)

['apple', 'mango', 'orange', 23, 56, 73, 3.14, 45.86, 'pine apple']

In [129]:
l.insert(5,'papaya')

In [131]:
l

['apple', 'mango', 'orange', 23, 56, 'papaya', 73, 3.14, 45.86, 'pine apple']

In [132]:
print(l.pop())

pine apple

In [133]:
l

['apple', 'mango', 'orange', 23, 56, 'papaya', 73, 3.14, 45.86]

In [134]:
l.remove(3.14)

In [135]:
l

['apple', 'mango', 'orange', 23, 56, 'papaya', 73, 45.86]

In [136]:
l.index(23)

3

In [137]:
g = l

In [138]:
g

['apple', 'mango', 'orange', 23, 56, 'papaya', 73, 45.86]

In [139]:
l

['apple', 'mango', 'orange', 23, 56, 'papaya', 73, 45.86]

In [140]:
g.append('pine apple')

In [141]:
g

['apple', 'mango', 'orange', 23, 56, 'papaya', 73, 45.86, 'pine apple']

In [142]:
l

['apple', 'mango', 'orange', 23, 56, 'papaya', 73, 45.86, 'pine apple']

In [143]:
f = l.copy()

In [144]:
f

['apple', 'mango', 'orange', 23, 56, 'papaya', 73, 45.86, 'pine apple']

In [145]:
l

['apple', 'mango', 'orange', 23, 56, 'papaya', 73, 45.86, 'pine apple']

In [146]:
f.pop()

'pine apple'

In [147]:
f

['apple', 'mango', 'orange', 23, 56, 'papaya', 73, 45.86]

In [148]:
l

['apple', 'mango', 'orange', 23, 56, 'papaya', 73, 45.86, 'pine apple']

In [149]:
g == l

True

In [150]:
f == l

False

In [151]:
f

['apple', 'mango', 'orange', 23, 56, 'papaya', 73, 45.86]

In [152]:
f.clear()

In [153]:
f

[]

In [154]:
l.extend(['kiwi','banana'])

In [155]:
l

['apple',
 'mango',
 'orange',
 23,
 56,
 'papaya',
 73,
 45.86,
 'pine apple',
 'kiwi',
 'banana']

In [156]:
l[::-1]

['banana',
 'kiwi',
 'pine apple',
 45.86,
 73,
 'papaya',
 56,
 23,
 'orange',
 'mango',
 'apple']

In [157]:
l

['apple',
 'mango',
 'orange',
 23,
 56,
 'papaya',
 73,
 45.86,
 'pine apple',
 'kiwi',
 'banana']

In [158]:
l.reverse()

In [159]:
l

['banana',
 'kiwi',
 'pine apple',
 45.86,
 73,
 'papaya',
 56,
 23,
 'orange',
 'mango',
 'apple']

In [160]:
l.sort()

TypeError: '<' not supported between instances of 'float' and 'str'

### tuple

In [162]:
t = ('banana',
 'kiwi',
 'pine apple',
 45.86,
 73,
 'papaya',
 'orange')

In [163]:
t

('banana', 'kiwi', 'pine apple', 45.86, 73, 'papaya', 'orange')

In [164]:
l

['banana',
 'kiwi',
 'pine apple',
 45.86,
 73,
 'papaya',
 56,
 23,
 'orange',
 'mango',
 'apple']

In [166]:
l[1] = 'litchi'

In [168]:
t[1] = "litchi"

TypeError: 'tuple' object does not support item assignment

In [169]:
l[6]

56

In [170]:
del l[6]

In [171]:
l

['banana',
 'litchi',
 'pine apple',
 45.86,
 73,
 'papaya',
 23,
 'orange',
 'mango',
 'apple']

In [172]:
del t[5]

TypeError: 'tuple' object doesn't support item deletion

### task-2

write a python program for a guess game you can either let your computer predict the number or you can predict the number.

Hint: the programm should use random number generator. you can use the following snippet

<p>    <code> import random
   temp = random.randint(0,101) </code>
</p>
Note: You can refer to demo

In [178]:
import random as r
import time

print("Think any number between 0-100 and keep it with you, let me find out!!")
time.sleep(6)

min = 0
max = 100
attempt = 0

while 1:
    comp = r.randint(min,max)
    print ("\nIsn't it %d ?"%comp)
    user = input("Enter the option \n a.high \n b.low \n c.Bingo \n")
    attempt += 1
    if user == "low" or user == "b":
        min = comp + 1
        continue
    elif user == "high" or user == "a":
        max = comp - 1
        continue
    elif user == "bingo" or user == "c":
        print ("\nThe number is in your mind is %d and computer took %d attempts"%(comp,attempt))
        break
    else:
        print ("\nPlease enter the valid option")

Think any number between 0-100 and keep it with you, let me find out!!

Isn't it 0 ?
Enter the option
 a.high
 b.low
 c.Bingo
c

The number is in your mind is 0 and computer took 1 attempts

### dictionary

In [180]:
D = {} #dict()

In [181]:
d = {'a':"apple",2:"ball",3.14:4566,'l':l,'t':t}

In [182]:
d

{'a': 'apple',
 2: 'ball',
 3.14: 4566,
 'l': ['banana',
  'litchi',
  'pine apple',
  45.86,
  73,
  'papaya',
  23,
  'orange',
  'mango',
  'apple'],
 't': ('banana', 'kiwi', 'pine apple', 45.86, 73, 'papaya', 'orange')}

In [183]:
d['a']

'apple'

In [185]:
d[2] = 'bat'

In [186]:
del d[2]

{'a': 'apple',
 2: 'bat',
 3.14: 4566,
 'l': ['banana',
  'litchi',
  'pine apple',
  45.86,
  73,
  'papaya',
  23,
  'orange',
  'mango',
  'apple'],
 't': ('banana', 'kiwi', 'pine apple', 45.86, 73, 'papaya', 'orange')}

In [188]:
d['l']

['banana',
 'litchi',
 'pine apple',
 45.86,
 73,
 'papaya',
 23,
 'orange',
 'mango',
 'apple']

In [189]:
d['l'].append('kiwi')

In [190]:
d

{'a': 'apple',
 2: 'bat',
 3.14: 4566,
 'l': ['banana',
  'litchi',
  'pine apple',
  45.86,
  73,
  'papaya',
  23,
  'orange',
  'mango',
  'apple',
  'kiwi'],
 't': ('banana', 'kiwi', 'pine apple', 45.86, 73, 'papaya', 'orange')}

In [194]:
d.fromkeys(l)

{'banana': None,
 'litchi': None,
 'pine apple': None,
 45.86: None,
 73: None,
 'papaya': None,
 23: None,
 'orange': None,
 'mango': None,
 'apple': None,
 'kiwi': None}

In [195]:
d['a']

'apple'

In [196]:
d['x']

KeyError: 'x'

In [197]:
d.get('a')

'apple'

In [198]:
d.get('x')

In [199]:
d.items()

dict_items([('a', 'apple'), (2, 'bat'), (3.14, 4566), ('l', ['banana', 'litchi', 'pine apple', 45.86, 73, 'papaya', 23, 'orange', 'mango', 'apple', 'kiwi']), ('t', ('banana', 'kiwi', 'pine apple', 45.86, 73, 'papaya', 'orange'))])

In [200]:
d.keys()

dict_keys(['a', 2, 3.14, 'l', 't'])

In [201]:
d.values()

dict_values(['apple', 'bat', 4566, ['banana', 'litchi', 'pine apple', 45.86, 73, 'papaya', 23, 'orange', 'mango', 'apple', 'kiwi'], ('banana', 'kiwi', 'pine apple', 45.86, 73, 'papaya', 'orange')])

In [203]:
d.pop('t')

('banana', 'kiwi', 'pine apple', 45.86, 73, 'papaya', 'orange')

In [204]:
d.popitem()

('l',
 ['banana',
  'litchi',
  'pine apple',
  45.86,
  73,
  'papaya',
  23,
  'orange',
  'mango',
  'apple',
  'kiwi'])

In [207]:
d.update({"dict":{'a':"apple",'b':"ball"}})

In [208]:
d

{'a': 'apple', 2: 'bat', 3.14: 4566, 'dict': {'a': 'apple', 'b': 'ball'}}

### for loop

In [209]:
for i in range(5):
    print("hi")

hi
hi
hi
hi
hi

In [210]:
for _ in range(5):
    print("hi")

hi
hi
hi
hi
hi

In [211]:
for i in range(len(c)):
    print(i)

0
1
2
3
4

In [214]:
for i in l:
    print(i)
    print()

banana

litchi

pine apple

45.86

73

papaya

23

orange

mango

apple

kiwi

In [216]:
for i,j in zip(l,t):
    print(i,j)

banana banana
litchi kiwi
pine apple pine apple
45.86 45.86
73 73
papaya papaya
23 orange

In [217]:
for i in d.items():
    print(i)

('a', 'apple')
(2, 'bat')
(3.14, 4566)
('dict', {'a': 'apple', 'b': 'ball'})

In [218]:
for k,v in d.items():
    print(k,'->',v)

a -> apple
2 -> bat
3.14 -> 4566
dict -> {'a': 'apple', 'b': 'ball'}

In [219]:
for i in d.keys():
    print(i)

a
2
3.14
dict

In [221]:
temp = []
for i in d.values():
    temp.append(i)

In [222]:
temp

['apple', 'bat', 4566, {'a': 'apple', 'b': 'ball'}]

In [ ]:
import random as r
import time

print("Think any number between 0-100 and keep it with you, let me find out!!")
time.sleep(6)

min = 0
max = 100
attempt = 0

while 1:
    comp = r.randint(min,max)
    print ("\nIsn't it %d ?"%comp)
    user = input("Enter the option \n a.high \n b.low \n c.Bingo \n")
    attempt += 1
    if user == "low" or user == "b":
        min = comp + 1
        continue
    elif user == "high" or user == "a":
        max = comp - 1
        continue
    elif user == "bingo" or user == "c":
        print ("\nThe number is in your mind is %d and computer took %d attempts"%(comp,attempt))
        break
    else:
        print ("\nPlease enter the valid option")